
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    bangs
    Version: 0.15.0
    Licence: MIT
    Repo   : https://github.com/chharvey/bangs.git
    Home   : http://chharvey.github.io/bangs/
    Author : https://chharvey.github.io/
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    bangs.less
\*================================*/


// # LAYOUT
@import url('build/_display.less');

@import url('build/_column-count.less');
@import url('build/_column-width.less');
@import url('build/_column-gap.less');
@import url('build/_column-rule-width.less');
@import url('build/_column-rule-style.less');
@import url('build/_column-rule-color.less');
@import url('build/_column-fill.less');
@import url('build/_column-span.less');

@import url('build/_flex-direction.less');
@import url('build/_flex-wrap.less');
@import url('build/_flex.less');
@import url('build/_order.less');

@import url('build/_grid-template-columns.less');
@import url('build/_grid-template-rows.less');
@import url('build/_grid-column-gap.less');
@import url('build/_grid-row-gap.less');

@import url('build/_justify-content.less');
@import url('build/_align-content.less');
@import url('build/_justify-items.less');
@import url('build/_align-items.less');
@import url('build/_justify-self.less');
@import url('build/_align-self.less');

@import url('build/_position.less');
@import url('build/_top.less');
@import url('build/_bottom.less');
@import url('build/_left.less');
@import url('build/_right.less');

@import url('build/_float.less');
@import url('build/_clear.less');
@import url('build/_z-index.less');



// # BOX MODEL
@g-vru: 1.5rem;
@import url('build/_box-sizing.less');
@import url('build/_width.less');
@import url('build/_margin.less');
@import url('build/_margin-top.less');
@import url('build/_margin-bottom.less');
@import url('build/_margin-left.less');
@import url('build/_margin-right.less');
@import url('src/_margin.less'); // NOTE source code for double margins
@import url('build/_padding.less');
@import url('build/_padding-top.less');
@import url('build/_padding-bottom.less');
@import url('build/_padding-left.less');
@import url('build/_padding-right.less');
@import url('src/_padding.less'); // NOTE source code for double padding
@import url('build/_overflow.less');
@import url('build/_text-overflow.less');



// # TYPOGRAPHY
@import url('build/_font-family.less');
@import url('build/_font-weight.less');
@import url('build/_font-stretch.less');
@import url('build/_font-style.less');
@import url('build/_font-size.less');
@import url('build/_font-kerning.less');
@import url('build/_font-variant.less');
@import url('build/_font-variant-position.less');
@import url('build/_font-variant-caps.less');
@import url('build/_line-height.less');

@import url('build/_text-transform.less');
@import url('build/_white-space.less');
@import url('build/_text-align.less');
@import url('build/_text-justify.less');
@import url('build/_vertical-align.less');
@import url('build/_word-spacing.less');
@import url('build/_letter-spacing.less');
@import url('build/_text-indent.less');



// # BOX COSMETICS
@import url('build/_background-image.less');
@import url('build/_background-position.less');
@import url('build/_background-repeat.less');
@import url('build/_background-origin.less');
@import url('build/_background-clip.less');
@import url('build/_background-size.less');
@import url('build/_background-attachment.less');
@import url('build/_background-color.less');

@import url('build/_border-width.less');
@import url('build/_border-style.less');
@import url('build/_border-color.less');
@import url('build/_border-radius.less');

@import url('build/_box-shadow.less');
@import url('build/_opacity.less');
@import url('build/_visibility.less');



// # TEXT COSMETICS
@import url('build/_color.less');
@import url('build/_text-decoration.less');
@import url('build/_text-decoration-line.less');
@import url('build/_text-decoration-style.less');
@import url('build/_text-decoration-color.less');
@import url('build/_text-shadow.less');
@import url('build/_quotes.less');



// # OTHER
@import url('build/_list-style-type.less');
@import url('build/_list-style-image.less');
@import url('build/_list-style-position.less');
