
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    bangs
    Version: 0.10.1
    Licence: MIT
    Repo   : https://github.com/chharvey/bangs.git
    Home   : https://github.com/chharvey/bangs/blob/gh-pages/README.md
    Author : https://chharvey.github.io/
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    bangs.less
\*================================*/


// # LAYOUT
@import url('styles/_display.less');
@import url('styles/_position.less');
@import url('styles/_left.less');
@import url('styles/_right.less');
@import url('styles/_top.less');
@import url('styles/_bottom.less');
@import url('styles/_float.less');
@import url('styles/_clear.less');
@import url('styles/_z-index.less');
@import url('styles/_vertical-align.less');

@import url('styles/_flex-direction.less');
@import url('styles/_flex-wrap.less');
@import url('styles/_justify-content.less');
@import url('styles/_align-content.less');
@import url('styles/_align-items.less');
@import url('styles/_align-self.less');
@import url('styles/_order.less');
@import url('styles/_flex.less');


// # BOX STRUCTURE
@import url('styles/_box-sizing.less');
@import url('styles/_width.less');
@import url('styles/_padding.less');
@import url('styles/_margin.less');


// # TEXT STRUCTURE
@import url('styles/_font-style.less');
@import url('styles/_font-variant.less');
@import url('styles/_font-weight.less');
@import url('styles/_font-size.less');
@import url('styles/_font-family.less');
@import url('styles/_line-height.less');

@import url('styles/_letter-spacing.less');
@import url('styles/_word-spacing.less');
@import url('styles/_text-align.less');
@import url('styles/_text-indent.less');
@import url('styles/_white-space.less');
@import url('styles/_overflow-wrap.less');
@import url('styles/_column-count.less');
@import url('styles/_column-width.less');
@import url('styles/_page-break.less');


// # BOX COSMETICS
@import url('styles/_border-style.less');
@import url('styles/_border-color.less');

@import url('styles/_background-image.less');
@import url('styles/_background-position.less');
@import url('styles/_background-size.less');
@import url('styles/_background-repeat.less');
@import url('styles/_background-attachment.less');
@import url('styles/_background-origin.less');
@import url('styles/_background-clip.less');
@import url('styles/_background-color.less');

@import url('styles/_box-shadow.less');
@import url('styles/_overflow.less');
@import url('styles/_opacity.less');
@import url('styles/_visibility.less');


// # TEXT COSMETICS
@import url('styles/_text-transform.less');
@import url('styles/_text-decoration.less');
@import url('styles/_text-shadow.less');
@import url('styles/_text-overflow.less');

@import url('styles/_list-style-type.less');
@import url('styles/_list-style-position.less');
@import url('styles/_list-style-image.less');

@import url('styles/_color.less');


// # OTHER
