/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    bangs.less
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*################################*\
    _display.less
\*################################*/
.\!d\:0 {
  display: initial      !important;
}
.\!d\:i {
  display: inherit      !important;
}
.\!d\:n {
  display: none         !important;
}
.\!d\:bk {
  display: block        !important;
}
.\!d\:il {
  display: inline       !important;
}
.\!d\:ib {
  display: inline-block !important;
}
.\!d\:fx {
  display: flex         !important;
}
@media screen {
  .\!d\:0\@s {
    display: initial      !important;
  }
  .\!d\:i\@s {
    display: inherit      !important;
  }
  .\!d\:n\@s {
    display: none         !important;
  }
  .\!d\:bk\@s {
    display: block        !important;
  }
  .\!d\:il\@s {
    display: inline       !important;
  }
  .\!d\:ib\@s {
    display: inline-block !important;
  }
  .\!d\:fx\@s {
    display: flex         !important;
  }
}
@media print {
  .\!d\:0\@p {
    display: initial      !important;
  }
  .\!d\:i\@p {
    display: inherit      !important;
  }
  .\!d\:n\@p {
    display: none         !important;
  }
  .\!d\:bk\@p {
    display: block        !important;
  }
  .\!d\:il\@p {
    display: inline       !important;
  }
  .\!d\:ib\@p {
    display: inline-block !important;
  }
  .\!d\:fx\@p {
    display: flex         !important;
  }
}
/*################################*\
    _width.less
\*################################*/
.\!w\:1o1 {
  width: 100% !important;
}
.\!w\:1o2 {
  width: 50% !important;
}
.\!w\:2o2 {
  width: 100% !important;
}
.\!w\:1o3 {
  width: 33.33333333% !important;
}
.\!w\:2o3 {
  width: 66.66666667% !important;
}
.\!w\:3o3 {
  width: 100% !important;
}
.\!w\:1o4 {
  width: 25% !important;
}
.\!w\:2o4 {
  width: 50% !important;
}
.\!w\:3o4 {
  width: 75% !important;
}
.\!w\:4o4 {
  width: 100% !important;
}
.\!w\:1o5 {
  width: 20% !important;
}
.\!w\:2o5 {
  width: 40% !important;
}
.\!w\:3o5 {
  width: 60% !important;
}
.\!w\:4o5 {
  width: 80% !important;
}
.\!w\:5o5 {
  width: 100% !important;
}
.\!w\:1o6 {
  width: 16.66666667% !important;
}
.\!w\:2o6 {
  width: 33.33333333% !important;
}
.\!w\:3o6 {
  width: 50% !important;
}
.\!w\:4o6 {
  width: 66.66666667% !important;
}
.\!w\:5o6 {
  width: 83.33333333% !important;
}
.\!w\:6o6 {
  width: 100% !important;
}
@media screen {
  .\!w\:1o1\@s {
    width: 100% !important;
  }
  .\!w\:1o2\@s {
    width: 50% !important;
  }
  .\!w\:2o2\@s {
    width: 100% !important;
  }
  .\!w\:1o3\@s {
    width: 33.33333333% !important;
  }
  .\!w\:2o3\@s {
    width: 66.66666667% !important;
  }
  .\!w\:3o3\@s {
    width: 100% !important;
  }
  .\!w\:1o4\@s {
    width: 25% !important;
  }
  .\!w\:2o4\@s {
    width: 50% !important;
  }
  .\!w\:3o4\@s {
    width: 75% !important;
  }
  .\!w\:4o4\@s {
    width: 100% !important;
  }
  .\!w\:1o5\@s {
    width: 20% !important;
  }
  .\!w\:2o5\@s {
    width: 40% !important;
  }
  .\!w\:3o5\@s {
    width: 60% !important;
  }
  .\!w\:4o5\@s {
    width: 80% !important;
  }
  .\!w\:5o5\@s {
    width: 100% !important;
  }
  .\!w\:1o6\@s {
    width: 16.66666667% !important;
  }
  .\!w\:2o6\@s {
    width: 33.33333333% !important;
  }
  .\!w\:3o6\@s {
    width: 50% !important;
  }
  .\!w\:4o6\@s {
    width: 66.66666667% !important;
  }
  .\!w\:5o6\@s {
    width: 83.33333333% !important;
  }
  .\!w\:6o6\@s {
    width: 100% !important;
  }
}
@media print {
  .\!w\:1o1\@p {
    width: 100% !important;
  }
  .\!w\:1o2\@p {
    width: 50% !important;
  }
  .\!w\:2o2\@p {
    width: 100% !important;
  }
  .\!w\:1o3\@p {
    width: 33.33333333% !important;
  }
  .\!w\:2o3\@p {
    width: 66.66666667% !important;
  }
  .\!w\:3o3\@p {
    width: 100% !important;
  }
  .\!w\:1o4\@p {
    width: 25% !important;
  }
  .\!w\:2o4\@p {
    width: 50% !important;
  }
  .\!w\:3o4\@p {
    width: 75% !important;
  }
  .\!w\:4o4\@p {
    width: 100% !important;
  }
  .\!w\:1o5\@p {
    width: 20% !important;
  }
  .\!w\:2o5\@p {
    width: 40% !important;
  }
  .\!w\:3o5\@p {
    width: 60% !important;
  }
  .\!w\:4o5\@p {
    width: 80% !important;
  }
  .\!w\:5o5\@p {
    width: 100% !important;
  }
  .\!w\:1o6\@p {
    width: 16.66666667% !important;
  }
  .\!w\:2o6\@p {
    width: 33.33333333% !important;
  }
  .\!w\:3o6\@p {
    width: 50% !important;
  }
  .\!w\:4o6\@p {
    width: 66.66666667% !important;
  }
  .\!w\:5o6\@p {
    width: 83.33333333% !important;
  }
  .\!w\:6o6\@p {
    width: 100% !important;
  }
}
