doctype html
html
  head
    title Bangs
    meta(charset="utf-8")
    meta(name="author", content="Chris Harvey")
    meta(name="description", content="Bangs are unopinionated, single-responsibility CSS class selectors with one property and marked with !important.")
    link(rel="stylesheet", href="node_modules/xmeter/xmeter.min.css")
    link(rel="stylesheet", href="bangs.css")
    //- link(rel="stylesheet", href="bangs.min.css")
    link(rel="stylesheet", href="doc/styles/index.css")
  body
    main
      h1.c-Title Bangs!
      p.c-Lede Unopinionated, single-responsibility CSS class selectors with one property and marked with #[code !important].
      //- LAYOUT
      include ./doc/include/_display.jade
      include ./doc/include/_position.jade
      include ./doc/include/_float.jade
      include ./doc/include/_vertical-align.jade
      include ./doc/include/_justify-content.jade
      include ./doc/include/_order.jade
      //- BOX STRUCTURE
      include ./doc/include/_box-sizing.jade
      include ./doc/include/_width.jade
      include ./doc/include/_padding.jade
      include ./doc/include/_margin.jade
      //- TEXT STRUCTURE
      include ./doc/include/_font-style.jade
      include ./doc/include/_font-variant.jade
      include ./doc/include/_font-weight.jade
      include ./doc/include/_font-size.jade
      include ./doc/include/_font-family.jade
      include ./doc/include/_line-height.jade
      include ./doc/include/_letter-spacing.jade
      include ./doc/include/_word-spacing.jade
      include ./doc/include/_text-align.jade
      include ./doc/include/_text-indent.jade
      include ./doc/include/_white-space.jade
      include ./doc/include/_overflow-wrap.jade
      include ./doc/include/_page-break.jade
      //- BOX COSMETICS
      include ./doc/include/_background-image.jade
      include ./doc/include/_background-size.jade
      include ./doc/include/_background-repeat.jade
      include ./doc/include/_background-attachment.jade
      include ./doc/include/_background-origin.jade
      include ./doc/include/_background-clip.jade
      include ./doc/include/_background-color.jade
      include ./doc/include/_overflow.jade
      include ./doc/include/_opacity.jade
      include ./doc/include/_visibility.jade
      //- TEXT COSMETICS
      include ./doc/include/_text-rendering.jade
      include ./doc/include/_text-transform.jade
      include ./doc/include/_text-decoration.jade
      include ./doc/include/_text-overflow.jade
      include ./doc/include/_list-style-type.jade
      include ./doc/include/_list-style-position.jade
      include ./doc/include/_list-style-image.jade
      include ./doc/include/_color.jade
      //- OTHER
