
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    bangs
    Version: 0.15.0
    Licence: MIT
    Repo   : https://github.com/chharvey/bangs.git
    Home   : http://chharvey.github.io/bangs/
    Author : https://chharvey.github.io/
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    bangs.less
\*================================*/


// # LAYOUT
@import url('../dist/_display.less');

@import url('../dist/_column-count.less');
@import url('../dist/_column-width.less');
@import url('../dist/_column-gap.less');
@import url('../dist/_column-rule-width.less');
@import url('../dist/_column-rule-style.less');
@import url('../dist/_column-rule-color.less');
@import url('../dist/_column-fill.less');
@import url('../dist/_column-span.less');

@import url('../dist/_flex-direction.less');
@import url('../dist/_flex-wrap.less');
@import url('../dist/_flex.less');
@import url('../dist/_order.less');

@import url('../dist/_grid-template-rows.less');
@import url('../dist/_grid-template-columns.less');
@import url('../dist/_grid-row-gap.less');
@import url('../dist/_grid-column-gap.less');

@import url('../dist/_align-content.less');
@import url('../dist/_justify-content.less');
@import url('../dist/_align-items.less');
@import url('../dist/_justify-items.less');
@import url('../dist/_align-self.less');
@import url('../dist/_justify-self.less');

@import url('../dist/_position.less');
@import url('../dist/_top.less');
@import url('../dist/_bottom.less');
@import url('../dist/_left.less');
@import url('../dist/_right.less');

@import url('../dist/_float.less');
@import url('../dist/_clear.less');
@import url('../dist/_z-index.less');



// # BOX MODEL
@g-vru: 1.5rem;
@import url('../dist/_box-sizing.less');
@import url('../dist/_width.less');
@import url('../dist/_margin.less');
@import url('../dist/_margin-top.less');
@import url('../dist/_margin-bottom.less');
@import url('../dist/_margin-left.less');
@import url('../dist/_margin-right.less');
@import url('./_margin.less'); // NOTE source code for double margins
@import url('../dist/_padding.less');
@import url('../dist/_padding-top.less');
@import url('../dist/_padding-bottom.less');
@import url('../dist/_padding-left.less');
@import url('../dist/_padding-right.less');
@import url('./_padding.less'); // NOTE source code for double padding
@import url('../dist/_overflow.less');
@import url('../dist/_text-overflow.less');



// # TYPOGRAPHY
@import url('../dist/_font-family.less');
@import url('../dist/_font-weight.less');
@import url('../dist/_font-stretch.less');
@import url('../dist/_font-style.less');
@import url('../dist/_font-size.less');
@import url('../dist/_font-kerning.less');
@import url('../dist/_font-variant.less');
@import url('../dist/_font-variant-position.less');
@import url('../dist/_font-variant-caps.less');
@import url('../dist/_line-height.less');

@import url('../dist/_text-transform.less');
@import url('../dist/_white-space.less');
@import url('../dist/_text-align.less');
@import url('../dist/_text-justify.less');
@import url('../dist/_vertical-align.less');
@import url('../dist/_word-spacing.less');
@import url('../dist/_letter-spacing.less');
@import url('../dist/_text-indent.less');



// # BOX COSMETICS
@import url('../dist/_background-image.less');
@import url('../dist/_background-position.less');
@import url('../dist/_background-repeat.less');
@import url('../dist/_background-origin.less');
@import url('../dist/_background-clip.less');
@import url('../dist/_background-size.less');
@import url('../dist/_background-attachment.less');
@import url('../dist/_background-color.less');

@import url('../dist/_border-width.less');
@import url('../dist/_border-style.less');
@import url('../dist/_border-color.less');
@import url('../dist/_border-radius.less');

@import url('../dist/_box-shadow.less');
@import url('../dist/_opacity.less');
@import url('../dist/_visibility.less');



// # TEXT COSMETICS
@import url('../dist/_color.less');
@import url('../dist/_text-decoration.less');
@import url('../dist/_text-decoration-line.less');
@import url('../dist/_text-decoration-style.less');
@import url('../dist/_text-decoration-color.less');
@import url('../dist/_text-shadow.less');
@import url('../dist/_quotes.less');



// # OTHER
@import url('../dist/_list-style-type.less');
@import url('../dist/_list-style-image.less');
@import url('../dist/_list-style-position.less');
