section#align-content.ss-flexbox
  h2 _align-content.less
  section
    h3 all media queries
    div(class="!xc:0 ")   .!xc:0    { align-content: initial       !important; }
    div(class="!xc:i ")   .!xc:i    { align-content: inherit       !important; }
    div(class="!xc:s ")   .!xc:s    { align-content: stretch       !important; }
    div(class="!xc:xs")   .!xc:xs   { align-content: flex-start    !important; }
    div(class="!xc:xe")   .!xc:xe   { align-content: flex-end      !important; }
    div(class="!xc:c ")   .!xc:c    { align-content: center        !important; }
    div(class="!xc:sb")   .!xc:sb   { align-content: space-between !important; }
    div(class="!xc:sa")   .!xc:sa   { align-content: space-around  !important; }
  section
    h3 @media screen
    div(class="!xc:0@s")  .!xc:0@s  { align-content: initial       !important; }
    div(class="!xc:i@s")  .!xc:i@s  { align-content: inherit       !important; }
    div(class="!xc:s@s")  .!xc:s@s  { align-content: stretch       !important; }
    div(class="!xc:xs@s") .!xc:xs@s { align-content: flex-start    !important; }
    div(class="!xc:xe@s") .!xc:xe@s { align-content: flex-end      !important; }
    div(class="!xc:c@s")  .!xc:c@s  { align-content: center        !important; }
    div(class="!xc:sb@s") .!xc:sb@s { align-content: space-between !important; }
    div(class="!xc:sa@s") .!xc:sa@s { align-content: space-around  !important; }
  section
    h3 @media print
    div(class="!xc:0@p")  .!xc:0@p  { align-content: initial       !important; }
    div(class="!xc:i@p")  .!xc:i@p  { align-content: inherit       !important; }
    div(class="!xc:s@p")  .!xc:s@p  { align-content: stretch       !important; }
    div(class="!xc:xs@p") .!xc:xs@p { align-content: flex-start    !important; }
    div(class="!xc:xe@p") .!xc:xe@p { align-content: flex-end      !important; }
    div(class="!xc:c@p")  .!xc:c@p  { align-content: center        !important; }
    div(class="!xc:sb@p") .!xc:sb@p { align-content: space-between !important; }
    div(class="!xc:sa@p") .!xc:sa@p { align-content: space-around  !important; }
