section#align-items.ss-flexbox
  h2 _align-items.less
  section
    h3 all media queries
    div(class="!xi:0 ")   .!xi:0    { align-items: initial    !important; }
    div(class="!xi:i ")   .!xi:i    { align-items: inherit    !important; }
    div(class="!xi:s ")   .!xi:s    { align-items: stretch    !important; }
    div(class="!xi:xs")   .!xi:xs   { align-items: flex-start !important; }
    div(class="!xi:xe")   .!xi:xe   { align-items: flex-end   !important; }
    div(class="!xi:c ")   .!xi:c    { align-items: center     !important; }
    div(class="!xi:b ")   .!xi:b    { align-items: baseline   !important; }
  section
    h3 @media screen
    div(class="!xi:0@s ") .!xi:0@s  { align-items: initial    !important; }
    div(class="!xi:i@s ") .!xi:i@s  { align-items: inherit    !important; }
    div(class="!xi:s@s ") .!xi:s@s  { align-items: stretch    !important; }
    div(class="!xi:xs@s") .!xi:xs@s { align-items: flex-start !important; }
    div(class="!xi:xe@s") .!xi:xe@s { align-items: flex-end   !important; }
    div(class="!xi:c@s ") .!xi:c@s  { align-items: center     !important; }
    div(class="!xi:b@s ") .!xi:b@s  { align-items: baseline   !important; }
  section
    h3 @media print
    div(class="!xi:0@p ") .!xi:0@p  { align-items: initial    !important; }
    div(class="!xi:i@p ") .!xi:i@p  { align-items: inherit    !important; }
    div(class="!xi:s@p ") .!xi:s@p  { align-items: stretch    !important; }
    div(class="!xi:xs@p") .!xi:xs@p { align-items: flex-start !important; }
    div(class="!xi:xe@p") .!xi:xe@p { align-items: flex-end   !important; }
    div(class="!xi:c@p ") .!xi:c@p  { align-items: center     !important; }
    div(class="!xi:b@p ") .!xi:b@p  { align-items: baseline   !important; }
