section#align-self.ss-flexbox
  h2 _align-self.less
  section
    h3 all media queries
    div(class="!xd:0 ")   .!xd:0    { flex-direction: initial        !important; }
    div(class="!xd:i ")   .!xd:i    { flex-direction: inherit        !important; }
    div(class="!xd:r ")   .!xd:r    { flex-direction: row            !important; }
    div(class="!xd:c ")   .!xd:c    { flex-direction: column         !important; }
    div(class="!xd:rr")   .!xd:rr   { flex-direction: row-reverse    !important; }
    div(class="!xd:cr")   .!xd:cr   { flex-direction: column-reverse !important; }
  section
    h3 @media screen
    div(class="!xd:0@s ") .!xd:0@s  { flex-direction: initial        !important; }
    div(class="!xd:i@s ") .!xd:i@s  { flex-direction: inherit        !important; }
    div(class="!xd:r@s ") .!xd:r@s  { flex-direction: row            !important; }
    div(class="!xd:c@s ") .!xd:c@s  { flex-direction: column         !important; }
    div(class="!xd:rr@s") .!xd:rr@s { flex-direction: row-reverse    !important; }
    div(class="!xd:cr@s") .!xd:cr@s { flex-direction: column-reverse !important; }
  section
    h3 @media print
    div(class="!xd:0@p ") .!xd:0@p  { flex-direction: initial        !important; }
    div(class="!xd:i@p ") .!xd:i@p  { flex-direction: inherit        !important; }
    div(class="!xd:r@p ") .!xd:r@p  { flex-direction: row            !important; }
    div(class="!xd:c@p ") .!xd:c@p  { flex-direction: column         !important; }
    div(class="!xd:rr@p") .!xd:rr@p { flex-direction: row-reverse    !important; }
    div(class="!xd:cr@p") .!xd:cr@p { flex-direction: column-reverse !important; }
