section#align-self.ss-flexbox
  h2 _align-self.less
  section
    h3 all media queries
    div(class="!xs:0 ")   .!xs:0    { align-self: initial    !important; }
    div(class="!xs:i ")   .!xs:i    { align-self: inherit    !important; }
    div(class="!xs:a ")   .!xs:a    { align-self: auto       !important; }
    div(class="!xs:s ")   .!xs:s    { align-self: stretch    !important; }
    div(class="!xs:xs")   .!xs:xs   { align-self: flex-start !important; }
    div(class="!xs:xe")   .!xs:xe   { align-self: flex-end   !important; }
    div(class="!xs:c ")   .!xs:c    { align-self: center     !important; }
    div(class="!xs:b ")   .!xs:b    { align-self: baseline   !important; }
  section
    h3 @media screen
    div(class="!xs:0@s ") .!xs:0@s  { align-self: initial    !important; }
    div(class="!xs:i@s ") .!xs:i@s  { align-self: inherit    !important; }
    div(class="!xs:a@s ") .!xs:a@s  { align-self: auto       !important; }
    div(class="!xs:s@s ") .!xs:s@s  { align-self: stretch    !important; }
    div(class="!xs:xs@s") .!xs:xs@s { align-self: flex-start !important; }
    div(class="!xs:xe@s") .!xs:xe@s { align-self: flex-end   !important; }
    div(class="!xs:c@s ") .!xs:c@s  { align-self: center     !important; }
    div(class="!xs:b@s ") .!xs:b@s  { align-self: baseline   !important; }
  section
    h3 @media print
    div(class="!xs:0@p ") .!xs:0@p  { align-self: initial    !important; }
    div(class="!xs:i@p ") .!xs:i@p  { align-self: inherit    !important; }
    div(class="!xs:a@p ") .!xs:a@p  { align-self: auto       !important; }
    div(class="!xs:s@p ") .!xs:s@p  { align-self: stretch    !important; }
    div(class="!xs:xs@p") .!xs:xs@p { align-self: flex-start !important; }
    div(class="!xs:xe@p") .!xs:xe@p { align-self: flex-end   !important; }
    div(class="!xs:c@p ") .!xs:c@p  { align-self: center     !important; }
    div(class="!xs:b@p ") .!xs:b@p  { align-self: baseline   !important; }
