section#background-size
  h2 _background-size.less
  section
    h3 all media queries
    div(class="!bz:0")   .\!bz\:0   { background-size: initial !important; }
    div(class="!bz:i")   .\!bz\:i   { background-size: inherit !important; }
    div(class="!bz:a")   .\!bz\:a   { background-size: auto    !important; }
    div(class="!bz:s")   .\!bz\:s   { background-size: contain !important; }
    div(class="!bz:l")   .\!bz\:l   { background-size: cover   !important; }
  section
    h3 @media screen
    div(class="!bz:0@s") .\!bz\:0@s { background-size: initial !important; }
    div(class="!bz:i@s") .\!bz\:i@s { background-size: inherit !important; }
    div(class="!bz:a@s") .\!bz\:a@s { background-size: auto    !important; }
    div(class="!bz:s@s") .\!bz\:s@s { background-size: contain !important; }
    div(class="!bz:l@s") .\!bz\:l@s { background-size: cover   !important; }
  section
    h3 @media print
    div(class="!bz:0@p") .\!bz\:0@p { background-size: initial !important; }
    div(class="!bz:i@p") .\!bz\:i@p { background-size: inherit !important; }
    div(class="!bz:a@p") .\!bz\:a@p { background-size: auto    !important; }
    div(class="!bz:s@p") .\!bz\:s@p { background-size: contain !important; }
    div(class="!bz:l@p") .\!bz\:l@p { background-size: cover   !important; }
