section#background-origin
  h2 _background-origin.less
  section
    h3 all media queries
    div(class="!bo:0")   .!bo:0   { background-origin: initial     !important; }
    div(class="!bo:i")   .!bo:i   { background-origin: inherit     !important; }
    div(class="!bo:c")   .!bo:c   { background-origin: content-box !important; }
    div(class="!bo:p")   .!bo:p   { background-origin: padding-box !important; }
    div(class="!bo:b")   .!bo:b   { background-origin: border-box  !important; }
  section
    h3 @media screen
    div(class="!bo:0@s") .!bo:0@s { background-origin: initial     !important; }
    div(class="!bo:i@s") .!bo:i@s { background-origin: inherit     !important; }
    div(class="!bo:c@s") .!bo:c@s { background-origin: content-box !important; }
    div(class="!bo:p@s") .!bo:p@s { background-origin: padding-box !important; }
    div(class="!bo:b@s") .!bo:b@s { background-origin: border-box  !important; }
  section
    h3 @media print
    div(class="!bo:0@p") .!bo:0@p { background-origin: initial     !important; }
    div(class="!bo:i@p") .!bo:i@p { background-origin: inherit     !important; }
    div(class="!bo:c@p") .!bo:c@p { background-origin: content-box !important; }
    div(class="!bo:p@p") .!bo:p@p { background-origin: padding-box !important; }
    div(class="!bo:b@p") .!bo:b@p { background-origin: border-box  !important; }
