section#background-color
  h2 _background-color.less
  section
    h3 all media queries
    div(class="!bc:0")     .!bc:0     { background-color: initial      !important; }
    div(class="!bc:i")     .!bc:i     { background-color: inherit      !important; }
    div(class="!bc:t")     .!bc:t     { background-color: transparent  !important; }
    div(class="!bc:c")     .!bc:c     { background-color: currentColor !important; }
    div(class="!bc:s03")   .!bc:s03   { background-color: #002b36      !important; }
    div(class="!bc:s02")   .!bc:s02   { background-color: #073642      !important; }
    div(class="!bc:s01")   .!bc:s01   { background-color: #586e75      !important; }
    div(class="!bc:s00")   .!bc:s00   { background-color: #657b83      !important; }
    div(class="!bc:s0 ")   .!bc:s0    { background-color: #839496      !important; }
    div(class="!bc:s1 ")   .!bc:s1    { background-color: #93a1a1      !important; }
    div(class="!bc:s2 ")   .!bc:s2    { background-color: #eee8d5      !important; }
    div(class="!bc:s3 ")   .!bc:s3    { background-color: #fdf6e3      !important; }
    div(class="!bc:sr ")   .!bc:sr    { background-color: #dc322f      !important; }
    div(class="!bc:so ")   .!bc:so    { background-color: #cb4b16      !important; }
    div(class="!bc:sy ")   .!bc:sy    { background-color: #b58900      !important; }
    div(class="!bc:sg ")   .!bc:sg    { background-color: #859900      !important; }
    div(class="!bc:sc ")   .!bc:sc    { background-color: #2aa198      !important; }
    div(class="!bc:sb ")   .!bc:sb    { background-color: #268bd2      !important; }
    div(class="!bc:sv ")   .!bc:sv    { background-color: #6c71c4      !important; }
    div(class="!bc:sm ")   .!bc:sm    { background-color: #d33682      !important; }
    div(class="!bc:l03")   .!bc:l03   { background-color: #360b00      !important; }
    div(class="!bc:l02")   .!bc:l02   { background-color: #421307      !important; }
    div(class="!bc:l01")   .!bc:l01   { background-color: #755f58      !important; }
    div(class="!bc:l00")   .!bc:l00   { background-color: #836d65      !important; }
    div(class="!bc:l0 ")   .!bc:l0    { background-color: #968583      !important; }
    div(class="!bc:l1 ")   .!bc:l1    { background-color: #a19393      !important; }
    div(class="!bc:l2 ")   .!bc:l2    { background-color: #d5dbee      !important; }
    div(class="!bc:l3 ")   .!bc:l3    { background-color: #e3eafd      !important; }
    div(class="!bc:lc ")   .!bc:lc    { background-color: #23cdd0      !important; }
    div(class="!bc:lb ")   .!bc:lb    { background-color: #34b4e9      !important; }
    div(class="!bc:li ")   .!bc:li    { background-color: #4a76ff      !important; }
    div(class="!bc:lv ")   .!bc:lv    { background-color: #7a66ff      !important; }
    div(class="!bc:lr ")   .!bc:lr    { background-color: #d55e67      !important; }
    div(class="!bc:lo ")   .!bc:lo    { background-color: #d9742d      !important; }
    div(class="!bc:ly ")   .!bc:ly    { background-color: #938e3b      !important; }
    div(class="!bc:lg ")   .!bc:lg    { background-color: #2cc97d      !important; }
  section
    h3 @media screen
    div(class="!bc:0@s")   .!bc:0@s   { background-color: initial      !important; }
    div(class="!bc:i@s")   .!bc:i@s   { background-color: inherit      !important; }
    div(class="!bc:t@s")   .!bc:t@s   { background-color: transparent  !important; }
    div(class="!bc:c@s")   .!bc:c@s   { background-color: currentColor !important; }
    div(class="!bc:s03@s") .!bc:s03@s { background-color: #002b36      !important; }
    div(class="!bc:s02@s") .!bc:s02@s { background-color: #073642      !important; }
    div(class="!bc:s01@s") .!bc:s01@s { background-color: #586e75      !important; }
    div(class="!bc:s00@s") .!bc:s00@s { background-color: #657b83      !important; }
    div(class="!bc:s0@s ") .!bc:s0@s  { background-color: #839496      !important; }
    div(class="!bc:s1@s ") .!bc:s1@s  { background-color: #93a1a1      !important; }
    div(class="!bc:s2@s ") .!bc:s2@s  { background-color: #eee8d5      !important; }
    div(class="!bc:s3@s ") .!bc:s3@s  { background-color: #fdf6e3      !important; }
    div(class="!bc:sr@s ") .!bc:sr@s  { background-color: #dc322f      !important; }
    div(class="!bc:so@s ") .!bc:so@s  { background-color: #cb4b16      !important; }
    div(class="!bc:sy@s ") .!bc:sy@s  { background-color: #b58900      !important; }
    div(class="!bc:sg@s ") .!bc:sg@s  { background-color: #859900      !important; }
    div(class="!bc:sc@s ") .!bc:sc@s  { background-color: #2aa198      !important; }
    div(class="!bc:sb@s ") .!bc:sb@s  { background-color: #268bd2      !important; }
    div(class="!bc:sv@s ") .!bc:sv@s  { background-color: #6c71c4      !important; }
    div(class="!bc:sm@s ") .!bc:sm@s  { background-color: #d33682      !important; }
    div(class="!bc:l03@s") .!bc:l03@s { background-color: #360b00      !important; }
    div(class="!bc:l02@s") .!bc:l02@s { background-color: #421307      !important; }
    div(class="!bc:l01@s") .!bc:l01@s { background-color: #755f58      !important; }
    div(class="!bc:l00@s") .!bc:l00@s { background-color: #836d65      !important; }
    div(class="!bc:l0@s ") .!bc:l0@s  { background-color: #968583      !important; }
    div(class="!bc:l1@s ") .!bc:l1@s  { background-color: #a19393      !important; }
    div(class="!bc:l2@s ") .!bc:l2@s  { background-color: #d5dbee      !important; }
    div(class="!bc:l3@s ") .!bc:l3@s  { background-color: #e3eafd      !important; }
    div(class="!bc:lc@s ") .!bc:lc@s  { background-color: #23cdd0      !important; }
    div(class="!bc:lb@s ") .!bc:lb@s  { background-color: #34b4e9      !important; }
    div(class="!bc:li@s ") .!bc:li@s  { background-color: #4a76ff      !important; }
    div(class="!bc:lv@s ") .!bc:lv@s  { background-color: #7a66ff      !important; }
    div(class="!bc:lr@s ") .!bc:lr@s  { background-color: #d55e67      !important; }
    div(class="!bc:lo@s ") .!bc:lo@s  { background-color: #d9742d      !important; }
    div(class="!bc:ly@s ") .!bc:ly@s  { background-color: #938e3b      !important; }
    div(class="!bc:lg@s ") .!bc:lg@s  { background-color: #2cc97d      !important; }
  section
    h3 @media print
    div(class="!bc:0@p")   .!bc:0@p   { background-color: initial      !important; }
    div(class="!bc:i@p")   .!bc:i@p   { background-color: inherit      !important; }
    div(class="!bc:t@p")   .!bc:t@p   { background-color: transparent  !important; }
    div(class="!bc:c@p")   .!bc:c@p   { background-color: currentColor !important; }
    div(class="!bc:s03@p") .!bc:s03@p { background-color: #002b36      !important; }
    div(class="!bc:s02@p") .!bc:s02@p { background-color: #073642      !important; }
    div(class="!bc:s01@p") .!bc:s01@p { background-color: #586e75      !important; }
    div(class="!bc:s00@p") .!bc:s00@p { background-color: #657b83      !important; }
    div(class="!bc:s0@p ") .!bc:s0@p  { background-color: #839496      !important; }
    div(class="!bc:s1@p ") .!bc:s1@p  { background-color: #93a1a1      !important; }
    div(class="!bc:s2@p ") .!bc:s2@p  { background-color: #eee8d5      !important; }
    div(class="!bc:s3@p ") .!bc:s3@p  { background-color: #fdf6e3      !important; }
    div(class="!bc:sr@p ") .!bc:sr@p  { background-color: #dc322f      !important; }
    div(class="!bc:so@p ") .!bc:so@p  { background-color: #cb4b16      !important; }
    div(class="!bc:sy@p ") .!bc:sy@p  { background-color: #b58900      !important; }
    div(class="!bc:sg@p ") .!bc:sg@p  { background-color: #859900      !important; }
    div(class="!bc:sc@p ") .!bc:sc@p  { background-color: #2aa198      !important; }
    div(class="!bc:sb@p ") .!bc:sb@p  { background-color: #268bd2      !important; }
    div(class="!bc:sv@p ") .!bc:sv@p  { background-color: #6c71c4      !important; }
    div(class="!bc:sm@p ") .!bc:sm@p  { background-color: #d33682      !important; }
    div(class="!bc:l03@p") .!bc:l03@p { background-color: #360b00      !important; }
    div(class="!bc:l02@p") .!bc:l02@p { background-color: #421307      !important; }
    div(class="!bc:l01@p") .!bc:l01@p { background-color: #755f58      !important; }
    div(class="!bc:l00@p") .!bc:l00@p { background-color: #836d65      !important; }
    div(class="!bc:l0@p ") .!bc:l0@p  { background-color: #968583      !important; }
    div(class="!bc:l1@p ") .!bc:l1@p  { background-color: #a19393      !important; }
    div(class="!bc:l2@p ") .!bc:l2@p  { background-color: #d5dbee      !important; }
    div(class="!bc:l3@p ") .!bc:l3@p  { background-color: #e3eafd      !important; }
    div(class="!bc:lc@p ") .!bc:lc@p  { background-color: #23cdd0      !important; }
    div(class="!bc:lb@p ") .!bc:lb@p  { background-color: #34b4e9      !important; }
    div(class="!bc:li@p ") .!bc:li@p  { background-color: #4a76ff      !important; }
    div(class="!bc:lv@p ") .!bc:lv@p  { background-color: #7a66ff      !important; }
    div(class="!bc:lr@p ") .!bc:lr@p  { background-color: #d55e67      !important; }
    div(class="!bc:lo@p ") .!bc:lo@p  { background-color: #d9742d      !important; }
    div(class="!bc:ly@p ") .!bc:ly@p  { background-color: #938e3b      !important; }
    div(class="!bc:lg@p ") .!bc:lg@p  { background-color: #2cc97d      !important; }
