section#background-clip
  h2 _background-clip.less
  section
    h3 all media queries
    div(class="!bx:0")   .!bx:0   { background-clip: initial     !important; }
    div(class="!bx:i")   .!bx:i   { background-clip: inherit     !important; }
    div(class="!bx:c")   .!bx:c   { background-clip: content-box !important; }
    div(class="!bx:p")   .!bx:p   { background-clip: padding-box !important; }
    div(class="!bx:b")   .!bx:b   { background-clip: border-box  !important; }
  section
    h3 @media screen
    div(class="!bx:0@s") .!bx:0@s { background-clip: initial     !important; }
    div(class="!bx:i@s") .!bx:i@s { background-clip: inherit     !important; }
    div(class="!bx:c@s") .!bx:c@s { background-clip: content-box !important; }
    div(class="!bx:p@s") .!bx:p@s { background-clip: padding-box !important; }
    div(class="!bx:b@s") .!bx:b@s { background-clip: border-box  !important; }
  section
    h3 @media print
    div(class="!bx:0@p") .!bx:0@p { background-clip: initial     !important; }
    div(class="!bx:i@p") .!bx:i@p { background-clip: inherit     !important; }
    div(class="!bx:c@p") .!bx:c@p { background-clip: content-box !important; }
    div(class="!bx:p@p") .!bx:p@p { background-clip: padding-box !important; }
    div(class="!bx:b@p") .!bx:b@p { background-clip: border-box  !important; }
