section#background-repeat
  h2 _background-repeat.less
  section
    h3 all media queries
    div(class="!br:0")   .!br:0   { background-repeat: initial   !important; }
    div(class="!br:i")   .!br:i   { background-repeat: inherit   !important; }
    div(class="!br:n")   .!br:n   { background-repeat: no-repeat !important; }
    div(class="!br:a")   .!br:a   { background-repeat: repeat    !important; }
    div(class="!br:x")   .!br:x   { background-repeat: repeat-x  !important; }
    div(class="!br:y")   .!br:y   { background-repeat: repeat-y  !important; }
  section
    h3 @media screen
    div(class="!br:0@s") .!br:0@s { background-repeat: initial   !important; }
    div(class="!br:i@s") .!br:i@s { background-repeat: inherit   !important; }
    div(class="!br:n@s") .!br:n@s { background-repeat: no-repeat !important; }
    div(class="!br:a@s") .!br:a@s { background-repeat: repeat    !important; }
    div(class="!br:x@s") .!br:x@s { background-repeat: repeat-x  !important; }
    div(class="!br:y@s") .!br:y@s { background-repeat: repeat-y  !important; }
  section
    h3 @media print
    div(class="!br:0@p") .!br:0@p { background-repeat: initial   !important; }
    div(class="!br:i@p") .!br:i@p { background-repeat: inherit   !important; }
    div(class="!br:n@p") .!br:n@p { background-repeat: no-repeat !important; }
    div(class="!br:a@p") .!br:a@p { background-repeat: repeat    !important; }
    div(class="!br:x@p") .!br:x@p { background-repeat: repeat-x  !important; }
    div(class="!br:y@p") .!br:y@p { background-repeat: repeat-y  !important; }
