section#background-image
  h2 _background-image.less
  section
    h3 all media queries
    div(class="!bi:0")   .!bi:0   { background-image: initial !important; }
    div(class="!bi:i")   .!bi:i   { background-image: inherit !important; }
    div(class="!bi:n")   .!bi:n   { background-image: none    !important; }
  section
    h3 @media screen
    div(class="!bi:0@s") .!bi:0@s { background-image: initial !important; }
    div(class="!bi:i@s") .!bi:i@s { background-image: inherit !important; }
    div(class="!bi:n@s") .!bi:n@s { background-image: none    !important; }
  section
    h3 @media print
    div(class="!bi:0@p") .!bi:0@p { background-image: initial !important; }
    div(class="!bi:i@p") .!bi:i@p { background-image: inherit !important; }
    div(class="!bi:n@p") .!bi:n@p { background-image: none    !important; }
