section#clear
  h2 _clear.less
  section
    h3 all media queries
    div(class="!cl:0")   .!cl:0   { clear: initial !important; }
    div(class="!cl:i")   .!cl:i   { clear: inherit !important; }
    div(class="!cl:n")   .!cl:n   { clear: none    !important; }
    div(class="!cl:l")   .!cl:l   { clear: left    !important; }
    div(class="!cl:r")   .!cl:r   { clear: right   !important; }
    div(class="!cl:b")   .!cl:b   { clear: both    !important; }
  section
    h3 @media screen
    div(class="!cl:0@s") .!cl:0@s { clear: initial !important; }
    div(class="!cl:i@s") .!cl:i@s { clear: inherit !important; }
    div(class="!cl:n@s") .!cl:n@s { clear: none    !important; }
    div(class="!cl:l@s") .!cl:l@s { clear: left    !important; }
    div(class="!cl:r@s") .!cl:r@s { clear: right   !important; }
    div(class="!cl:b@s") .!cl:b@s { clear: both    !important; }
  section
    h3 @media print
    div(class="!cl:0@p") .!cl:0@p { clear: initial !important; }
    div(class="!cl:i@p") .!cl:i@p { clear: inherit !important; }
    div(class="!cl:n@p") .!cl:n@p { clear: none    !important; }
    div(class="!cl:l@p") .!cl:l@p { clear: left    !important; }
    div(class="!cl:r@p") .!cl:r@p { clear: right   !important; }
    div(class="!cl:b@p") .!cl:b@p { clear: both    !important; }
