section#color
  h2 _color.less
  section
    h3 all media queries
    div(class="!c:0")   .!c:0   { color: initial      !important; }
    div(class="!c:i")   .!c:i   { color: inherit      !important; }
    div(class="!c:t")   .!c:t   { color: transparent  !important; }
    div(class="!c:c")   .!c:c   { color: currentColor !important; }
  section
    h3 @media screen
    div(class="!c:0@s") .!c:0@s { color: initial      !important; }
    div(class="!c:i@s") .!c:i@s { color: inherit      !important; }
    div(class="!c:t@s") .!c:t@s { color: transparent  !important; }
    div(class="!c:c@s") .!c:c@s { color: currentColor !important; }
  section
    h3 @media print
    div(class="!c:0@p") .!c:0@p { color: initial      !important; }
    div(class="!c:i@p") .!c:i@p { color: inherit      !important; }
    div(class="!c:t@p") .!c:t@p { color: transparent  !important; }
    div(class="!c:c@p") .!c:c@p { color: currentColor !important; }
