section#column-width
  h2 _column-width.less
  section
    h3 all media queries
    div(class="!cw:0  ") .!cw:0   { column-width: initial !important; }
    div(class="!cw:i  ") .!cw:i   { column-width: inherit !important; }
    div(class="!cw:a  ") .!cw:a   { column-width: auto    !important; }
    div(class="!cw:1  ") .!cw:1   { column-width: 1       !important; }
    div(class="!cw:2  ") .!cw:2   { column-width: 2       !important; }
    div(class="!cw:3  ") .!cw:3   { column-width: 3       !important; }
    div(class="!cw:4  ") .!cw:4   { column-width: 4       !important; }
    div(class="!cw:5  ") .!cw:5   { column-width: 5       !important; }
    div(class="!cw:6  ") .!cw:6   { column-width: 6       !important; }
  section
    h3 @media screen
    div(class="!cw:0@s") .!cw:0@s { column-width: initial !important; }
    div(class="!cw:i@s") .!cw:i@s { column-width: inherit !important; }
    div(class="!cw:a@s") .!cw:a@s { column-width: auto    !important; }
    div(class="!cw:1@s") .!cw:1@s { column-width: 1       !important; }
    div(class="!cw:2@s") .!cw:2@s { column-width: 2       !important; }
    div(class="!cw:3@s") .!cw:3@s { column-width: 3       !important; }
    div(class="!cw:4@s") .!cw:4@s { column-width: 4       !important; }
    div(class="!cw:5@s") .!cw:5@s { column-width: 5       !important; }
    div(class="!cw:6@s") .!cw:6@s { column-width: 6       !important; }
  section
    h3 @media print
    div(class="!cw:0@p") .!cw:0@p { column-width: initial !important; }
    div(class="!cw:i@p") .!cw:i@p { column-width: inherit !important; }
    div(class="!cw:a@p") .!cw:a@p { column-width: auto    !important; }
    div(class="!cw:1@p") .!cw:1@p { column-width: 1       !important; }
    div(class="!cw:2@p") .!cw:2@p { column-width: 2       !important; }
    div(class="!cw:3@p") .!cw:3@p { column-width: 3       !important; }
    div(class="!cw:4@p") .!cw:4@p { column-width: 4       !important; }
    div(class="!cw:5@p") .!cw:5@p { column-width: 5       !important; }
    div(class="!cw:6@p") .!cw:6@p { column-width: 6       !important; }
