section#column-count
  h2 _column-count.less
  section
    h3 all media queries
    div(class="!cc:0  ") .!cc:0   { column-count: initial !important; }
    div(class="!cc:i  ") .!cc:i   { column-count: inherit !important; }
    div(class="!cc:a  ") .!cc:a   { column-count: auto    !important; }
    div(class="!cc:1  ") .!cc:1   { column-count: 1       !important; }
    div(class="!cc:2  ") .!cc:2   { column-count: 2       !important; }
    div(class="!cc:3  ") .!cc:3   { column-count: 3       !important; }
    div(class="!cc:4  ") .!cc:4   { column-count: 4       !important; }
    div(class="!cc:5  ") .!cc:5   { column-count: 5       !important; }
    div(class="!cc:6  ") .!cc:6   { column-count: 6       !important; }
  section
    h3 @media screen
    div(class="!cc:0@s") .!cc:0@s { column-count: initial !important; }
    div(class="!cc:i@s") .!cc:i@s { column-count: inherit !important; }
    div(class="!cc:a@s") .!cc:a@s { column-count: auto    !important; }
    div(class="!cc:1@s") .!cc:1@s { column-count: 1       !important; }
    div(class="!cc:2@s") .!cc:2@s { column-count: 2       !important; }
    div(class="!cc:3@s") .!cc:3@s { column-count: 3       !important; }
    div(class="!cc:4@s") .!cc:4@s { column-count: 4       !important; }
    div(class="!cc:5@s") .!cc:5@s { column-count: 5       !important; }
    div(class="!cc:6@s") .!cc:6@s { column-count: 6       !important; }
  section
    h3 @media print
    div(class="!cc:0@p") .!cc:0@p { column-count: initial !important; }
    div(class="!cc:i@p") .!cc:i@p { column-count: inherit !important; }
    div(class="!cc:a@p") .!cc:a@p { column-count: auto    !important; }
    div(class="!cc:1@p") .!cc:1@p { column-count: 1       !important; }
    div(class="!cc:2@p") .!cc:2@p { column-count: 2       !important; }
    div(class="!cc:3@p") .!cc:3@p { column-count: 3       !important; }
    div(class="!cc:4@p") .!cc:4@p { column-count: 4       !important; }
    div(class="!cc:5@p") .!cc:5@p { column-count: 5       !important; }
    div(class="!cc:6@p") .!cc:6@p { column-count: 6       !important; }
