section#color
  h2 _color.less
  section
    h3 all media queries
    div(class="!c:0  ")   .!c:0     { color: initial      !important; }
    div(class="!c:i  ")   .!c:i     { color: inherit      !important; }
    div(class="!c:t  ")   .!c:t     { color: transparent  !important; }
    div(class="!c:c  ")   .!c:c     { color: currentColor !important; }
    div(class="!c:b  ")   .!c:b     { color: #000000      !important; }
    div(class="!c:w  ")   .!c:w     { color: #ffffff      !important; }
  section
    h3 @media screen
    div(class="!c:0@s  ") .!c:0@s   { color: initial      !important; }
    div(class="!c:i@s  ") .!c:i@s   { color: inherit      !important; }
    div(class="!c:t@s  ") .!c:t@s   { color: transparent  !important; }
    div(class="!c:c@s  ") .!c:c@s   { color: currentColor !important; }
    div(class="!c:b@s  ") .!c:b@s   { color: #000000      !important; }
    div(class="!c:w@s  ") .!c:w@s   { color: #ffffff      !important; }
  section
    h3 @media print
    div(class="!c:0@p  ") .!c:0@p   { color: initial      !important; }
    div(class="!c:i@p  ") .!c:i@p   { color: inherit      !important; }
    div(class="!c:t@p  ") .!c:t@p   { color: transparent  !important; }
    div(class="!c:c@p  ") .!c:c@p   { color: currentColor !important; }
    div(class="!c:b@p  ") .!c:b@p   { color: #000000      !important; }
    div(class="!c:w@p  ") .!c:w@p   { color: #ffffff      !important; }
  section
    h3 pseudo-classes :hover and :focus
    div(class="!c:0^")    .!c:0^    { color: initial      !important; }
    div(class="!c:i^")    .!c:i^    { color: inherit      !important; }
    div(class="!c:t^")    .!c:t^    { color: transparent  !important; }
    div(class="!c:c^")    .!c:c^    { color: currentColor !important; }
    div(class="!c:b^")    .!c:t^    { color: #000000      !important; }
    div(class="!c:w^")    .!c:c^    { color: #ffffff      !important; }
