section#color
  h2 _color.less
  section
    h3 all media queries
    div(class="!c:0")     .!c:0     { color: initial      !important; }
    div(class="!c:i")     .!c:i     { color: inherit      !important; }
    div(class="!c:t")     .!c:t     { color: transparent  !important; }
    div(class="!c:c")     .!c:c     { color: currentColor !important; }
    div(class="!c:s03")   .!c:s03   { color: #002b36      !important; }
    div(class="!c:s02")   .!c:s02   { color: #073642      !important; }
    div(class="!c:s01")   .!c:s01   { color: #586e75      !important; }
    div(class="!c:s00")   .!c:s00   { color: #657b83      !important; }
    div(class="!c:s0 ")   .!c:s0    { color: #839496      !important; }
    div(class="!c:s1 ")   .!c:s1    { color: #93a1a1      !important; }
    div(class="!c:s2 ")   .!c:s2    { color: #eee8d5      !important; }
    div(class="!c:s3 ")   .!c:s3    { color: #fdf6e3      !important; }
    div(class="!c:sr ")   .!c:sr    { color: #dc322f      !important; }
    div(class="!c:so ")   .!c:so    { color: #cb4b16      !important; }
    div(class="!c:sy ")   .!c:sy    { color: #b58900      !important; }
    div(class="!c:sg ")   .!c:sg    { color: #859900      !important; }
    div(class="!c:sc ")   .!c:sc    { color: #2aa198      !important; }
    div(class="!c:sb ")   .!c:sb    { color: #268bd2      !important; }
    div(class="!c:sv ")   .!c:sv    { color: #6c71c4      !important; }
    div(class="!c:sm ")   .!c:sm    { color: #d33682      !important; }
    div(class="!c:l03")   .!c:l03   { color: #360b00      !important; }
    div(class="!c:l02")   .!c:l02   { color: #421307      !important; }
    div(class="!c:l01")   .!c:l01   { color: #755f58      !important; }
    div(class="!c:l00")   .!c:l00   { color: #836d65      !important; }
    div(class="!c:l0 ")   .!c:l0    { color: #968583      !important; }
    div(class="!c:l1 ")   .!c:l1    { color: #a19393      !important; }
    div(class="!c:l2 ")   .!c:l2    { color: #d5dbee      !important; }
    div(class="!c:l3 ")   .!c:l3    { color: #e3eafd      !important; }
    div(class="!c:lc ")   .!c:lc    { color: #23cdd0      !important; }
    div(class="!c:lb ")   .!c:lb    { color: #34b4e9      !important; }
    div(class="!c:li ")   .!c:li    { color: #4a76ff      !important; }
    div(class="!c:lv ")   .!c:lv    { color: #7a66ff      !important; }
    div(class="!c:lr ")   .!c:lr    { color: #d55e67      !important; }
    div(class="!c:lo ")   .!c:lo    { color: #d9742d      !important; }
    div(class="!c:ly ")   .!c:ly    { color: #938e3b      !important; }
    div(class="!c:lg ")   .!c:lg    { color: #2cc97d      !important; }
  section
    h3 @media screen
    div(class="!c:0@s")   .!c:0@s   { color: initial      !important; }
    div(class="!c:i@s")   .!c:i@s   { color: inherit      !important; }
    div(class="!c:t@s")   .!c:t@s   { color: transparent  !important; }
    div(class="!c:c@s")   .!c:c@s   { color: currentColor !important; }
    div(class="!c:s03@s") .!c:s03@s { color: #002b36      !important; }
    div(class="!c:s02@s") .!c:s02@s { color: #073642      !important; }
    div(class="!c:s01@s") .!c:s01@s { color: #586e75      !important; }
    div(class="!c:s00@s") .!c:s00@s { color: #657b83      !important; }
    div(class="!c:s0@s ") .!c:s0@s  { color: #839496      !important; }
    div(class="!c:s1@s ") .!c:s1@s  { color: #93a1a1      !important; }
    div(class="!c:s2@s ") .!c:s2@s  { color: #eee8d5      !important; }
    div(class="!c:s3@s ") .!c:s3@s  { color: #fdf6e3      !important; }
    div(class="!c:sr@s ") .!c:sr@s  { color: #dc322f      !important; }
    div(class="!c:so@s ") .!c:so@s  { color: #cb4b16      !important; }
    div(class="!c:sy@s ") .!c:sy@s  { color: #b58900      !important; }
    div(class="!c:sg@s ") .!c:sg@s  { color: #859900      !important; }
    div(class="!c:sc@s ") .!c:sc@s  { color: #2aa198      !important; }
    div(class="!c:sb@s ") .!c:sb@s  { color: #268bd2      !important; }
    div(class="!c:sv@s ") .!c:sv@s  { color: #6c71c4      !important; }
    div(class="!c:sm@s ") .!c:sm@s  { color: #d33682      !important; }
    div(class="!c:l03@s") .!c:l03@s { color: #360b00      !important; }
    div(class="!c:l02@s") .!c:l02@s { color: #421307      !important; }
    div(class="!c:l01@s") .!c:l01@s { color: #755f58      !important; }
    div(class="!c:l00@s") .!c:l00@s { color: #836d65      !important; }
    div(class="!c:l0@s ") .!c:l0@s  { color: #968583      !important; }
    div(class="!c:l1@s ") .!c:l1@s  { color: #a19393      !important; }
    div(class="!c:l2@s ") .!c:l2@s  { color: #d5dbee      !important; }
    div(class="!c:l3@s ") .!c:l3@s  { color: #e3eafd      !important; }
    div(class="!c:lc@s ") .!c:lc@s  { color: #23cdd0      !important; }
    div(class="!c:lb@s ") .!c:lb@s  { color: #34b4e9      !important; }
    div(class="!c:li@s ") .!c:li@s  { color: #4a76ff      !important; }
    div(class="!c:lv@s ") .!c:lv@s  { color: #7a66ff      !important; }
    div(class="!c:lr@s ") .!c:lr@s  { color: #d55e67      !important; }
    div(class="!c:lo@s ") .!c:lo@s  { color: #d9742d      !important; }
    div(class="!c:ly@s ") .!c:ly@s  { color: #938e3b      !important; }
    div(class="!c:lg@s ") .!c:lg@s  { color: #2cc97d      !important; }
  section
    h3 @media print
    div(class="!c:0@p")   .!c:0@p   { color: initial      !important; }
    div(class="!c:i@p")   .!c:i@p   { color: inherit      !important; }
    div(class="!c:t@p")   .!c:t@p   { color: transparent  !important; }
    div(class="!c:c@p")   .!c:c@p   { color: currentColor !important; }
    div(class="!c:s03@p") .!c:s03@p { color: #002b36      !important; }
    div(class="!c:s02@p") .!c:s02@p { color: #073642      !important; }
    div(class="!c:s01@p") .!c:s01@p { color: #586e75      !important; }
    div(class="!c:s00@p") .!c:s00@p { color: #657b83      !important; }
    div(class="!c:s0@p ") .!c:s0@p  { color: #839496      !important; }
    div(class="!c:s1@p ") .!c:s1@p  { color: #93a1a1      !important; }
    div(class="!c:s2@p ") .!c:s2@p  { color: #eee8d5      !important; }
    div(class="!c:s3@p ") .!c:s3@p  { color: #fdf6e3      !important; }
    div(class="!c:sr@p ") .!c:sr@p  { color: #dc322f      !important; }
    div(class="!c:so@p ") .!c:so@p  { color: #cb4b16      !important; }
    div(class="!c:sy@p ") .!c:sy@p  { color: #b58900      !important; }
    div(class="!c:sg@p ") .!c:sg@p  { color: #859900      !important; }
    div(class="!c:sc@p ") .!c:sc@p  { color: #2aa198      !important; }
    div(class="!c:sb@p ") .!c:sb@p  { color: #268bd2      !important; }
    div(class="!c:sv@p ") .!c:sv@p  { color: #6c71c4      !important; }
    div(class="!c:sm@p ") .!c:sm@p  { color: #d33682      !important; }
    div(class="!c:l03@p") .!c:l03@p { color: #360b00      !important; }
    div(class="!c:l02@p") .!c:l02@p { color: #421307      !important; }
    div(class="!c:l01@p") .!c:l01@p { color: #755f58      !important; }
    div(class="!c:l00@p") .!c:l00@p { color: #836d65      !important; }
    div(class="!c:l0@p ") .!c:l0@p  { color: #968583      !important; }
    div(class="!c:l1@p ") .!c:l1@p  { color: #a19393      !important; }
    div(class="!c:l2@p ") .!c:l2@p  { color: #d5dbee      !important; }
    div(class="!c:l3@p ") .!c:l3@p  { color: #e3eafd      !important; }
    div(class="!c:lc@p ") .!c:lc@p  { color: #23cdd0      !important; }
    div(class="!c:lb@p ") .!c:lb@p  { color: #34b4e9      !important; }
    div(class="!c:li@p ") .!c:li@p  { color: #4a76ff      !important; }
    div(class="!c:lv@p ") .!c:lv@p  { color: #7a66ff      !important; }
    div(class="!c:lr@p ") .!c:lr@p  { color: #d55e67      !important; }
    div(class="!c:lo@p ") .!c:lo@p  { color: #d9742d      !important; }
    div(class="!c:ly@p ") .!c:ly@p  { color: #938e3b      !important; }
    div(class="!c:lg@p ") .!c:lg@p  { color: #2cc97d      !important; }
