section#display
  h2 _display.less
  section
    h3 all media queries
    div(class="!d:0 ")   .!d:0    { display: initial      !important; }
    div(class="!d:i ")   .!d:i    { display: inherit      !important; }
    div(class="!d:n ")   .!d:n    { display: none         !important; }
    div(class="!d:bk")   .!d:bk   { display: block        !important; }
    div(class="!d:il")   .!d:il   { display: inline       !important; }
    div(class="!d:ib")   .!d:ib   { display: inline-block !important; }
    div(class="!d:fx")   .!d:fx   { display: flex         !important; }
    div(class="!d:li")   .!d:li   { display: list-item    !important; }
  section
    h3 @media screen
    div(class="!d:0@s ") .!d:0@s  { display: initial      !important; }
    div(class="!d:i@s ") .!d:i@s  { display: inherit      !important; }
    div(class="!d:n@s ") .!d:n@s  { display: none         !important; }
    div(class="!d:bk@s") .!d:bk@s { display: block        !important; }
    div(class="!d:il@s") .!d:il@s { display: inline       !important; }
    div(class="!d:ib@s") .!d:ib@s { display: inline-block !important; }
    div(class="!d:fx@s") .!d:fx@s { display: flex         !important; }
    div(class="!d:li@s") .!d:li@s { display: list-item    !important; }
  section
    h3 @media screen and (min-width: 30em)
    div(class="!d:0@sK ") .!d:0@sK  { display: initial      !important; }
    div(class="!d:i@sK ") .!d:i@sK  { display: inherit      !important; }
    div(class="!d:n@sK ") .!d:n@sK  { display: none         !important; }
    div(class="!d:bk@sK") .!d:bk@sK { display: block        !important; }
    div(class="!d:il@sK") .!d:il@sK { display: inline       !important; }
    div(class="!d:ib@sK") .!d:ib@sK { display: inline-block !important; }
    div(class="!d:fx@sK") .!d:fx@sK { display: flex         !important; }
    div(class="!d:li@sK") .!d:li@sK { display: list-item    !important; }
  section
    h3 @media screen and (min-width: 45em)
    div(class="!d:0@sM ") .!d:0@sM  { display: initial      !important; }
    div(class="!d:i@sM ") .!d:i@sM  { display: inherit      !important; }
    div(class="!d:n@sM ") .!d:n@sM  { display: none         !important; }
    div(class="!d:bk@sM") .!d:bk@sM { display: block        !important; }
    div(class="!d:il@sM") .!d:il@sM { display: inline       !important; }
    div(class="!d:ib@sM") .!d:ib@sM { display: inline-block !important; }
    div(class="!d:fx@sM") .!d:fx@sM { display: flex         !important; }
    div(class="!d:li@sM") .!d:li@sM { display: list-item    !important; }
  section
    h3 @media screen and (min-width: 60em)
    div(class="!d:0@sG ") .!d:0@sG  { display: initial      !important; }
    div(class="!d:i@sG ") .!d:i@sG  { display: inherit      !important; }
    div(class="!d:n@sG ") .!d:n@sG  { display: none         !important; }
    div(class="!d:bk@sG") .!d:bk@sG { display: block        !important; }
    div(class="!d:il@sG") .!d:il@sG { display: inline       !important; }
    div(class="!d:ib@sG") .!d:ib@sG { display: inline-block !important; }
    div(class="!d:fx@sG") .!d:fx@sG { display: flex         !important; }
    div(class="!d:li@sG") .!d:li@sG { display: list-item    !important; }
  section
    h3 @media screen and (min-width: 75em)
    div(class="!d:0@sT ") .!d:0@sT  { display: initial      !important; }
    div(class="!d:i@sT ") .!d:i@sT  { display: inherit      !important; }
    div(class="!d:n@sT ") .!d:n@sT  { display: none         !important; }
    div(class="!d:bk@sT") .!d:bk@sT { display: block        !important; }
    div(class="!d:il@sT") .!d:il@sT { display: inline       !important; }
    div(class="!d:ib@sT") .!d:ib@sT { display: inline-block !important; }
    div(class="!d:fx@sT") .!d:fx@sT { display: flex         !important; }
    div(class="!d:li@sT") .!d:li@sT { display: list-item    !important; }
  section
    h3 @media print
    div(class="!d:0@p ") .!d:0@p  { display: initial      !important; }
    div(class="!d:i@p ") .!d:i@p  { display: inherit      !important; }
    div(class="!d:n@p ") .!d:n@p  { display: none         !important; }
    div(class="!d:bk@p") .!d:bk@p { display: block        !important; }
    div(class="!d:il@p") .!d:il@p { display: inline       !important; }
    div(class="!d:ib@p") .!d:ib@p { display: inline-block !important; }
    div(class="!d:fx@p") .!d:fx@p { display: flex         !important; }
    div(class="!d:li@p") .!d:li@p { display: list-item    !important; }
