section#display
  h2 _display.less
  section
    h3 all media queries
    div(class="!d:0 ")   .!d:0    { display: initial      !important; }
    div(class="!d:i ")   .!d:i    { display: inherit      !important; }
    div(class="!d:n ")   .!d:n    { display: none         !important; }
    div(class="!d:bk")   .!d:bk   { display: block        !important; }
    div(class="!d:il")   .!d:il   { display: inline       !important; }
    div(class="!d:ib")   .!d:ib   { display: inline-block !important; }
    div(class="!d:fx")   .!d:fx   { display: flex         !important; }
    div(class="!d:li")   .!d:li   { display: list-item    !important; }
  section
    h3 @media screen
    div(class="!d:0@s ") .!d:0@s  { display: initial      !important; }
    div(class="!d:i@s ") .!d:i@s  { display: inherit      !important; }
    div(class="!d:n@s ") .!d:n@s  { display: none         !important; }
    div(class="!d:bk@s") .!d:bk@s { display: block        !important; }
    div(class="!d:il@s") .!d:il@s { display: inline       !important; }
    div(class="!d:ib@s") .!d:ib@s { display: inline-block !important; }
    div(class="!d:fx@s") .!d:fx@s { display: flex         !important; }
    div(class="!d:li@s") .!d:li@s { display: list-item    !important; }
  section
    h3 @media print
    div(class="!d:0@p ") .!d:0@p  { display: initial      !important; }
    div(class="!d:i@p ") .!d:i@p  { display: inherit      !important; }
    div(class="!d:n@p ") .!d:n@p  { display: none         !important; }
    div(class="!d:bk@p") .!d:bk@p { display: block        !important; }
    div(class="!d:il@p") .!d:il@p { display: inline       !important; }
    div(class="!d:ib@p") .!d:ib@p { display: inline-block !important; }
    div(class="!d:fx@p") .!d:fx@p { display: flex         !important; }
    div(class="!d:li@p") .!d:li@p { display: list-item    !important; }
