section#flex-wrap.ss-flexbox
  h2 _flex-wrap.less
  section
    h3 all media queries
    div(class="!xw:0")   .!xw:0   { flex-wrap: initial      !important; }
    div(class="!xw:i")   .!xw:i   { flex-wrap: inherit      !important; }
    div(class="!xw:n")   .!xw:n   { flex-wrap: nowrap       !important; }
    div(class="!xw:w")   .!xw:w   { flex-wrap: wrap         !important; }
    div(class="!xw:r")   .!xw:r   { flex-wrap: wrap-reverse !important; }
  section
    h3 @media screen
    div(class="!xw:0@s") .!xw:0@s { flex-wrap: initial      !important; }
    div(class="!xw:i@s") .!xw:i@s { flex-wrap: inherit      !important; }
    div(class="!xw:n@s") .!xw:n@s { flex-wrap: nowrap       !important; }
    div(class="!xw:w@s") .!xw:w@s { flex-wrap: wrap         !important; }
    div(class="!xw:r@s") .!xw:r@s { flex-wrap: wrap-reverse !important; }
  section
    h3 @media print
    div(class="!xw:0@p") .!xw:0@p { flex-wrap: initial      !important; }
    div(class="!xw:i@p") .!xw:i@p { flex-wrap: inherit      !important; }
    div(class="!xw:n@p") .!xw:n@p { flex-wrap: nowrap       !important; }
    div(class="!xw:w@p") .!xw:w@p { flex-wrap: wrap         !important; }
    div(class="!xw:r@p") .!xw:r@p { flex-wrap: wrap-reverse !important; }
