section#float
  h2 _float.less
  section
    h3 all media queries
    div(class="!fl:0")   .!fl:0   { float: initial !important; }
    div(class="!fl:i")   .!fl:i   { float: inherit !important; }
    div(class="!fl:n")   .!fl:n   { float: none    !important; }
    div(class="!fl:l")   .!fl:l   { float: left    !important; }
    div(class="!fl:r")   .!fl:r   { float: right   !important; }
  section
    h3 @media screen
    div(class="!fl:0@s") .!fl:0@s { float: initial !important; }
    div(class="!fl:i@s") .!fl:i@s { float: inherit !important; }
    div(class="!fl:n@s") .!fl:n@s { float: none    !important; }
    div(class="!fl:l@s") .!fl:l@s { float: left    !important; }
    div(class="!fl:r@s") .!fl:r@s { float: right   !important; }
  section
    h3 @media print
    div(class="!fl:0@p") .!fl:0@p { float: initial !important; }
    div(class="!fl:i@p") .!fl:i@p { float: inherit !important; }
    div(class="!fl:n@p") .!fl:n@p { float: none    !important; }
    div(class="!fl:l@p") .!fl:l@p { float: left    !important; }
    div(class="!fl:r@p") .!fl:r@p { float: right   !important; }
