section#float
  h2 _float.less
  section
    h3 all media queries
    div(class="!fl:0")   .!fl:0   { float: initial !important; }
    div(class="!fl:i")   .!fl:i   { float: inherit !important; }
    div(class="!fl:n")   .!fl:n   { float: none    !important; }
    div(class="!fl:l")   .!fl:l   { float: left    !important; }
    div(class="!fl:r")   .!fl:r   { float: right   !important; }

    div(class="!cl:0")   .!cl:0   { clear: initial !important; }
    div(class="!cl:i")   .!cl:i   { clear: inherit !important; }
    div(class="!cl:n")   .!cl:n   { clear: none    !important; }
    div(class="!cl:l")   .!cl:l   { clear: left    !important; }
    div(class="!cl:r")   .!cl:r   { clear: right   !important; }
    div(class="!cl:b")   .!cl:b   { clear: both    !important; }
  section
    h3 @media screen
    div(class="!fl:0@s") .!fl:0@s { float: initial !important; }
    div(class="!fl:i@s") .!fl:i@s { float: inherit !important; }
    div(class="!fl:n@s") .!fl:n@s { float: none    !important; }
    div(class="!fl:l@s") .!fl:l@s { float: left    !important; }
    div(class="!fl:r@s") .!fl:r@s { float: right   !important; }

    div(class="!cl:0@s") .!cl:0@s { clear: initial !important; }
    div(class="!cl:i@s") .!cl:i@s { clear: inherit !important; }
    div(class="!cl:n@s") .!cl:n@s { clear: none    !important; }
    div(class="!cl:l@s") .!cl:l@s { clear: left    !important; }
    div(class="!cl:r@s") .!cl:r@s { clear: right   !important; }
    div(class="!cl:b@s") .!cl:b@s { clear: both    !important; }
  section
    h3 @media print
    div(class="!fl:0@p") .!fl:0@p { float: initial !important; }
    div(class="!fl:i@p") .!fl:i@p { float: inherit !important; }
    div(class="!fl:n@p") .!fl:n@p { float: none    !important; }
    div(class="!fl:l@p") .!fl:l@p { float: left    !important; }
    div(class="!fl:r@p") .!fl:r@p { float: right   !important; }

    div(class="!cl:0@p") .!cl:0@p { clear: initial !important; }
    div(class="!cl:i@p") .!cl:i@p { clear: inherit !important; }
    div(class="!cl:n@p") .!cl:n@p { clear: none    !important; }
    div(class="!cl:l@p") .!cl:l@p { clear: left    !important; }
    div(class="!cl:r@p") .!cl:r@p { clear: right   !important; }
    div(class="!cl:b@p") .!cl:b@p { clear: both    !important; }
