section#font-family
  h2 _font-family.less
  section
    h3 all media queries
    div(class="!ff:0 ")   .!ff:0    { font-family: initial    !important; }
    div(class="!ff:i ")   .!ff:i    { font-family: inherit    !important; }
    div(class="!ff:ss")   .!ff:ss   { font-family: sans-serif !important; }
    div(class="!ff:sf")   .!ff:sf   { font-family: serif      !important; }
    div(class="!ff:ms")   .!ff:ms   { font-family: monospace  !important; }
    div(class="!ff:fy")   .!ff:fy   { font-family: fantasy    !important; }
    div(class="!ff:cs")   .!ff:cs   { font-family: cursive    !important; }
  section
    h3 @media screen
    div(class="!ff:0@s ") .!ff:0@s  { font-family: initial    !important; }
    div(class="!ff:i@s ") .!ff:i@s  { font-family: inherit    !important; }
    div(class="!ff:ss@s") .!ff:ss@s { font-family: sans-serif !important; }
    div(class="!ff:sf@s") .!ff:sf@s { font-family: serif      !important; }
    div(class="!ff:ms@s") .!ff:ms@s { font-family: monospace  !important; }
    div(class="!ff:fy@s") .!ff:fy@s { font-family: fantasy    !important; }
    div(class="!ff:cs@s") .!ff:cs@s { font-family: cursive    !important; }
  section
    h3 @media print
    div(class="!ff:0@p ") .!ff:0@p  { font-family: initial    !important; }
    div(class="!ff:i@p ") .!ff:i@p  { font-family: inherit    !important; }
    div(class="!ff:ss@p") .!ff:ss@p { font-family: sans-serif !important; }
    div(class="!ff:sf@p") .!ff:sf@p { font-family: serif      !important; }
    div(class="!ff:ms@p") .!ff:ms@p { font-family: monospace  !important; }
    div(class="!ff:fy@p") .!ff:fy@p { font-family: fantasy    !important; }
    div(class="!ff:cs@p") .!ff:cs@p { font-family: cursive    !important; }
