section#font-size
  h2 _font-size.less
  section
    h3 all media queries
    div(class="!fz:0  ") .!fz:0   { font-size: initial !important; }
    div(class="!fz:i  ") .!fz:i   { font-size: inherit !important; }
    div(class="!fz:h  ") .!fz:h   { font-size: 0.5rem  !important; }
    div(class="!fz:1  ") .!fz:1   { font-size: 1.0rem  !important; }
    div(class="!fz:2  ") .!fz:2   { font-size: 2.0rem  !important; }
    div(class="!fz:4  ") .!fz:4   { font-size: 4.0rem  !important; }
  section
    h3 @media screen
    div(class="!fz:0@s") .!fz:0@s { font-size: initial !important; }
    div(class="!fz:i@s") .!fz:i@s { font-size: inherit !important; }
    div(class="!fz:h@s") .!fz:h@s { font-size: 0.5rem  !important; }
    div(class="!fz:1@s") .!fz:1@s { font-size: 1.0rem  !important; }
    div(class="!fz:2@s") .!fz:2@s { font-size: 2.0rem  !important; }
    div(class="!fz:4@s") .!fz:4@s { font-size: 4.0rem  !important; }
  section
    h3 @media print
    div(class="!fz:0@p") .!fz:0@p { font-size: initial !important; }
    div(class="!fz:i@p") .!fz:i@p { font-size: inherit !important; }
    div(class="!fz:h@p") .!fz:h@p { font-size: 0.5rem  !important; }
    div(class="!fz:1@p") .!fz:1@p { font-size: 1.0rem  !important; }
    div(class="!fz:2@p") .!fz:2@p { font-size: 2.0rem  !important; }
    div(class="!fz:4@p") .!fz:4@p { font-size: 4.0rem  !important; }
