section#font-size
  h2 _font-size.less
  section
    h3 all media queries
    div(class="!fz:0 ")   .!fz:0    { font-size: initial  !important; }
    div(class="!fz:i ")   .!fz:i    { font-size: inherit  !important; }
    div(class="!fz:h1")   .!fz:h1   { font-size: 2rem     !important; }
    div(class="!fz:h2")   .!fz:h2   { font-size: 1.5rem   !important; }
    div(class="!fz:h3")   .!fz:h3   { font-size: 1.25rem  !important; }
    div(class="!fz:h4")   .!fz:h4   { font-size: 1rem     !important; }
    div(class="!fz:h5")   .!fz:h5   { font-size: 0.875rem !important; }
    div(class="!fz:h6")   .!fz:h6   { font-size: 0.75rem  !important; }
  section
    h3 @media screen
    div(class="!fz:0@s ") .!fz:0@s  { font-size: initial  !important; }
    div(class="!fz:i@s ") .!fz:i@s  { font-size: inherit  !important; }
    div(class="!fz:h1@s") .!fz:h1@s { font-size: 2rem     !important; }
    div(class="!fz:h2@s") .!fz:h2@s { font-size: 1.5rem   !important; }
    div(class="!fz:h3@s") .!fz:h3@s { font-size: 1.25rem  !important; }
    div(class="!fz:h4@s") .!fz:h4@s { font-size: 1rem     !important; }
    div(class="!fz:h5@s") .!fz:h5@s { font-size: 0.875rem !important; }
    div(class="!fz:h6@s") .!fz:h6@s { font-size: 0.75rem  !important; }
  section
    h3 @media print
    div(class="!fz:0@p ") .!fz:0@p  { font-size: initial  !important; }
    div(class="!fz:i@p ") .!fz:i@p  { font-size: inherit  !important; }
    div(class="!fz:h1@p") .!fz:h1@p { font-size: 2rem     !important; }
    div(class="!fz:h2@p") .!fz:h2@p { font-size: 1.5rem   !important; }
    div(class="!fz:h3@p") .!fz:h3@p { font-size: 1.25rem  !important; }
    div(class="!fz:h4@p") .!fz:h4@p { font-size: 1rem     !important; }
    div(class="!fz:h5@p") .!fz:h5@p { font-size: 0.875rem !important; }
    div(class="!fz:h6@p") .!fz:h6@p { font-size: 0.75rem  !important; }
