section#font-weight
  h2 _font-weight.less
  section
    h3 all media queries
    div(class="!fw:0")   .!fw:0   { font-weight: initial !important; }
    div(class="!fw:i")   .!fw:i   { font-weight: inherit !important; }
    div(class="!fw:n")   .!fw:n   { font-weight: normal  !important; }
    div(class="!fw:b")   .!fw:b   { font-weight: bold    !important; }
    div(class="!fw:1")   .!fw:1   { font-weight: 100     !important; }
    div(class="!fw:2")   .!fw:2   { font-weight: 200     !important; }
    div(class="!fw:3")   .!fw:3   { font-weight: 300     !important; }
    div(class="!fw:4")   .!fw:4   { font-weight: 400     !important; }
    div(class="!fw:5")   .!fw:5   { font-weight: 500     !important; }
    div(class="!fw:6")   .!fw:6   { font-weight: 600     !important; }
    div(class="!fw:7")   .!fw:7   { font-weight: 700     !important; }
    div(class="!fw:8")   .!fw:8   { font-weight: 800     !important; }
    div(class="!fw:9")   .!fw:9   { font-weight: 900     !important; }
  section
    h3 @media screen
    div(class="!fw:0@s") .!fw:0@s { font-weight: initial !important; }
    div(class="!fw:i@s") .!fw:i@s { font-weight: inherit !important; }
    div(class="!fw:n@s") .!fw:n@s { font-weight: normal  !important; }
    div(class="!fw:b@s") .!fw:b@s { font-weight: bold    !important; }
    div(class="!fw:1@s") .!fw:1@s { font-weight: 100     !important; }
    div(class="!fw:2@s") .!fw:2@s { font-weight: 200     !important; }
    div(class="!fw:3@s") .!fw:3@s { font-weight: 300     !important; }
    div(class="!fw:4@s") .!fw:4@s { font-weight: 400     !important; }
    div(class="!fw:5@s") .!fw:5@s { font-weight: 500     !important; }
    div(class="!fw:6@s") .!fw:6@s { font-weight: 600     !important; }
    div(class="!fw:7@s") .!fw:7@s { font-weight: 700     !important; }
    div(class="!fw:8@s") .!fw:8@s { font-weight: 800     !important; }
    div(class="!fw:9@s") .!fw:9@s { font-weight: 900     !important; }
  section
    h3 @media print
    div(class="!fw:0@p") .!fw:0@p { font-weight: initial !important; }
    div(class="!fw:i@p") .!fw:i@p { font-weight: inherit !important; }
    div(class="!fw:n@p") .!fw:n@p { font-weight: normal  !important; }
    div(class="!fw:b@p") .!fw:b@p { font-weight: bold    !important; }
    div(class="!fw:1@p") .!fw:1@p { font-weight: 100     !important; }
    div(class="!fw:2@p") .!fw:2@p { font-weight: 200     !important; }
    div(class="!fw:3@p") .!fw:3@p { font-weight: 300     !important; }
    div(class="!fw:4@p") .!fw:4@p { font-weight: 400     !important; }
    div(class="!fw:5@p") .!fw:5@p { font-weight: 500     !important; }
    div(class="!fw:6@p") .!fw:6@p { font-weight: 600     !important; }
    div(class="!fw:7@p") .!fw:7@p { font-weight: 700     !important; }
    div(class="!fw:8@p") .!fw:8@p { font-weight: 800     !important; }
    div(class="!fw:9@p") .!fw:9@p { font-weight: 900     !important; }
  section
    h3 pseudo-classes :hover and :focus
    div(class="!fw:0^")  .!fw:0^  { font-weight: initial !important; }
    div(class="!fw:i^")  .!fw:i^  { font-weight: inherit !important; }
    div(class="!fw:n^")  .!fw:n^  { font-weight: normal  !important; }
    div(class="!fw:b^")  .!fw:b^  { font-weight: bold    !important; }
    div(class="!fw:1^")  .!fw:1^  { font-weight: 100     !important; }
    div(class="!fw:2^")  .!fw:2^  { font-weight: 200     !important; }
    div(class="!fw:3^")  .!fw:3^  { font-weight: 300     !important; }
    div(class="!fw:4^")  .!fw:4^  { font-weight: 400     !important; }
    div(class="!fw:5^")  .!fw:5^  { font-weight: 500     !important; }
    div(class="!fw:6^")  .!fw:6^  { font-weight: 600     !important; }
    div(class="!fw:7^")  .!fw:7^  { font-weight: 700     !important; }
    div(class="!fw:8^")  .!fw:8^  { font-weight: 800     !important; }
    div(class="!fw:9^")  .!fw:9^  { font-weight: 900     !important; }
