section#justify-content.ss-flexbox
  h2 _justify-content.less
  section
    h3 all media queries
    div(class="!j:0 ")   .!j:0    { justify-content: initial       !important; }
    div(class="!j:i ")   .!j:i    { justify-content: inherit       !important; }
    div(class="!j:st")   .!j:st   { justify-content: flex-start    !important; }
    div(class="!j:ed")   .!j:ed   { justify-content: flex-end      !important; }
    div(class="!j:cr")   .!j:cr   { justify-content: center        !important; }
    div(class="!j:bt")   .!j:bt   { justify-content: space-between !important; }
    div(class="!j:ad")   .!j:ad   { justify-content: space-around  !important; }
  section
    h3 @media screen
    div(class="!j:0@s")  .!j:0@s  { justify-content: initial       !important; }
    div(class="!j:i@s")  .!j:i@s  { justify-content: inherit       !important; }
    div(class="!j:st@s") .!j:st@s { justify-content: flex-start    !important; }
    div(class="!j:ed@s") .!j:ed@s { justify-content: flex-end      !important; }
    div(class="!j:cr@s") .!j:cr@s { justify-content: center        !important; }
    div(class="!j:bt@s") .!j:bt@s { justify-content: space-between !important; }
    div(class="!j:ad@s") .!j:ad@s { justify-content: space-around  !important; }
  section
    h3 @media print
    div(class="!j:0@p")  .!j:0@p  { justify-content: initial       !important; }
    div(class="!j:i@p")  .!j:i@p  { justify-content: inherit       !important; }
    div(class="!j:st@p") .!j:st@p { justify-content: flex-start    !important; }
    div(class="!j:ed@p") .!j:ed@p { justify-content: flex-end      !important; }
    div(class="!j:cr@p") .!j:cr@p { justify-content: center        !important; }
    div(class="!j:bt@p") .!j:bt@p { justify-content: space-between !important; }
    div(class="!j:ad@p") .!j:ad@p { justify-content: space-around  !important; }
