section#justify-content.ss-flexbox
  h2 _justify-content.less
  section
    h3 all media queries
    div(class="!xj:0 ")   .!xj:0    { justify-content: initial       !important; }
    div(class="!xj:i ")   .!xj:i    { justify-content: inherit       !important; }
    div(class="!xj:st")   .!xj:st   { justify-content: flex-start    !important; }
    div(class="!xj:ed")   .!xj:ed   { justify-content: flex-end      !important; }
    div(class="!xj:cr")   .!xj:cr   { justify-content: center        !important; }
    div(class="!xj:bt")   .!xj:bt   { justify-content: space-between !important; }
    div(class="!xj:ad")   .!xj:ad   { justify-content: space-around  !important; }
  section
    h3 @media screen
    div(class="!xj:0@s")  .!xj:0@s  { justify-content: initial       !important; }
    div(class="!xj:i@s")  .!xj:i@s  { justify-content: inherit       !important; }
    div(class="!xj:st@s") .!xj:st@s { justify-content: flex-start    !important; }
    div(class="!xj:ed@s") .!xj:ed@s { justify-content: flex-end      !important; }
    div(class="!xj:cr@s") .!xj:cr@s { justify-content: center        !important; }
    div(class="!xj:bt@s") .!xj:bt@s { justify-content: space-between !important; }
    div(class="!xj:ad@s") .!xj:ad@s { justify-content: space-around  !important; }
  section
    h3 @media print
    div(class="!xj:0@p")  .!xj:0@p  { justify-content: initial       !important; }
    div(class="!xj:i@p")  .!xj:i@p  { justify-content: inherit       !important; }
    div(class="!xj:st@p") .!xj:st@p { justify-content: flex-start    !important; }
    div(class="!xj:ed@p") .!xj:ed@p { justify-content: flex-end      !important; }
    div(class="!xj:cr@p") .!xj:cr@p { justify-content: center        !important; }
    div(class="!xj:bt@p") .!xj:bt@p { justify-content: space-between !important; }
    div(class="!xj:ad@p") .!xj:ad@p { justify-content: space-around  !important; }
