section#justify-content.ss-flexbox
  h2 _justify-content.less
  section
    h3 all media queries
    div(class="!xj:0 ")   .!xj:0    { justify-content: initial       !important; }
    div(class="!xj:i ")   .!xj:i    { justify-content: inherit       !important; }
    div(class="!xj:xs")   .!xj:xs   { justify-content: flex-start    !important; }
    div(class="!xj:xe")   .!xj:xe   { justify-content: flex-end      !important; }
    div(class="!xj:c ")   .!xj:c    { justify-content: center        !important; }
    div(class="!xj:sb")   .!xj:sb   { justify-content: space-between !important; }
    div(class="!xj:sa")   .!xj:sa   { justify-content: space-around  !important; }
  section
    h3 @media screen
    div(class="!xj:0@s ") .!xj:0@s  { justify-content: initial       !important; }
    div(class="!xj:i@s ") .!xj:i@s  { justify-content: inherit       !important; }
    div(class="!xj:xs@s") .!xj:xs@s { justify-content: flex-start    !important; }
    div(class="!xj:xe@s") .!xj:xe@s { justify-content: flex-end      !important; }
    div(class="!xj:c@s ") .!xj:c@s  { justify-content: center        !important; }
    div(class="!xj:sb@s") .!xj:sb@s { justify-content: space-between !important; }
    div(class="!xj:sa@s") .!xj:sa@s { justify-content: space-around  !important; }
  section
    h3 @media print
    div(class="!xj:0@p ") .!xj:0@p  { justify-content: initial       !important; }
    div(class="!xj:i@p ") .!xj:i@p  { justify-content: inherit       !important; }
    div(class="!xj:xs@p") .!xj:xs@p { justify-content: flex-start    !important; }
    div(class="!xj:xe@p") .!xj:xe@p { justify-content: flex-end      !important; }
    div(class="!xj:c@p ") .!xj:c@p  { justify-content: center        !important; }
    div(class="!xj:sb@p") .!xj:sb@p { justify-content: space-between !important; }
    div(class="!xj:sa@p") .!xj:sa@p { justify-content: space-around  !important; }
