section#letter-spacing
  h2 _letter-spacing.less
  section
    h3 all media queries
    div(class="!ls:0")   .!ls:0   { letter-spacing: initial !important; }
    div(class="!ls:i")   .!ls:i   { letter-spacing: inherit !important; }
    div(class="!ls:n")   .!ls:n   { letter-spacing: normal  !important; }
    div(class="!ls:z")   .!ls:z   { letter-spacing: 0       !important; }
  section
    h3 @media screen
    div(class="!ls:0@s") .!ls:0@s { letter-spacing: initial !important; }
    div(class="!ls:i@s") .!ls:i@s { letter-spacing: inherit !important; }
    div(class="!ls:n@s") .!ls:n@s { letter-spacing: normal  !important; }
    div(class="!ls:z@s") .!ls:z@s { letter-spacing: 0       !important; }
  section
    h3 @media print
    div(class="!ls:0@p") .!ls:0@p { letter-spacing: initial !important; }
    div(class="!ls:i@p") .!ls:i@p { letter-spacing: inherit !important; }
    div(class="!ls:n@p") .!ls:n@p { letter-spacing: normal  !important; }
    div(class="!ls:z@p") .!ls:z@p { letter-spacing: 0       !important; }
