section#list-style-type
  h2 _list-style-type.less
  section
    h3 all media queries
    ul
      li(class="!lst:0   ")   .!lst:0  { list-style-type: initial              !important; }
      li(class="!lst:i   ")   .!lst:i  { list-style-type: inherit              !important; }
      li(class="!lst:n   ")   .!lst:n  { list-style-type: none                 !important; }
      li(class="!lst:dz  ")   .!lst:dz { list-style-type: decimal-leading-zero !important; }
      li(class="!lst:ur  ")   .!lst:ur { list-style-type: upper-roman          !important; }
      li(class="!lst:ua  ")   .!lst:ua { list-style-type: upper-alpha          !important; }
      li(class="!lst:dc  ")   .!lst:dc { list-style-type: decimal              !important; }
      li(class="!lst:la  ")   .!lst:la { list-style-type: lower-alpha          !important; }
      li(class="!lst:lr  ")   .!lst:lr { list-style-type: lower-roman          !important; }
      li(class="!lst:lg  ")   .!lst:lg { list-style-type: lower-greek          !important; }
      li(class="!lst:d   ")   .!lst:d  { list-style-type: disc                 !important; }
      li(class="!lst:c   ")   .!lst:c  { list-style-type: circle               !important; }
      li(class="!lst:s   ")   .!lst:s  { list-style-type: square               !important; }
  section
    h3 @media screen
    ul
      li(class="!lst:0@s ") .!lst:0@s  { list-style-type: initial              !important; }
      li(class="!lst:i@s ") .!lst:i@s  { list-style-type: inherit              !important; }
      li(class="!lst:n@s ") .!lst:n@s  { list-style-type: none                 !important; }
      li(class="!lst:dz@s") .!lst:dz@s { list-style-type: decimal-leading-zero !important; }
      li(class="!lst:ur@s") .!lst:ur@s { list-style-type: upper-roman          !important; }
      li(class="!lst:ua@s") .!lst:ua@s { list-style-type: upper-alpha          !important; }
      li(class="!lst:dc@s") .!lst:dc@s { list-style-type: decimal              !important; }
      li(class="!lst:la@s") .!lst:la@s { list-style-type: lower-alpha          !important; }
      li(class="!lst:lr@s") .!lst:lr@s { list-style-type: lower-roman          !important; }
      li(class="!lst:lg@s") .!lst:lg@s { list-style-type: lower-greek          !important; }
      li(class="!lst:d@s ") .!lst:d @s { list-style-type: disc                 !important; }
      li(class="!lst:c@s ") .!lst:c @s { list-style-type: circle               !important; }
      li(class="!lst:s@s ") .!lst:s @s { list-style-type: square               !important; }
  section
    h3 @media print
    ul
      li(class="!lst:0@p ") .!lst:0@p  { list-style-type: initial              !important; }
      li(class="!lst:i@p ") .!lst:i@p  { list-style-type: inherit              !important; }
      li(class="!lst:n@p ") .!lst:n@p  { list-style-type: none                 !important; }
      li(class="!lst:dz@p") .!lst:dz@p { list-style-type: decimal-leading-zero !important; }
      li(class="!lst:ur@p") .!lst:ur@p { list-style-type: upper-roman          !important; }
      li(class="!lst:ua@p") .!lst:ua@p { list-style-type: upper-alpha          !important; }
      li(class="!lst:dc@p") .!lst:dc@p { list-style-type: decimal              !important; }
      li(class="!lst:la@p") .!lst:la@p { list-style-type: lower-alpha          !important; }
      li(class="!lst:lr@p") .!lst:lr@p { list-style-type: lower-roman          !important; }
      li(class="!lst:lg@p") .!lst:lg@p { list-style-type: lower-greek          !important; }
      li(class="!lst:d@p ") .!lst:d @p { list-style-type: disc                 !important; }
      li(class="!lst:c@p ") .!lst:c @p { list-style-type: circle               !important; }
      li(class="!lst:s@p ") .!lst:s @p { list-style-type: square               !important; }
