section#list-style-type
  h2 _list-style-type.less
  section
    h3 all media queries
    div(class="!d:li !lst:0 ")   .!lst:0    { list-style-type: initial              !important; }
    div(class="!d:li !lst:i ")   .!lst:i    { list-style-type: inherit              !important; }
    div(class="!d:li !lst:dz")   .!lst:dz   { list-style-type: decimal-leading-zero !important; }
    div(class="!d:li !lst:ur")   .!lst:ur   { list-style-type: upper-roman          !important; }
    div(class="!d:li !lst:ua")   .!lst:ua   { list-style-type: upper-alpha          !important; }
    div(class="!d:li !lst:dc")   .!lst:dc   { list-style-type: decimal              !important; }
    div(class="!d:li !lst:la")   .!lst:la   { list-style-type: lower-alpha          !important; }
    div(class="!d:li !lst:lr")   .!lst:lr   { list-style-type: lower-roman          !important; }
    div(class="!d:li !lst:lg")   .!lst:lg   { list-style-type: lower-greek          !important; }
  section
    h3 @media screen
    div(class="!d:li !lst:0@s ") .!lst:0@s  { list-style-type: initial              !important; }
    div(class="!d:li !lst:i@s ") .!lst:i@s  { list-style-type: inherit              !important; }
    div(class="!d:li !lst:dz@s") .!lst:dz@s { list-style-type: decimal-leading-zero !important; }
    div(class="!d:li !lst:ur@s") .!lst:ur@s { list-style-type: upper-roman          !important; }
    div(class="!d:li !lst:ua@s") .!lst:ua@s { list-style-type: upper-alpha          !important; }
    div(class="!d:li !lst:dc@s") .!lst:dc@s { list-style-type: decimal              !important; }
    div(class="!d:li !lst:la@s") .!lst:la@s { list-style-type: lower-alpha          !important; }
    div(class="!d:li !lst:lr@s") .!lst:lr@s { list-style-type: lower-roman          !important; }
    div(class="!d:li !lst:lg@s") .!lst:lg@s { list-style-type: lower-greek          !important; }
  section
    h3 @media print
    div(class="!d:li !lst:0@p ") .!lst:0@p  { list-style-type: initial              !important; }
    div(class="!d:li !lst:i@p ") .!lst:i@p  { list-style-type: inherit              !important; }
    div(class="!d:li !lst:dz@p") .!lst:dz@p { list-style-type: decimal-leading-zero !important; }
    div(class="!d:li !lst:ur@p") .!lst:ur@p { list-style-type: upper-roman          !important; }
    div(class="!d:li !lst:ua@p") .!lst:ua@p { list-style-type: upper-alpha          !important; }
    div(class="!d:li !lst:dc@p") .!lst:dc@p { list-style-type: decimal              !important; }
    div(class="!d:li !lst:la@p") .!lst:la@p { list-style-type: lower-alpha          !important; }
    div(class="!d:li !lst:lr@p") .!lst:lr@p { list-style-type: lower-roman          !important; }
    div(class="!d:li !lst:lg@p") .!lst:lg@p { list-style-type: lower-greek          !important; }
