section#list-style-position
  h2 _list-style-position.less
  section
    h3 all media queries
    ul
      li(class="!lsp:0   ") .!lsp:0    { list-style-position: initial !important; }
      li(class="!lsp:i   ") .!lsp:i    { list-style-position: inherit !important; }
      li(class="!lsp:os  ") .!lsp:os   { list-style-position: outside !important; }
      li(class="!lsp:is  ") .!lsp:is   { list-style-position: inside  !important; }
  section
    h3 @media screen
    ul
      li(class="!lsp:0@s ") .!lsp:0@s  { list-style-position: initial !important; }
      li(class="!lsp:i@s ") .!lsp:i@s  { list-style-position: inherit !important; }
      li(class="!lsp:os@s") .!lsp:os@s { list-style-position: outside !important; }
      li(class="!lsp:is@s") .!lsp:is@s { list-style-position: inside  !important; }
  section
    h3 @media print
    ul
      li(class="!lsp:0@p ") .!lsp:0@p  { list-style-position: initial !important; }
      li(class="!lsp:i@p ") .!lsp:i@p  { list-style-position: inherit !important; }
      li(class="!lsp:os@p") .!lsp:os@p { list-style-position: outside !important; }
      li(class="!lsp:is@p") .!lsp:is@p { list-style-position: inside  !important; }
