section#margin
  h2 _margin.less
  section
    h3 all media queries
    div(class="!ml:0")   .!ml:0   { margin-left:   initial !important; }
    div(class="!ml:i")   .!ml:i   { margin-left:   inherit !important; }
    div(class="!ml:a")   .!ml:a   { margin-left:   auto    !important; }
    div(class="!ml:h")   .!ml:h   { margin-left:   0.5rem  !important; }
    div(class="!ml:1")   .!ml:1   { margin-left:   1rem    !important; }
    div(class="!ml:2")   .!ml:2   { margin-left:   2rem    !important; }
    div(class="!ml:4")   .!ml:4   { margin-left:   4rem    !important; }
    div(class="!ml:8")   .!ml:8   { margin-left:   8rem    !important; }
    div(class="!ml:g")   .!ml:g   { margin-left:   16rem   !important; }
    div(class="!mr:0")   .!mr:0   { margin-right:  initial !important; }
    div(class="!mr:i")   .!mr:i   { margin-right:  inherit !important; }
    div(class="!mr:a")   .!mr:a   { margin-right:  auto    !important; }
    div(class="!mr:h")   .!mr:h   { margin-right:  0.5rem  !important; }
    div(class="!mr:1")   .!mr:1   { margin-right:  1rem    !important; }
    div(class="!mr:2")   .!mr:2   { margin-right:  2rem    !important; }
    div(class="!mr:4")   .!mr:4   { margin-right:  4rem    !important; }
    div(class="!mr:8")   .!mr:8   { margin-right:  8rem    !important; }
    div(class="!mr:g")   .!mr:g   { margin-right:  16rem   !important; }
    div(class="!mt:0")   .!mt:0   { margin-top:    initial !important; }
    div(class="!mt:i")   .!mt:i   { margin-top:    inherit !important; }
    div(class="!mt:a")   .!mt:a   { margin-top:    auto    !important; }
    div(class="!mt:h")   .!mt:h   { margin-top:    0.5rem  !important; }
    div(class="!mt:1")   .!mt:1   { margin-top:    1rem    !important; }
    div(class="!mt:2")   .!mt:2   { margin-top:    2rem    !important; }
    div(class="!mt:4")   .!mt:4   { margin-top:    4rem    !important; }
    div(class="!mt:8")   .!mt:8   { margin-top:    8rem    !important; }
    div(class="!mt:g")   .!mt:g   { margin-top:    16rem   !important; }
    div(class="!mb:0")   .!mb:0   { margin-bottom: initial !important; }
    div(class="!mb:i")   .!mb:i   { margin-bottom: inherit !important; }
    div(class="!mb:a")   .!mb:a   { margin-bottom: auto    !important; }
    div(class="!mb:h")   .!mb:h   { margin-bottom: 0.5rem  !important; }
    div(class="!mb:1")   .!mb:1   { margin-bottom: 1rem    !important; }
    div(class="!mb:2")   .!mb:2   { margin-bottom: 2rem    !important; }
    div(class="!mb:4")   .!mb:4   { margin-bottom: 4rem    !important; }
    div(class="!mb:8")   .!mb:8   { margin-bottom: 8rem    !important; }
    div(class="!mb:g")   .!mb:g   { margin-bottom: 16rem   !important; }
    div(class="!mx:0")   .!mx:0   { margin-left:   initial !important; margin-right:  initial !important; }
    div(class="!mx:i")   .!mx:i   { margin-left:   inherit !important; margin-right:  inherit !important; }
    div(class="!mx:a")   .!mx:a   { margin-left:   auto    !important; margin-right:  auto    !important; }
    div(class="!mx:h")   .!mx:h   { margin-left:   0.5rem  !important; margin-right:  0.5rem  !important; }
    div(class="!mx:1")   .!mx:1   { margin-left:   1rem    !important; margin-right:  1rem    !important; }
    div(class="!mx:2")   .!mx:2   { margin-left:   2rem    !important; margin-right:  2rem    !important; }
    div(class="!mx:4")   .!mx:4   { margin-left:   4rem    !important; margin-right:  4rem    !important; }
    div(class="!mx:8")   .!mx:8   { margin-left:   8rem    !important; margin-right:  8rem    !important; }
    div(class="!mx:g")   .!mx:g   { margin-left:   16rem   !important; margin-right:  16rem   !important; }
    div(class="!my:0")   .!my:0   { margin-top:    initial !important; margin-bottom: initial !important; }
    div(class="!my:i")   .!my:i   { margin-top:    inherit !important; margin-bottom: inherit !important; }
    div(class="!my:a")   .!my:a   { margin-top:    auto    !important; margin-bottom: auto    !important; }
    div(class="!my:h")   .!my:h   { margin-top:    0.5rem  !important; margin-bottom: 0.5rem  !important; }
    div(class="!my:1")   .!my:1   { margin-top:    1rem    !important; margin-bottom: 1rem    !important; }
    div(class="!my:2")   .!my:2   { margin-top:    2rem    !important; margin-bottom: 2rem    !important; }
    div(class="!my:4")   .!my:4   { margin-top:    4rem    !important; margin-bottom: 4rem    !important; }
    div(class="!my:8")   .!my:8   { margin-top:    8rem    !important; margin-bottom: 8rem    !important; }
    div(class="!my:g")   .!my:g   { margin-top:    16rem   !important; margin-bottom: 16rem   !important; }
    div(class="!ma:0")   .!ma:0   { margin:        initial !important; }
    div(class="!ma:i")   .!ma:i   { margin:        inherit !important; }
    div(class="!ma:a")   .!ma:a   { margin:        auto    !important; }
    div(class="!ma:h")   .!ma:h   { margin:        0.5rem  !important; }
    div(class="!ma:1")   .!ma:1   { margin:        1rem    !important; }
    div(class="!ma:2")   .!ma:2   { margin:        2rem    !important; }
    div(class="!ma:4")   .!ma:4   { margin:        4rem    !important; }
    div(class="!ma:8")   .!ma:8   { margin:        8rem    !important; }
    div(class="!ma:g")   .!ma:g   { margin:        16rem   !important; }
  section
    h3 @media screen
    div(class="!ml:0@s") .!ml:0@s { margin-left:   initial !important; }
    div(class="!ml:i@s") .!ml:i@s { margin-left:   inherit !important; }
    div(class="!ml:a@s") .!ml:a@s { margin-left:   auto    !important; }
    div(class="!ml:h@s") .!ml:h@s { margin-left:   0.5rem  !important; }
    div(class="!ml:1@s") .!ml:1@s { margin-left:   1rem    !important; }
    div(class="!ml:2@s") .!ml:2@s { margin-left:   2rem    !important; }
    div(class="!ml:4@s") .!ml:4@s { margin-left:   4rem    !important; }
    div(class="!ml:8@s") .!ml:8@s { margin-left:   8rem    !important; }
    div(class="!ml:g@s") .!ml:g@s { margin-left:   16rem   !important; }
    div(class="!mr:0@s") .!mr:0@s { margin-right:  initial !important; }
    div(class="!mr:i@s") .!mr:i@s { margin-right:  inherit !important; }
    div(class="!mr:a@s") .!mr:a@s { margin-right:  auto    !important; }
    div(class="!mr:h@s") .!mr:h@s { margin-right:  0.5rem  !important; }
    div(class="!mr:1@s") .!mr:1@s { margin-right:  1rem    !important; }
    div(class="!mr:2@s") .!mr:2@s { margin-right:  2rem    !important; }
    div(class="!mr:4@s") .!mr:4@s { margin-right:  4rem    !important; }
    div(class="!mr:8@s") .!mr:8@s { margin-right:  8rem    !important; }
    div(class="!mr:g@s") .!mr:g@s { margin-right:  16rem   !important; }
    div(class="!mt:0@s") .!mt:0@s { margin-top:    initial !important; }
    div(class="!mt:i@s") .!mt:i@s { margin-top:    inherit !important; }
    div(class="!mt:a@s") .!mt:a@s { margin-top:    auto    !important; }
    div(class="!mt:h@s") .!mt:h@s { margin-top:    0.5rem  !important; }
    div(class="!mt:1@s") .!mt:1@s { margin-top:    1rem    !important; }
    div(class="!mt:2@s") .!mt:2@s { margin-top:    2rem    !important; }
    div(class="!mt:4@s") .!mt:4@s { margin-top:    4rem    !important; }
    div(class="!mt:8@s") .!mt:8@s { margin-top:    8rem    !important; }
    div(class="!mt:g@s") .!mt:g@s { margin-top:    16rem   !important; }
    div(class="!mb:0@s") .!mb:0@s { margin-bottom: initial !important; }
    div(class="!mb:i@s") .!mb:i@s { margin-bottom: inherit !important; }
    div(class="!mb:a@s") .!mb:a@s { margin-bottom: auto    !important; }
    div(class="!mb:h@s") .!mb:h@s { margin-bottom: 0.5rem  !important; }
    div(class="!mb:1@s") .!mb:1@s { margin-bottom: 1rem    !important; }
    div(class="!mb:2@s") .!mb:2@s { margin-bottom: 2rem    !important; }
    div(class="!mb:4@s") .!mb:4@s { margin-bottom: 4rem    !important; }
    div(class="!mb:8@s") .!mb:8@s { margin-bottom: 8rem    !important; }
    div(class="!mb:g@s") .!mb:g@s { margin-bottom: 16rem   !important; }
    div(class="!mx:0@s") .!mx:0@s { margin-left:   initial !important; margin-right:  initial !important; }
    div(class="!mx:i@s") .!mx:i@s { margin-left:   inherit !important; margin-right:  inherit !important; }
    div(class="!mx:a@s") .!mx:a@s { margin-left:   auto    !important; margin-right:  auto    !important; }
    div(class="!mx:h@s") .!mx:h@s { margin-left:   0.5rem  !important; margin-right:  0.5rem  !important; }
    div(class="!mx:1@s") .!mx:1@s { margin-left:   1rem    !important; margin-right:  1rem    !important; }
    div(class="!mx:2@s") .!mx:2@s { margin-left:   2rem    !important; margin-right:  2rem    !important; }
    div(class="!mx:4@s") .!mx:4@s { margin-left:   4rem    !important; margin-right:  4rem    !important; }
    div(class="!mx:8@s") .!mx:8@s { margin-left:   8rem    !important; margin-right:  8rem    !important; }
    div(class="!mx:g@s") .!mx:g@s { margin-left:   16rem   !important; margin-right:  16rem   !important; }
    div(class="!my:0@s") .!my:0@s { margin-top:    initial !important; margin-bottom: initial !important; }
    div(class="!my:i@s") .!my:i@s { margin-top:    inherit !important; margin-bottom: inherit !important; }
    div(class="!my:a@s") .!my:a@s { margin-top:    auto    !important; margin-bottom: auto    !important; }
    div(class="!my:h@s") .!my:h@s { margin-top:    0.5rem  !important; margin-bottom: 0.5rem  !important; }
    div(class="!my:1@s") .!my:1@s { margin-top:    1rem    !important; margin-bottom: 1rem    !important; }
    div(class="!my:2@s") .!my:2@s { margin-top:    2rem    !important; margin-bottom: 2rem    !important; }
    div(class="!my:4@s") .!my:4@s { margin-top:    4rem    !important; margin-bottom: 4rem    !important; }
    div(class="!my:8@s") .!my:8@s { margin-top:    8rem    !important; margin-bottom: 8rem    !important; }
    div(class="!my:g@s") .!my:g@s { margin-top:    16rem   !important; margin-bottom: 16rem   !important; }
    div(class="!ma:0@s") .!ma:0@s { margin:        initial !important; }
    div(class="!ma:i@s") .!ma:i@s { margin:        inherit !important; }
    div(class="!ma:a@s") .!ma:a@s { margin:        auto    !important; }
    div(class="!ma:h@s") .!ma:h@s { margin:        0.5rem  !important; }
    div(class="!ma:1@s") .!ma:1@s { margin:        1rem    !important; }
    div(class="!ma:2@s") .!ma:2@s { margin:        2rem    !important; }
    div(class="!ma:4@s") .!ma:4@s { margin:        4rem    !important; }
    div(class="!ma:8@s") .!ma:8@s { margin:        8rem    !important; }
    div(class="!ma:g@s") .!ma:g@s { margin:        16rem   !important; }
  section
    h3 @media print
    div(class="!ml:0@p") .!ml:0@p { margin-left:   initial !important; }
    div(class="!ml:i@p") .!ml:i@p { margin-left:   inherit !important; }
    div(class="!ml:a@p") .!ml:a@p { margin-left:   auto    !important; }
    div(class="!ml:h@p") .!ml:h@p { margin-left:   0.5rem  !important; }
    div(class="!ml:1@p") .!ml:1@p { margin-left:   1rem    !important; }
    div(class="!ml:2@p") .!ml:2@p { margin-left:   2rem    !important; }
    div(class="!ml:4@p") .!ml:4@p { margin-left:   4rem    !important; }
    div(class="!ml:8@p") .!ml:8@p { margin-left:   8rem    !important; }
    div(class="!ml:g@p") .!ml:g@p { margin-left:   16rem   !important; }
    div(class="!mr:0@p") .!mr:0@p { margin-right:  initial !important; }
    div(class="!mr:i@p") .!mr:i@p { margin-right:  inherit !important; }
    div(class="!mr:a@p") .!mr:a@p { margin-right:  auto    !important; }
    div(class="!mr:h@p") .!mr:h@p { margin-right:  0.5rem  !important; }
    div(class="!mr:1@p") .!mr:1@p { margin-right:  1rem    !important; }
    div(class="!mr:2@p") .!mr:2@p { margin-right:  2rem    !important; }
    div(class="!mr:4@p") .!mr:4@p { margin-right:  4rem    !important; }
    div(class="!mr:8@p") .!mr:8@p { margin-right:  8rem    !important; }
    div(class="!mr:g@p") .!mr:g@p { margin-right:  16rem   !important; }
    div(class="!mt:0@p") .!mt:0@p { margin-top:    initial !important; }
    div(class="!mt:i@p") .!mt:i@p { margin-top:    inherit !important; }
    div(class="!mt:a@p") .!mt:a@p { margin-top:    auto    !important; }
    div(class="!mt:h@p") .!mt:h@p { margin-top:    0.5rem  !important; }
    div(class="!mt:1@p") .!mt:1@p { margin-top:    1rem    !important; }
    div(class="!mt:2@p") .!mt:2@p { margin-top:    2rem    !important; }
    div(class="!mt:4@p") .!mt:4@p { margin-top:    4rem    !important; }
    div(class="!mt:8@p") .!mt:8@p { margin-top:    8rem    !important; }
    div(class="!mt:g@p") .!mt:g@p { margin-top:    16rem   !important; }
    div(class="!mb:0@p") .!mb:0@p { margin-bottom: initial !important; }
    div(class="!mb:i@p") .!mb:i@p { margin-bottom: inherit !important; }
    div(class="!mb:a@p") .!mb:a@p { margin-bottom: auto    !important; }
    div(class="!mb:h@p") .!mb:h@p { margin-bottom: 0.5rem  !important; }
    div(class="!mb:1@p") .!mb:1@p { margin-bottom: 1rem    !important; }
    div(class="!mb:2@p") .!mb:2@p { margin-bottom: 2rem    !important; }
    div(class="!mb:4@p") .!mb:4@p { margin-bottom: 4rem    !important; }
    div(class="!mb:8@p") .!mb:8@p { margin-bottom: 8rem    !important; }
    div(class="!mb:g@p") .!mb:g@p { margin-bottom: 16rem   !important; }
    div(class="!mx:0@p") .!mx:0@p { margin-left:   initial !important; margin-right:  initial !important; }
    div(class="!mx:i@p") .!mx:i@p { margin-left:   inherit !important; margin-right:  inherit !important; }
    div(class="!mx:a@p") .!mx:a@p { margin-left:   auto    !important; margin-right:  auto    !important; }
    div(class="!mx:h@p") .!mx:h@p { margin-left:   0.5rem  !important; margin-right:  0.5rem  !important; }
    div(class="!mx:1@p") .!mx:1@p { margin-left:   1rem    !important; margin-right:  1rem    !important; }
    div(class="!mx:2@p") .!mx:2@p { margin-left:   2rem    !important; margin-right:  2rem    !important; }
    div(class="!mx:4@p") .!mx:4@p { margin-left:   4rem    !important; margin-right:  4rem    !important; }
    div(class="!mx:8@p") .!mx:8@p { margin-left:   8rem    !important; margin-right:  8rem    !important; }
    div(class="!mx:g@p") .!mx:g@p { margin-left:   16rem   !important; margin-right:  16rem   !important; }
    div(class="!my:0@p") .!my:0@p { margin-top:    initial !important; margin-bottom: initial !important; }
    div(class="!my:i@p") .!my:i@p { margin-top:    inherit !important; margin-bottom: inherit !important; }
    div(class="!my:a@p") .!my:a@p { margin-top:    auto    !important; margin-bottom: auto    !important; }
    div(class="!my:h@p") .!my:h@p { margin-top:    0.5rem  !important; margin-bottom: 0.5rem  !important; }
    div(class="!my:1@p") .!my:1@p { margin-top:    1rem    !important; margin-bottom: 1rem    !important; }
    div(class="!my:2@p") .!my:2@p { margin-top:    2rem    !important; margin-bottom: 2rem    !important; }
    div(class="!my:4@p") .!my:4@p { margin-top:    4rem    !important; margin-bottom: 4rem    !important; }
    div(class="!my:8@p") .!my:8@p { margin-top:    8rem    !important; margin-bottom: 8rem    !important; }
    div(class="!my:g@p") .!my:g@p { margin-top:    16rem   !important; margin-bottom: 16rem   !important; }
    div(class="!ma:0@p") .!ma:0@p { margin:        initial !important; }
    div(class="!ma:i@p") .!ma:i@p { margin:        inherit !important; }
    div(class="!ma:a@p") .!ma:a@p { margin:        auto    !important; }
    div(class="!ma:h@p") .!ma:h@p { margin:        0.5rem  !important; }
    div(class="!ma:1@p") .!ma:1@p { margin:        1rem    !important; }
    div(class="!ma:2@p") .!ma:2@p { margin:        2rem    !important; }
    div(class="!ma:4@p") .!ma:4@p { margin:        4rem    !important; }
    div(class="!ma:8@p") .!ma:8@p { margin:        8rem    !important; }
    div(class="!ma:g@p") .!ma:g@p { margin:        16rem   !important; }
