section#order.ss-flexbox
  h2 _order.less
  section
    h3 all media queries
    div(class="!xo:0")    .!xo:0    { order: initial !important; }
    div(class="!xo:1")    .!xo:1    { order:   1     !important; }
    div(class="!xo:2")    .!xo:2    { order:   2     !important; }
    div(class="!xo:3")    .!xo:3    { order:   3     !important; }
    div(class="!xo:4")    .!xo:4    { order:   4     !important; }
    div(class="!xo:5")    .!xo:5    { order:   5     !important; }
    div(class="!xo:6")    .!xo:6    { order:   6     !important; }
    div(class="!xo:7")    .!xo:7    { order:   7     !important; }
    div(class="!xo:8")    .!xo:8    { order:   8     !important; }
    div(class="!xo:9")    .!xo:9    { order:   9     !important; }
    div(class="!xo:a")    .!xo:a    { order:  10     !important; }
    div(class="!xo:b")    .!xo:b    { order:  11     !important; }
    div(class="!xo:c")    .!xo:c    { order:  12     !important; }
    div(class="!xo:d")    .!xo:d    { order:  13     !important; }
    div(class="!xo:e")    .!xo:e    { order:  14     !important; }
    div(class="!xo:f")    .!xo:f    { order:  15     !important; }
    div(class="!xo:-1")   .!xo:-1   { order:  -1     !important; }
    div(class="!xo:-2")   .!xo:-2   { order:  -2     !important; }
    div(class="!xo:-3")   .!xo:-3   { order:  -3     !important; }
    div(class="!xo:-4")   .!xo:-4   { order:  -4     !important; }
    div(class="!xo:-5")   .!xo:-5   { order:  -5     !important; }
    div(class="!xo:-6")   .!xo:-6   { order:  -6     !important; }
    div(class="!xo:-7")   .!xo:-7   { order:  -7     !important; }
    div(class="!xo:-8")   .!xo:-8   { order:  -8     !important; }
    div(class="!xo:-9")   .!xo:-9   { order:  -9     !important; }
    div(class="!xo:-a")   .!xo:-a   { order: -10     !important; }
    div(class="!xo:-b")   .!xo:-b   { order: -11     !important; }
    div(class="!xo:-c")   .!xo:-c   { order: -12     !important; }
    div(class="!xo:-d")   .!xo:-d   { order: -13     !important; }
    div(class="!xo:-e")   .!xo:-e   { order: -14     !important; }
    div(class="!xo:-f")   .!xo:-f   { order: -15     !important; }
  section
    h3 @media screen
    div(class="!xo:0@s ") .!xo:0@s  { order: initial !important; }
    div(class="!xo:1@s ") .!xo:1@s  { order:   1     !important; }
    div(class="!xo:2@s ") .!xo:2@s  { order:   2     !important; }
    div(class="!xo:3@s ") .!xo:3@s  { order:   3     !important; }
    div(class="!xo:4@s ") .!xo:4@s  { order:   4     !important; }
    div(class="!xo:5@s ") .!xo:5@s  { order:   5     !important; }
    div(class="!xo:6@s ") .!xo:6@s  { order:   6     !important; }
    div(class="!xo:7@s ") .!xo:7@s  { order:   7     !important; }
    div(class="!xo:8@s ") .!xo:8@s  { order:   8     !important; }
    div(class="!xo:9@s ") .!xo:9@s  { order:   9     !important; }
    div(class="!xo:a@s ") .!xo:a@s  { order:  10     !important; }
    div(class="!xo:b@s ") .!xo:b@s  { order:  11     !important; }
    div(class="!xo:c@s ") .!xo:c@s  { order:  12     !important; }
    div(class="!xo:d@s ") .!xo:d@s  { order:  13     !important; }
    div(class="!xo:e@s ") .!xo:e@s  { order:  14     !important; }
    div(class="!xo:f@s ") .!xo:f@s  { order:  15     !important; }
    div(class="!xo:-1@s") .!xo:-1@s { order:  -1     !important; }
    div(class="!xo:-2@s") .!xo:-2@s { order:  -2     !important; }
    div(class="!xo:-3@s") .!xo:-3@s { order:  -3     !important; }
    div(class="!xo:-4@s") .!xo:-4@s { order:  -4     !important; }
    div(class="!xo:-5@s") .!xo:-5@s { order:  -5     !important; }
    div(class="!xo:-6@s") .!xo:-6@s { order:  -6     !important; }
    div(class="!xo:-7@s") .!xo:-7@s { order:  -7     !important; }
    div(class="!xo:-8@s") .!xo:-8@s { order:  -8     !important; }
    div(class="!xo:-9@s") .!xo:-9@s { order:  -9     !important; }
    div(class="!xo:-a@s") .!xo:-a@s { order: -10     !important; }
    div(class="!xo:-b@s") .!xo:-b@s { order: -11     !important; }
    div(class="!xo:-c@s") .!xo:-c@s { order: -12     !important; }
    div(class="!xo:-d@s") .!xo:-d@s { order: -13     !important; }
    div(class="!xo:-e@s") .!xo:-e@s { order: -14     !important; }
    div(class="!xo:-f@s") .!xo:-f@s { order: -15     !important; }
  section
    h3 @media print
    div(class="!xo:0@p ") .!xo:0@p  { order: initial !important; }
    div(class="!xo:1@p ") .!xo:1@p  { order:   1     !important; }
    div(class="!xo:2@p ") .!xo:2@p  { order:   2     !important; }
    div(class="!xo:3@p ") .!xo:3@p  { order:   3     !important; }
    div(class="!xo:4@p ") .!xo:4@p  { order:   4     !important; }
    div(class="!xo:5@p ") .!xo:5@p  { order:   5     !important; }
    div(class="!xo:6@p ") .!xo:6@p  { order:   6     !important; }
    div(class="!xo:7@p ") .!xo:7@p  { order:   7     !important; }
    div(class="!xo:8@p ") .!xo:8@p  { order:   8     !important; }
    div(class="!xo:9@p ") .!xo:9@p  { order:   9     !important; }
    div(class="!xo:a@p ") .!xo:a@p  { order:  10     !important; }
    div(class="!xo:b@p ") .!xo:b@p  { order:  11     !important; }
    div(class="!xo:c@p ") .!xo:c@p  { order:  12     !important; }
    div(class="!xo:d@p ") .!xo:d@p  { order:  13     !important; }
    div(class="!xo:e@p ") .!xo:e@p  { order:  14     !important; }
    div(class="!xo:f@p ") .!xo:f@p  { order:  15     !important; }
    div(class="!xo:-1@p") .!xo:-1@p { order:  -1     !important; }
    div(class="!xo:-2@p") .!xo:-2@p { order:  -2     !important; }
    div(class="!xo:-3@p") .!xo:-3@p { order:  -3     !important; }
    div(class="!xo:-4@p") .!xo:-4@p { order:  -4     !important; }
    div(class="!xo:-5@p") .!xo:-5@p { order:  -5     !important; }
    div(class="!xo:-6@p") .!xo:-6@p { order:  -6     !important; }
    div(class="!xo:-7@p") .!xo:-7@p { order:  -7     !important; }
    div(class="!xo:-8@p") .!xo:-8@p { order:  -8     !important; }
    div(class="!xo:-9@p") .!xo:-9@p { order:  -9     !important; }
    div(class="!xo:-a@p") .!xo:-a@p { order: -10     !important; }
    div(class="!xo:-b@p") .!xo:-b@p { order: -11     !important; }
    div(class="!xo:-c@p") .!xo:-c@p { order: -12     !important; }
    div(class="!xo:-d@p") .!xo:-d@p { order: -13     !important; }
    div(class="!xo:-e@p") .!xo:-e@p { order: -14     !important; }
    div(class="!xo:-f@p") .!xo:-f@p { order: -15     !important; }
