section#overflow-wrap
  h2 _overflow-wrap.less
  section
    h3 all media queries
    div(class="!ww:0")   .!ww:0   { overflow-wrap: initial    !important; }
    div(class="!ww:i")   .!ww:i   { overflow-wrap: inherit    !important; }
    div(class="!ww:n")   .!ww:n   { overflow-wrap: normal     !important; }
    div(class="!ww:b")   .!ww:b   { overflow-wrap: break-word !important; }
  section
    h3 @media screen
    div(class="!ww:0@s") .!ww:0@s { overflow-wrap: initial    !important; }
    div(class="!ww:i@s") .!ww:i@s { overflow-wrap: inherit    !important; }
    div(class="!ww:n@s") .!ww:n@s { overflow-wrap: normal     !important; }
    div(class="!ww:b@s") .!ww:b@s { overflow-wrap: break-word !important; }
  section
    h3 @media print
    div(class="!ww:0@p") .!ww:0@p { overflow-wrap: initial    !important; }
    div(class="!ww:i@p") .!ww:i@p { overflow-wrap: inherit    !important; }
    div(class="!ww:n@p") .!ww:n@p { overflow-wrap: normal     !important; }
    div(class="!ww:b@p") .!ww:b@p { overflow-wrap: break-word !important; }
