section#overflow
  h2 _overflow.less
  section
    h3 all media queries
    div(class="!of:0")   .!of:0   { overflow: initial !important; }
    div(class="!of:i")   .!of:i   { overflow: inherit !important; }
    div(class="!of:a")   .!of:a   { overflow: auto    !important; }
    div(class="!of:v")   .!of:v   { overflow: visible !important; }
    div(class="!of:h")   .!of:h   { overflow: hidden  !important; }
    div(class="!of:s")   .!of:s   { overflow: scroll  !important; }
  section
    h3 @media screen
    div(class="!of:0@s") .!of:0@s { overflow: initial !important; }
    div(class="!of:i@s") .!of:i@s { overflow: inherit !important; }
    div(class="!of:a@s") .!of:a@s { overflow: auto    !important; }
    div(class="!of:v@s") .!of:v@s { overflow: visible !important; }
    div(class="!of:h@s") .!of:h@s { overflow: hidden  !important; }
    div(class="!of:s@s") .!of:s@s { overflow: scroll  !important; }
  section
    h3 @media print
    div(class="!of:0@p") .!of:0@p { overflow: initial !important; }
    div(class="!of:i@p") .!of:i@p { overflow: inherit !important; }
    div(class="!of:a@p") .!of:a@p { overflow: auto    !important; }
    div(class="!of:v@p") .!of:v@p { overflow: visible !important; }
    div(class="!of:h@p") .!of:h@p { overflow: hidden  !important; }
    div(class="!of:s@p") .!of:s@p { overflow: scroll  !important; }
