section#padding
  h2 _padding.less
  section
    h3 all media queries
    div(class="!pl:0")   .!pl:0   { padding-left:   initial !important; }
    div(class="!pl:i")   .!pl:i   { padding-left:   inherit !important; }
    div(class="!pl:h")   .!pl:h   { padding-left:   0.5rem  !important; }
    div(class="!pl:1")   .!pl:1   { padding-left:   1rem    !important; }
    div(class="!pl:2")   .!pl:2   { padding-left:   2rem    !important; }
    div(class="!pl:4")   .!pl:4   { padding-left:   4rem    !important; }
    div(class="!pl:8")   .!pl:8   { padding-left:   8rem    !important; }
    div(class="!pl:g")   .!pl:g   { padding-left:   16rem   !important; }
    div(class="!pr:0")   .!pr:0   { padding-right:  initial !important; }
    div(class="!pr:i")   .!pr:i   { padding-right:  inherit !important; }
    div(class="!pr:h")   .!pr:h   { padding-right:  0.5rem  !important; }
    div(class="!pr:1")   .!pr:1   { padding-right:  1rem    !important; }
    div(class="!pr:2")   .!pr:2   { padding-right:  2rem    !important; }
    div(class="!pr:4")   .!pr:4   { padding-right:  4rem    !important; }
    div(class="!pr:8")   .!pr:8   { padding-right:  8rem    !important; }
    div(class="!pr:g")   .!pr:g   { padding-right:  16rem   !important; }
    div(class="!pt:0")   .!pt:0   { padding-top:    initial !important; }
    div(class="!pt:i")   .!pt:i   { padding-top:    inherit !important; }
    div(class="!pt:h")   .!pt:h   { padding-top:    0.5rem  !important; }
    div(class="!pt:1")   .!pt:1   { padding-top:    1rem    !important; }
    div(class="!pt:2")   .!pt:2   { padding-top:    2rem    !important; }
    div(class="!pt:4")   .!pt:4   { padding-top:    4rem    !important; }
    div(class="!pt:8")   .!pt:8   { padding-top:    8rem    !important; }
    div(class="!pt:g")   .!pt:g   { padding-top:    16rem   !important; }
    div(class="!pb:0")   .!pb:0   { padding-bottom: initial !important; }
    div(class="!pb:i")   .!pb:i   { padding-bottom: inherit !important; }
    div(class="!pb:h")   .!pb:h   { padding-bottom: 0.5rem  !important; }
    div(class="!pb:1")   .!pb:1   { padding-bottom: 1rem    !important; }
    div(class="!pb:2")   .!pb:2   { padding-bottom: 2rem    !important; }
    div(class="!pb:4")   .!pb:4   { padding-bottom: 4rem    !important; }
    div(class="!pb:8")   .!pb:8   { padding-bottom: 8rem    !important; }
    div(class="!pb:g")   .!pb:g   { padding-bottom: 16rem   !important; }
    div(class="!px:0")   .!px:0   { padding-left:   initial !important; padding-right:  initial !important; }
    div(class="!px:i")   .!px:i   { padding-left:   inherit !important; padding-right:  inherit !important; }
    div(class="!px:h")   .!px:h   { padding-left:   0.5rem  !important; padding-right:  0.5rem  !important; }
    div(class="!px:1")   .!px:1   { padding-left:   1rem    !important; padding-right:  1rem    !important; }
    div(class="!px:2")   .!px:2   { padding-left:   2rem    !important; padding-right:  2rem    !important; }
    div(class="!px:4")   .!px:4   { padding-left:   4rem    !important; padding-right:  4rem    !important; }
    div(class="!px:8")   .!px:8   { padding-left:   8rem    !important; padding-right:  8rem    !important; }
    div(class="!px:g")   .!px:g   { padding-left:   16rem   !important; padding-right:  16rem   !important; }
    div(class="!py:0")   .!py:0   { padding-top:    initial !important; padding-bottom: initial !important; }
    div(class="!py:i")   .!py:i   { padding-top:    inherit !important; padding-bottom: inherit !important; }
    div(class="!py:h")   .!py:h   { padding-top:    0.5rem  !important; padding-bottom: 0.5rem  !important; }
    div(class="!py:1")   .!py:1   { padding-top:    1rem    !important; padding-bottom: 1rem    !important; }
    div(class="!py:2")   .!py:2   { padding-top:    2rem    !important; padding-bottom: 2rem    !important; }
    div(class="!py:4")   .!py:4   { padding-top:    4rem    !important; padding-bottom: 4rem    !important; }
    div(class="!py:8")   .!py:8   { padding-top:    8rem    !important; padding-bottom: 8rem    !important; }
    div(class="!py:g")   .!py:g   { padding-top:    16rem   !important; padding-bottom: 16rem   !important; }
    div(class="!pa:0")   .!pa:0   { padding:        initial !important; }
    div(class="!pa:i")   .!pa:i   { padding:        inherit !important; }
    div(class="!pa:h")   .!pa:h   { padding:        0.5rem  !important; }
    div(class="!pa:1")   .!pa:1   { padding:        1rem    !important; }
    div(class="!pa:2")   .!pa:2   { padding:        2rem    !important; }
    div(class="!pa:4")   .!pa:4   { padding:        4rem    !important; }
    div(class="!pa:8")   .!pa:8   { padding:        8rem    !important; }
    div(class="!pa:g")   .!pa:g   { padding:        16rem   !important; }
  section
    h3 @media screen
    div(class="!pl:0@s") .!pl:0@s { padding-left:   initial !important; }
    div(class="!pl:i@s") .!pl:i@s { padding-left:   inherit !important; }
    div(class="!pl:h@s") .!pl:h@s { padding-left:   0.5rem  !important; }
    div(class="!pl:1@s") .!pl:1@s { padding-left:   1rem    !important; }
    div(class="!pl:2@s") .!pl:2@s { padding-left:   2rem    !important; }
    div(class="!pl:4@s") .!pl:4@s { padding-left:   4rem    !important; }
    div(class="!pl:8@s") .!pl:8@s { padding-left:   8rem    !important; }
    div(class="!pl:g@s") .!pl:g@s { padding-left:   16rem   !important; }
    div(class="!pr:0@s") .!pr:0@s { padding-right:  initial !important; }
    div(class="!pr:i@s") .!pr:i@s { padding-right:  inherit !important; }
    div(class="!pr:h@s") .!pr:h@s { padding-right:  0.5rem  !important; }
    div(class="!pr:1@s") .!pr:1@s { padding-right:  1rem    !important; }
    div(class="!pr:2@s") .!pr:2@s { padding-right:  2rem    !important; }
    div(class="!pr:4@s") .!pr:4@s { padding-right:  4rem    !important; }
    div(class="!pr:8@s") .!pr:8@s { padding-right:  8rem    !important; }
    div(class="!pr:g@s") .!pr:g@s { padding-right:  16rem   !important; }
    div(class="!pt:0@s") .!pt:0@s { padding-top:    initial !important; }
    div(class="!pt:i@s") .!pt:i@s { padding-top:    inherit !important; }
    div(class="!pt:h@s") .!pt:h@s { padding-top:    0.5rem  !important; }
    div(class="!pt:1@s") .!pt:1@s { padding-top:    1rem    !important; }
    div(class="!pt:2@s") .!pt:2@s { padding-top:    2rem    !important; }
    div(class="!pt:4@s") .!pt:4@s { padding-top:    4rem    !important; }
    div(class="!pt:8@s") .!pt:8@s { padding-top:    8rem    !important; }
    div(class="!pt:g@s") .!pt:g@s { padding-top:    16rem   !important; }
    div(class="!pb:0@s") .!pb:0@s { padding-bottom: initial !important; }
    div(class="!pb:i@s") .!pb:i@s { padding-bottom: inherit !important; }
    div(class="!pb:h@s") .!pb:h@s { padding-bottom: 0.5rem  !important; }
    div(class="!pb:1@s") .!pb:1@s { padding-bottom: 1rem    !important; }
    div(class="!pb:2@s") .!pb:2@s { padding-bottom: 2rem    !important; }
    div(class="!pb:4@s") .!pb:4@s { padding-bottom: 4rem    !important; }
    div(class="!pb:8@s") .!pb:8@s { padding-bottom: 8rem    !important; }
    div(class="!pb:g@s") .!pb:g@s { padding-bottom: 16rem   !important; }
    div(class="!px:0@s") .!px:0@s { padding-left:   initial !important; padding-right:  initial !important; }
    div(class="!px:0@s") .!px:0@s { padding-left:   inherit !important; padding-right:  inherit !important; }
    div(class="!px:h@s") .!px:h@s { padding-left:   0.5rem  !important; padding-right:  0.5rem  !important; }
    div(class="!px:1@s") .!px:1@s { padding-left:   1rem    !important; padding-right:  1rem    !important; }
    div(class="!px:2@s") .!px:2@s { padding-left:   2rem    !important; padding-right:  2rem    !important; }
    div(class="!px:4@s") .!px:4@s { padding-left:   4rem    !important; padding-right:  4rem    !important; }
    div(class="!px:8@s") .!px:8@s { padding-left:   8rem    !important; padding-right:  8rem    !important; }
    div(class="!px:g@s") .!px:g@s { padding-left:   16rem   !important; padding-right:  16rem   !important; }
    div(class="!py:0@s") .!py:0@s { padding-top:    initial !important; padding-bottom: initial !important; }
    div(class="!py:0@s") .!py:0@s { padding-top:    inherit !important; padding-bottom: inherit !important; }
    div(class="!py:h@s") .!py:h@s { padding-top:    0.5rem  !important; padding-bottom: 0.5rem  !important; }
    div(class="!py:1@s") .!py:1@s { padding-top:    1rem    !important; padding-bottom: 1rem    !important; }
    div(class="!py:2@s") .!py:2@s { padding-top:    2rem    !important; padding-bottom: 2rem    !important; }
    div(class="!py:4@s") .!py:4@s { padding-top:    4rem    !important; padding-bottom: 4rem    !important; }
    div(class="!py:8@s") .!py:8@s { padding-top:    8rem    !important; padding-bottom: 8rem    !important; }
    div(class="!py:g@s") .!py:g@s { padding-top:    16rem   !important; padding-bottom: 16rem   !important; }
    div(class="!pa:0@s") .!pa:0@s { padding:        initial !important; }
    div(class="!pa:0@s") .!pa:0@s { padding:        inherit !important; }
    div(class="!pa:h@s") .!pa:h@s { padding:        0.5rem  !important; }
    div(class="!pa:1@s") .!pa:1@s { padding:        1rem    !important; }
    div(class="!pa:2@s") .!pa:2@s { padding:        2rem    !important; }
    div(class="!pa:4@s") .!pa:4@s { padding:        4rem    !important; }
    div(class="!pa:8@s") .!pa:8@s { padding:        8rem    !important; }
    div(class="!pa:g@s") .!pa:g@s { padding:        16rem   !important; }
  section
    h3 @media print
    div(class="!pl:0@p") .!pl:0@p { padding-left:   initial !important; }
    div(class="!pl:i@p") .!pl:i@p { padding-left:   inherit !important; }
    div(class="!pl:h@p") .!pl:h@p { padding-left:   0.5rem  !important; }
    div(class="!pl:1@p") .!pl:1@p { padding-left:   1rem    !important; }
    div(class="!pl:2@p") .!pl:2@p { padding-left:   2rem    !important; }
    div(class="!pl:4@p") .!pl:4@p { padding-left:   4rem    !important; }
    div(class="!pl:8@p") .!pl:8@p { padding-left:   8rem    !important; }
    div(class="!pl:g@p") .!pl:g@p { padding-left:   16rem   !important; }
    div(class="!pr:0@p") .!pr:0@p { padding-right:  initial !important; }
    div(class="!pr:i@p") .!pr:i@p { padding-right:  inherit !important; }
    div(class="!pr:h@p") .!pr:h@p { padding-right:  0.5rem  !important; }
    div(class="!pr:1@p") .!pr:1@p { padding-right:  1rem    !important; }
    div(class="!pr:2@p") .!pr:2@p { padding-right:  2rem    !important; }
    div(class="!pr:4@p") .!pr:4@p { padding-right:  4rem    !important; }
    div(class="!pr:8@p") .!pr:8@p { padding-right:  8rem    !important; }
    div(class="!pr:g@p") .!pr:g@p { padding-right:  16rem   !important; }
    div(class="!pt:0@p") .!pt:0@p { padding-top:    initial !important; }
    div(class="!pt:i@p") .!pt:i@p { padding-top:    inherit !important; }
    div(class="!pt:h@p") .!pt:h@p { padding-top:    0.5rem  !important; }
    div(class="!pt:1@p") .!pt:1@p { padding-top:    1rem    !important; }
    div(class="!pt:2@p") .!pt:2@p { padding-top:    2rem    !important; }
    div(class="!pt:4@p") .!pt:4@p { padding-top:    4rem    !important; }
    div(class="!pt:8@p") .!pt:8@p { padding-top:    8rem    !important; }
    div(class="!pt:g@p") .!pt:g@p { padding-top:    16rem   !important; }
    div(class="!pb:0@p") .!pb:0@p { padding-bottom: initial !important; }
    div(class="!pb:i@p") .!pb:i@p { padding-bottom: inherit !important; }
    div(class="!pb:h@p") .!pb:h@p { padding-bottom: 0.5rem  !important; }
    div(class="!pb:1@p") .!pb:1@p { padding-bottom: 1rem    !important; }
    div(class="!pb:2@p") .!pb:2@p { padding-bottom: 2rem    !important; }
    div(class="!pb:4@p") .!pb:4@p { padding-bottom: 4rem    !important; }
    div(class="!pb:8@p") .!pb:8@p { padding-bottom: 8rem    !important; }
    div(class="!pb:g@p") .!pb:g@p { padding-bottom: 16rem   !important; }
    div(class="!px:0@p") .!px:0@p { padding-left:   initial !important; padding-right:  initial !important; }
    div(class="!px:i@p") .!px:i@p { padding-left:   inherit !important; padding-right:  inherit !important; }
    div(class="!px:h@p") .!px:h@p { padding-left:   0.5rem  !important; padding-right:  0.5rem  !important; }
    div(class="!px:1@p") .!px:1@p { padding-left:   1rem    !important; padding-right:  1rem    !important; }
    div(class="!px:2@p") .!px:2@p { padding-left:   2rem    !important; padding-right:  2rem    !important; }
    div(class="!px:4@p") .!px:4@p { padding-left:   4rem    !important; padding-right:  4rem    !important; }
    div(class="!px:8@p") .!px:8@p { padding-left:   8rem    !important; padding-right:  8rem    !important; }
    div(class="!px:g@p") .!px:g@p { padding-left:   16rem   !important; padding-right:  16rem   !important; }
    div(class="!py:0@p") .!py:0@p { padding-top:    initial !important; padding-bottom: initial !important; }
    div(class="!py:0@p") .!py:0@p { padding-top:    inherit !important; padding-bottom: inherit !important; }
    div(class="!py:h@p") .!py:h@p { padding-top:    0.5rem  !important; padding-bottom: 0.5rem  !important; }
    div(class="!py:1@p") .!py:1@p { padding-top:    1rem    !important; padding-bottom: 1rem    !important; }
    div(class="!py:2@p") .!py:2@p { padding-top:    2rem    !important; padding-bottom: 2rem    !important; }
    div(class="!py:4@p") .!py:4@p { padding-top:    4rem    !important; padding-bottom: 4rem    !important; }
    div(class="!py:8@p") .!py:8@p { padding-top:    8rem    !important; padding-bottom: 8rem    !important; }
    div(class="!py:g@p") .!py:g@p { padding-top:    16rem   !important; padding-bottom: 16rem   !important; }
    div(class="!pa:0@p") .!pa:0@p { padding:        initial !important; }
    div(class="!pa:0@p") .!pa:0@p { padding:        inherit !important; }
    div(class="!pa:h@p") .!pa:h@p { padding:        0.5rem  !important; }
    div(class="!pa:1@p") .!pa:1@p { padding:        1rem    !important; }
    div(class="!pa:2@p") .!pa:2@p { padding:        2rem    !important; }
    div(class="!pa:4@p") .!pa:4@p { padding:        4rem    !important; }
    div(class="!pa:8@p") .!pa:8@p { padding:        8rem    !important; }
    div(class="!pa:g@p") .!pa:g@p { padding:        16rem   !important; }
