section#position
  h2 _position.less
  section
    h3 all media queries
    div(class="!ps:0")   .!ps:0   { position: initial  !important; }
    div(class="!ps:i")   .!ps:i   { position: inherit  !important; }
    div(class="!ps:s")   .!ps:s   { position: static   !important; }
    div(class="!ps:r")   .!ps:r   { position: relative !important; }
    div(class="!ps:a")   .!ps:a   { position: absolute !important; }
    div(class="!ps:f")   .!ps:f   { position: fixed    !important; }
  section
    h3 @media screen
    div(class="!ps:0@s") .!ps:0@s { position: initial  !important; }
    div(class="!ps:i@s") .!ps:i@s { position: inherit  !important; }
    div(class="!ps:s@s") .!ps:s@s { position: static   !important; }
    div(class="!ps:r@s") .!ps:r@s { position: relative !important; }
    div(class="!ps:a@s") .!ps:a@s { position: absolute !important; }
    div(class="!ps:f@s") .!ps:f@s { position: fixed    !important; }
  section
    h3 @media print
    div(class="!ps:0@p") .!ps:0@p { position: initial  !important; }
    div(class="!ps:i@p") .!ps:i@p { position: inherit  !important; }
    div(class="!ps:s@p") .!ps:s@p { position: static   !important; }
    div(class="!ps:r@p") .!ps:r@p { position: relative !important; }
    div(class="!ps:a@p") .!ps:a@p { position: absolute !important; }
    div(class="!ps:f@p") .!ps:f@p { position: fixed    !important; }
