section#text-indent
  h2 _text-indent.less
  section
    h3 all media queries
    div(class="!ti:0")   .!ti:0   { text-indent: initial !important; }
    div(class="!ti:i")   .!ti:i   { text-indent: inherit !important; }
    div(class="!ti:z")   .!ti:z   { text-indent: 0       !important; }
  section
    h3 @media screen
    div(class="!ti:0@s") .!ti:0@s { text-indent: initial !important; }
    div(class="!ti:i@s") .!ti:i@s { text-indent: inherit !important; }
    div(class="!ti:z@s") .!ti:z@s { text-indent: 0       !important; }
  section
    h3 @media print
    div(class="!ti:0@p") .!ti:0@p { text-indent: initial !important; }
    div(class="!ti:i@p") .!ti:i@p { text-indent: inherit !important; }
    div(class="!ti:z@p") .!ti:z@p { text-indent: 0       !important; }
