section#text-transform
  h2 _text-transform.less
  section
    h3 all media queries
    div(class="!tt:0")   .!tt:0   { text-transform: initial    !important; }
    div(class="!tt:i")   .!tt:i   { text-transform: inherit    !important; }
    div(class="!tt:n")   .!tt:n   { text-transform: none       !important; }
    div(class="!tt:c")   .!tt:c   { text-transform: capitalize !important; }
    div(class="!tt:u")   .!tt:u   { text-transform: uppercase  !important; }
    div(class="!tt:l")   .!tt:l   { text-transform: lowercase  !important; }
  section
    h3 @media screen
    div(class="!tt:0@s") .!tt:0@s { text-transform: initial    !important; }
    div(class="!tt:i@s") .!tt:i@s { text-transform: inherit    !important; }
    div(class="!tt:n@s") .!tt:n@s { text-transform: none       !important; }
    div(class="!tt:c@s") .!tt:c@s { text-transform: capitalize !important; }
    div(class="!tt:u@s") .!tt:u@s { text-transform: uppercase  !important; }
    div(class="!tt:l@s") .!tt:l@s { text-transform: lowercase  !important; }
  section
    h3 @media print
    div(class="!tt:0@p") .!tt:0@p { text-transform: initial    !important; }
    div(class="!tt:i@p") .!tt:i@p { text-transform: inherit    !important; }
    div(class="!tt:n@p") .!tt:n@p { text-transform: none       !important; }
    div(class="!tt:c@p") .!tt:c@p { text-transform: capitalize !important; }
    div(class="!tt:u@p") .!tt:u@p { text-transform: uppercase  !important; }
    div(class="!tt:l@p") .!tt:l@p { text-transform: lowercase  !important; }
  section
    h3 pseudo-classes :hover and :focus
    div(class="!tt:0^")  .!tt:0^  { text-transform: initial    !important; }
    div(class="!tt:i^")  .!tt:i^  { text-transform: inherit    !important; }
    div(class="!tt:n^")  .!tt:n^  { text-transform: none       !important; }
    div(class="!tt:c^")  .!tt:c^  { text-transform: capitalize !important; }
    div(class="!tt:u^")  .!tt:u^  { text-transform: uppercase  !important; }
    div(class="!tt:l^")  .!tt:l^  { text-transform: lowercase  !important; }
