section#text-decoration
  h2 _text-decoration.less
  section
    h3 all media queries
    div(class="!td:0")   .!td:0   { text-decoration: initial      !important; }
    div(class="!td:i")   .!td:i   { text-decoration: inherit      !important; }
    div(class="!td:n")   .!td:n   { text-decoration: none         !important; }
    div(class="!td:u")   .!td:u   { text-decoration: underline    !important; }
    div(class="!td:o")   .!td:o   { text-decoration: overline     !important; }
    div(class="!td:s")   .!td:s   { text-decoration: line-through !important; }
  section
    h3 @media screen
    div(class="!td:0@s") .!td:0@s { text-decoration: initial      !important; }
    div(class="!td:i@s") .!td:i@s { text-decoration: inherit      !important; }
    div(class="!td:n@s") .!td:n@s { text-decoration: none         !important; }
    div(class="!td:u@s") .!td:u@s { text-decoration: underline    !important; }
    div(class="!td:o@s") .!td:o@s { text-decoration: overline     !important; }
    div(class="!td:s@s") .!td:s@s { text-decoration: line-through !important; }
  section
    h3 @media print
    div(class="!td:0@p") .!td:0@p { text-decoration: initial      !important; }
    div(class="!td:i@p") .!td:i@p { text-decoration: inherit      !important; }
    div(class="!td:n@p") .!td:n@p { text-decoration: none         !important; }
    div(class="!td:u@p") .!td:u@p { text-decoration: underline    !important; }
    div(class="!td:o@p") .!td:o@p { text-decoration: overline     !important; }
    div(class="!td:s@p") .!td:s@p { text-decoration: line-through !important; }
  section
    h3 pseudo-classes :hover and :focus
    div(class="!td:0^")  .!td:0^  { text-decoration: initial      !important; }
    div(class="!td:i^")  .!td:i^  { text-decoration: inherit      !important; }
    div(class="!td:n^")  .!td:n^  { text-decoration: none         !important; }
    div(class="!td:u^")  .!td:u^  { text-decoration: underline    !important; }
    div(class="!td:o^")  .!td:o^  { text-decoration: overline     !important; }
    div(class="!td:s^")  .!td:s^  { text-decoration: line-through !important; }
