section#text-align
  h2 _text-align.less
  section
    h3 all media queries
    div(class="!ta:0")   .!ta:0   { text-align: initial !important; }
    div(class="!ta:i")   .!ta:i   { text-align: inherit !important; }
    div(class="!ta:l")   .!ta:l   { text-align: left    !important; }
    div(class="!ta:r")   .!ta:r   { text-align: right   !important; }
    div(class="!ta:c")   .!ta:c   { text-align: center  !important; }
    div(class="!ta:j")   .!ta:j   { text-align: justify !important; }
  section
    h3 @media screen
    div(class="!ta:0@s") .!ta:0@s { text-align: initial !important; }
    div(class="!ta:i@s") .!ta:i@s { text-align: inherit !important; }
    div(class="!ta:l@s") .!ta:l@s { text-align: left    !important; }
    div(class="!ta:r@s") .!ta:r@s { text-align: right   !important; }
    div(class="!ta:c@s") .!ta:c@s { text-align: center  !important; }
    div(class="!ta:j@s") .!ta:j@s { text-align: justify !important; }
  section
    h3 @media print
    div(class="!ta:0@p") .!ta:0@p { text-align: initial !important; }
    div(class="!ta:i@p") .!ta:i@p { text-align: inherit !important; }
    div(class="!ta:l@p") .!ta:l@p { text-align: left    !important; }
    div(class="!ta:r@p") .!ta:r@p { text-align: right   !important; }
    div(class="!ta:c@p") .!ta:c@p { text-align: center  !important; }
    div(class="!ta:j@p") .!ta:j@p { text-align: justify !important; }
