section#vertical-align
  h2 _vertical-align.less
  section
    h3 all media queries
    div(class="!va:0 ")   .!va:0    { vertical-align: initial     !important; }
    div(class="!va:i ")   .!va:i    { vertical-align: inherit     !important; }
    div(class="!va:a ")   .!va:a    { vertical-align: baseline    !important; }
    div(class="!va:b ")   .!va:b    { vertical-align: bottom      !important; }
    div(class="!va:m ")   .!va:m    { vertical-align: middle      !important; }
    div(class="!va:t ")   .!va:t    { vertical-align: top         !important; }
    div(class="!va:tb")   .!va:tb   { vertical-align: text-bottom !important; }
    div(class="!va:tt")   .!va:tt   { vertical-align: text-top    !important; }
    div(class="!va:sb")   .!va:sb   { vertical-align: sub         !important; }
    div(class="!va:st")   .!va:st   { vertical-align: super       !important; }
  section
    h3 @media screen
    div(class="!va:0@s ") .!va:0@s  { vertical-align: initial     !important; }
    div(class="!va:i@s ") .!va:i@s  { vertical-align: inherit     !important; }
    div(class="!va:a@s ") .!va:a@s  { vertical-align: baseline    !important; }
    div(class="!va:b@s ") .!va:b@s  { vertical-align: bottom      !important; }
    div(class="!va:m@s ") .!va:m@s  { vertical-align: middle      !important; }
    div(class="!va:t@s ") .!va:t@s  { vertical-align: top         !important; }
    div(class="!va:tb@s") .!va:tb@s { vertical-align: text-bottom !important; }
    div(class="!va:tt@s") .!va:tt@s { vertical-align: text-top    !important; }
    div(class="!va:sb@s") .!va:sb@s { vertical-align: sub         !important; }
    div(class="!va:st@s") .!va:st@s { vertical-align: super       !important; }
  section
    h3 @media print
    div(class="!va:0@p ") .!va:0@p  { vertical-align: initial     !important; }
    div(class="!va:i@p ") .!va:i@p  { vertical-align: inherit     !important; }
    div(class="!va:a@p ") .!va:a@p  { vertical-align: baseline    !important; }
    div(class="!va:b@p ") .!va:b@p  { vertical-align: bottom      !important; }
    div(class="!va:m@p ") .!va:m@p  { vertical-align: middle      !important; }
    div(class="!va:t@p ") .!va:t@p  { vertical-align: top         !important; }
    div(class="!va:tb@p") .!va:tb@p { vertical-align: text-bottom !important; }
    div(class="!va:tt@p") .!va:tt@p { vertical-align: text-top    !important; }
    div(class="!va:sb@p") .!va:sb@p { vertical-align: sub         !important; }
    div(class="!va:st@p") .!va:st@p { vertical-align: super       !important; }
