section#white-space
  h2 _white-space.less
  section
    h3 all media queries
    div(class="!ws:0 ")   .!ws:0    { white-space: initial  !important; }
    div(class="!ws:i ")   .!ws:i    { white-space: inherit  !important; }
    div(class="!ws:n ")   .!ws:n    { white-space: normal   !important; }
    div(class="!ws:nw")   .!ws:nw   { white-space: nowrap   !important; }
    div(class="!ws:pr")   .!ws:pr   { white-space: pre      !important; }
    div(class="!ws:pw")   .!ws:pw   { white-space: pre-wrap !important; }
    div(class="!ws:pl")   .!ws:pl   { white-space: pre-line !important; }
  section
    h3 @media screen
    div(class="!ws:0@s ") .!ws:0@s  { white-space: initial  !important; }
    div(class="!ws:i@s ") .!ws:i@s  { white-space: inherit  !important; }
    div(class="!ws:n@s ") .!ws:n@s  { white-space: normal   !important; }
    div(class="!ws:nw@s") .!ws:nw@s { white-space: nowrap   !important; }
    div(class="!ws:pr@s") .!ws:pr@s { white-space: pre      !important; }
    div(class="!ws:pw@s") .!ws:pw@s { white-space: pre-wrap !important; }
    div(class="!ws:pl@s") .!ws:pl@s { white-space: pre-line !important; }
  section
    h3 @media print
    div(class="!ws:0@p ") .!ws:0@p  { white-space: initial  !important; }
    div(class="!ws:i@p ") .!ws:i@p  { white-space: inherit  !important; }
    div(class="!ws:n@p ") .!ws:n@p  { white-space: normal   !important; }
    div(class="!ws:nw@p") .!ws:nw@p { white-space: nowrap   !important; }
    div(class="!ws:pr@p") .!ws:pr@p { white-space: pre      !important; }
    div(class="!ws:pw@p") .!ws:pw@p { white-space: pre-wrap !important; }
    div(class="!ws:pl@p") .!ws:pl@p { white-space: pre-line !important; }
