section#width
  h2 _width.less
  section
    h3 all media queries
    div(class="!w:0")     .!w:0     { width: initial !important; }
    div(class="!w:i")     .!w:i     { width: inherit !important; }
    div(class="!w:a")     .!w:a     { width: auto !important; }
    div(class="!w:z")     .!w:z     { width: 0 !important; }
    div(class="!w:1o1")   .!w:1o1   { width: 100% !important; }
    div(class="!w:1o2")   .!w:1o2   { width: 50% !important; }
    div(class="!w:2o2")   .!w:2o2   { width: 100% !important; }
    div(class="!w:1o3")   .!w:1o3   { width: 33.33333333% !important; }
    div(class="!w:2o3")   .!w:2o3   { width: 66.66666667% !important; }
    div(class="!w:3o3")   .!w:3o3   { width: 100% !important; }
    div(class="!w:1o4")   .!w:1o4   { width: 25% !important; }
    div(class="!w:2o4")   .!w:2o4   { width: 50% !important; }
    div(class="!w:3o4")   .!w:3o4   { width: 75% !important; }
    div(class="!w:4o4")   .!w:4o4   { width: 100% !important; }
    div(class="!w:1o5")   .!w:1o5   { width: 20% !important; }
    div(class="!w:2o5")   .!w:2o5   { width: 40% !important; }
    div(class="!w:3o5")   .!w:3o5   { width: 60% !important; }
    div(class="!w:4o5")   .!w:4o5   { width: 80% !important; }
    div(class="!w:5o5")   .!w:5o5   { width: 100% !important; }
    div(class="!w:1o6")   .!w:1o6   { width: 16.66666667% !important; }
    div(class="!w:2o6")   .!w:2o6   { width: 33.33333333% !important; }
    div(class="!w:3o6")   .!w:3o6   { width: 50% !important; }
    div(class="!w:4o6")   .!w:4o6   { width: 66.66666667% !important; }
    div(class="!w:5o6")   .!w:5o6   { width: 83.33333333% !important; }
    div(class="!w:6o6")   .!w:6o6   { width: 100% !important; }
    div(class="!w:1o8")   .!w:1o8   { width: 12.5% !important; }
    div(class="!w:2o8")   .!w:2o8   { width: 25% !important; }
    div(class="!w:3o8")   .!w:3o8   { width: 37.5% !important; }
    div(class="!w:4o8")   .!w:4o8   { width: 50% !important; }
    div(class="!w:5o8")   .!w:5o8   { width: 62.5% !important; }
    div(class="!w:6o8")   .!w:6o8   { width: 75% !important; }
    div(class="!w:7o8")   .!w:7o8   { width: 87.5% !important; }
    div(class="!w:8o8")   .!w:8o8   { width: 100% !important; }
    div(class="!w:1o9")   .!w:1o9   { width: 11.11111111% !important; }
    div(class="!w:2o9")   .!w:2o9   { width: 22.22222222% !important; }
    div(class="!w:3o9")   .!w:3o9   { width: 33.33333333% !important; }
    div(class="!w:4o9")   .!w:4o9   { width: 44.44444444% !important; }
    div(class="!w:5o9")   .!w:5o9   { width: 55.55555556% !important; }
    div(class="!w:6o9")   .!w:6o9   { width: 66.66666667% !important; }
    div(class="!w:7o9")   .!w:7o9   { width: 77.77777778% !important; }
    div(class="!w:8o9")   .!w:8o9   { width: 88.88888889% !important; }
    div(class="!w:9o9")   .!w:9o9   { width: 100% !important; }
    div(class="!w:1oa")   .!w:1oa   { width: 10% !important; }
    div(class="!w:2oa")   .!w:2oa   { width: 20% !important; }
    div(class="!w:3oa")   .!w:3oa   { width: 30% !important; }
    div(class="!w:4oa")   .!w:4oa   { width: 40% !important; }
    div(class="!w:5oa")   .!w:5oa   { width: 50% !important; }
    div(class="!w:6oa")   .!w:6oa   { width: 60% !important; }
    div(class="!w:7oa")   .!w:7oa   { width: 70% !important; }
    div(class="!w:8oa")   .!w:8oa   { width: 80% !important; }
    div(class="!w:9oa")   .!w:9oa   { width: 90% !important; }
    div(class="!w:aoa")   .!w:aoa   { width: 100% !important; }
    div(class="!w:1oc")   .!w:1oc   { width: 8.33333333% !important; }
    div(class="!w:2oc")   .!w:2oc   { width: 16.66666667% !important; }
    div(class="!w:3oc")   .!w:3oc   { width: 25% !important; }
    div(class="!w:4oc")   .!w:4oc   { width: 33.33333333% !important; }
    div(class="!w:5oc")   .!w:5oc   { width: 41.66666667% !important; }
    div(class="!w:6oc")   .!w:6oc   { width: 50% !important; }
    div(class="!w:7oc")   .!w:7oc   { width: 58.33333333% !important; }
    div(class="!w:8oc")   .!w:8oc   { width: 66.66666667% !important; }
    div(class="!w:9oc")   .!w:9oc   { width: 75% !important; }
    div(class="!w:aoc")   .!w:aoc   { width: 83.33333333% !important; }
    div(class="!w:boc")   .!w:boc   { width: 91.66666667% !important; }
    div(class="!w:coc")   .!w:coc   { width: 100% !important; }
  section
    h3 @media screen
    div(class="!w:0@s  ") .!w:0@s   { width: initial !important; }
    div(class="!w:i@s  ") .!w:i@s   { width: inherit !important; }
    div(class="!w:a@s  ") .!w:a@s   { width: auto !important; }
    div(class="!w:z@s  ") .!w:z@s   { width: 0 !important; }
    div(class="!w:1o1@s") .!w:1o1@s { width: 100% !important; }
    div(class="!w:1o2@s") .!w:1o2@s { width: 50% !important; }
    div(class="!w:2o2@s") .!w:2o2@s { width: 100% !important; }
    div(class="!w:1o3@s") .!w:1o3@s { width: 33.33333333% !important; }
    div(class="!w:2o3@s") .!w:2o3@s { width: 66.66666667% !important; }
    div(class="!w:3o3@s") .!w:3o3@s { width: 100% !important; }
    div(class="!w:1o4@s") .!w:1o4@s { width: 25% !important; }
    div(class="!w:2o4@s") .!w:2o4@s { width: 50% !important; }
    div(class="!w:3o4@s") .!w:3o4@s { width: 75% !important; }
    div(class="!w:4o4@s") .!w:4o4@s { width: 100% !important; }
    div(class="!w:1o5@s") .!w:1o5@s { width: 20% !important; }
    div(class="!w:2o5@s") .!w:2o5@s { width: 40% !important; }
    div(class="!w:3o5@s") .!w:3o5@s { width: 60% !important; }
    div(class="!w:4o5@s") .!w:4o5@s { width: 80% !important; }
    div(class="!w:5o5@s") .!w:5o5@s { width: 100% !important; }
    div(class="!w:1o6@s") .!w:1o6@s { width: 16.66666667% !important; }
    div(class="!w:2o6@s") .!w:2o6@s { width: 33.33333333% !important; }
    div(class="!w:3o6@s") .!w:3o6@s { width: 50% !important; }
    div(class="!w:4o6@s") .!w:4o6@s { width: 66.66666667% !important; }
    div(class="!w:5o6@s") .!w:5o6@s { width: 83.33333333% !important; }
    div(class="!w:6o6@s") .!w:6o6@s { width: 100% !important; }
    div(class="!w:1o8@s") .!w:1o8@s { width: 12.5% !important; }
    div(class="!w:2o8@s") .!w:2o8@s { width: 25% !important; }
    div(class="!w:3o8@s") .!w:3o8@s { width: 37.5% !important; }
    div(class="!w:4o8@s") .!w:4o8@s { width: 50% !important; }
    div(class="!w:5o8@s") .!w:5o8@s { width: 62.5% !important; }
    div(class="!w:6o8@s") .!w:6o8@s { width: 75% !important; }
    div(class="!w:7o8@s") .!w:7o8@s { width: 87.5% !important; }
    div(class="!w:8o8@s") .!w:8o8@s { width: 100% !important; }
    div(class="!w:1o9@s") .!w:1o9@s { width: 11.11111111% !important; }
    div(class="!w:2o9@s") .!w:2o9@s { width: 22.22222222% !important; }
    div(class="!w:3o9@s") .!w:3o9@s { width: 33.33333333% !important; }
    div(class="!w:4o9@s") .!w:4o9@s { width: 44.44444444% !important; }
    div(class="!w:5o9@s") .!w:5o9@s { width: 55.55555556% !important; }
    div(class="!w:6o9@s") .!w:6o9@s { width: 66.66666667% !important; }
    div(class="!w:7o9@s") .!w:7o9@s { width: 77.77777778% !important; }
    div(class="!w:8o9@s") .!w:8o9@s { width: 88.88888889% !important; }
    div(class="!w:9o9@s") .!w:9o9@s { width: 100% !important; }
    div(class="!w:1oa@s") .!w:1oa@s { width: 10% !important; }
    div(class="!w:2oa@s") .!w:2oa@s { width: 20% !important; }
    div(class="!w:3oa@s") .!w:3oa@s { width: 30% !important; }
    div(class="!w:4oa@s") .!w:4oa@s { width: 40% !important; }
    div(class="!w:5oa@s") .!w:5oa@s { width: 50% !important; }
    div(class="!w:6oa@s") .!w:6oa@s { width: 60% !important; }
    div(class="!w:7oa@s") .!w:7oa@s { width: 70% !important; }
    div(class="!w:8oa@s") .!w:8oa@s { width: 80% !important; }
    div(class="!w:9oa@s") .!w:9oa@s { width: 90% !important; }
    div(class="!w:aoa@s") .!w:aoa@s { width: 100% !important; }
    div(class="!w:1oc@s") .!w:1oc@s { width: 8.33333333% !important; }
    div(class="!w:2oc@s") .!w:2oc@s { width: 16.66666667% !important; }
    div(class="!w:3oc@s") .!w:3oc@s { width: 25% !important; }
    div(class="!w:4oc@s") .!w:4oc@s { width: 33.33333333% !important; }
    div(class="!w:5oc@s") .!w:5oc@s { width: 41.66666667% !important; }
    div(class="!w:6oc@s") .!w:6oc@s { width: 50% !important; }
    div(class="!w:7oc@s") .!w:7oc@s { width: 58.33333333% !important; }
    div(class="!w:8oc@s") .!w:8oc@s { width: 66.66666667% !important; }
    div(class="!w:9oc@s") .!w:9oc@s { width: 75% !important; }
    div(class="!w:aoc@s") .!w:aoc@s { width: 83.33333333% !important; }
    div(class="!w:boc@s") .!w:boc@s { width: 91.66666667% !important; }
    div(class="!w:coc@s") .!w:coc@s { width: 100% !important; }
  section
    h3 @media print
    div(class="!w:0@p  ") .!w:0@p   { width: initial !important; }
    div(class="!w:i@p  ") .!w:i@p   { width: inherit !important; }
    div(class="!w:a@p  ") .!w:a@p   { width: auto !important; }
    div(class="!w:z@p  ") .!w:z@p   { width: 0 !important; }
    div(class="!w:1o1@p") .!w:1o1@p { width: 100% !important; }
    div(class="!w:1o2@p") .!w:1o2@p { width: 50% !important; }
    div(class="!w:2o2@p") .!w:2o2@p { width: 100% !important; }
    div(class="!w:1o3@p") .!w:1o3@p { width: 33.33333333% !important; }
    div(class="!w:2o3@p") .!w:2o3@p { width: 66.66666667% !important; }
    div(class="!w:3o3@p") .!w:3o3@p { width: 100% !important; }
    div(class="!w:1o4@p") .!w:1o4@p { width: 25% !important; }
    div(class="!w:2o4@p") .!w:2o4@p { width: 50% !important; }
    div(class="!w:3o4@p") .!w:3o4@p { width: 75% !important; }
    div(class="!w:4o4@p") .!w:4o4@p { width: 100% !important; }
    div(class="!w:1o5@p") .!w:1o5@p { width: 20% !important; }
    div(class="!w:2o5@p") .!w:2o5@p { width: 40% !important; }
    div(class="!w:3o5@p") .!w:3o5@p { width: 60% !important; }
    div(class="!w:4o5@p") .!w:4o5@p { width: 80% !important; }
    div(class="!w:5o5@p") .!w:5o5@p { width: 100% !important; }
    div(class="!w:1o6@p") .!w:1o6@p { width: 16.66666667% !important; }
    div(class="!w:2o6@p") .!w:2o6@p { width: 33.33333333% !important; }
    div(class="!w:3o6@p") .!w:3o6@p { width: 50% !important; }
    div(class="!w:4o6@p") .!w:4o6@p { width: 66.66666667% !important; }
    div(class="!w:5o6@p") .!w:5o6@p { width: 83.33333333% !important; }
    div(class="!w:6o6@p") .!w:6o6@p { width: 100% !important; }
    div(class="!w:1o8@p") .!w:1o8@p { width: 12.5% !important; }
    div(class="!w:2o8@p") .!w:2o8@p { width: 25% !important; }
    div(class="!w:3o8@p") .!w:3o8@p { width: 37.5% !important; }
    div(class="!w:4o8@p") .!w:4o8@p { width: 50% !important; }
    div(class="!w:5o8@p") .!w:5o8@p { width: 62.5% !important; }
    div(class="!w:6o8@p") .!w:6o8@p { width: 75% !important; }
    div(class="!w:7o8@p") .!w:7o8@p { width: 87.5% !important; }
    div(class="!w:8o8@p") .!w:8o8@p { width: 100% !important; }
    div(class="!w:1o9@p") .!w:1o9@p { width: 11.11111111% !important; }
    div(class="!w:2o9@p") .!w:2o9@p { width: 22.22222222% !important; }
    div(class="!w:3o9@p") .!w:3o9@p { width: 33.33333333% !important; }
    div(class="!w:4o9@p") .!w:4o9@p { width: 44.44444444% !important; }
    div(class="!w:5o9@p") .!w:5o9@p { width: 55.55555556% !important; }
    div(class="!w:6o9@p") .!w:6o9@p { width: 66.66666667% !important; }
    div(class="!w:7o9@p") .!w:7o9@p { width: 77.77777778% !important; }
    div(class="!w:8o9@p") .!w:8o9@p { width: 88.88888889% !important; }
    div(class="!w:9o9@p") .!w:9o9@p { width: 100% !important; }
    div(class="!w:1oa@p") .!w:1oa@p { width: 10% !important; }
    div(class="!w:2oa@p") .!w:2oa@p { width: 20% !important; }
    div(class="!w:3oa@p") .!w:3oa@p { width: 30% !important; }
    div(class="!w:4oa@p") .!w:4oa@p { width: 40% !important; }
    div(class="!w:5oa@p") .!w:5oa@p { width: 50% !important; }
    div(class="!w:6oa@p") .!w:6oa@p { width: 60% !important; }
    div(class="!w:7oa@p") .!w:7oa@p { width: 70% !important; }
    div(class="!w:8oa@p") .!w:8oa@p { width: 80% !important; }
    div(class="!w:9oa@p") .!w:9oa@p { width: 90% !important; }
    div(class="!w:aoa@p") .!w:aoa@p { width: 100% !important; }
    div(class="!w:1oc@p") .!w:1oc@p { width: 8.33333333% !important; }
    div(class="!w:2oc@p") .!w:2oc@p { width: 16.66666667% !important; }
    div(class="!w:3oc@p") .!w:3oc@p { width: 25% !important; }
    div(class="!w:4oc@p") .!w:4oc@p { width: 33.33333333% !important; }
    div(class="!w:5oc@p") .!w:5oc@p { width: 41.66666667% !important; }
    div(class="!w:6oc@p") .!w:6oc@p { width: 50% !important; }
    div(class="!w:7oc@p") .!w:7oc@p { width: 58.33333333% !important; }
    div(class="!w:8oc@p") .!w:8oc@p { width: 66.66666667% !important; }
    div(class="!w:9oc@p") .!w:9oc@p { width: 75% !important; }
    div(class="!w:aoc@p") .!w:aoc@p { width: 83.33333333% !important; }
    div(class="!w:boc@p") .!w:boc@p { width: 91.66666667% !important; }
    div(class="!w:coc@p") .!w:coc@p { width: 100% !important; }
