
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
    Bangs!
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*================================*\
    docs.less
\*================================*/
@import (reference) url('../../node_modules/xmeter/src/__tool.fontsize.less');
main {
  margin: 0 1rem;
}
.o-Alert,
.c-Property__Classes {
  width: 66.667%;
  margin-left: auto;
  margin-right: auto;
}
.o-Alert {
  margin-bottom: var(--vru);
  padding: calc(~'var(--vru) / 2') 1rem;
  .font-size-mod(0.875);
}
.o-Alert__Hn {
  margin-bottom: var(--vru);
  text-align: center;
}
.c-Property__Details,
.c-Property__Classes {
  display: -ms-grid;
  display:     grid;
  -ms-grid-template-columns: 200px auto;
      grid-template-columns: 200px auto;
}
.c-Property__Classes {
  max-height: 300px;
  overflow: scroll;
  background-color: #eee;
}
.c-Label {
  margin-left: 1rem;
  padding: calc(~'var(--vru) / 8') 0.25rem;
  font-variant: small-caps;
}
#ss-layout         { background-color: rgba(100%, 000%, 000%, 0.2); }
#ss-box-structure  { background-color: rgba(100%, 050%, 000%, 0.2); }
#ss-text-structure { background-color: rgba(100%, 100%, 000%, 0.2); }
#ss-box-cosmetics  { background-color: rgba(050%, 100%, 000%, 0.2); }
#ss-text-cosmetics { background-color: rgba(000%, 100%, 000%, 0.2); }
.t-stability-obsolete     { background-color: black;   color: white; }
.t-stability-deprecated   { background-color: #ff4b33; color: white; }
.t-stability-experimental { background-color: #ffe433; }
.t-stability-stable       { background-color: #9acc7a; }
.t-stability-locked       { background-color: #99daff; }
._fragid {
  display: inline;
  line-height: 0;
  margin-left: 1rem;
  font-weight: 100;
}
._fragid::before { content: ''; }
h1:hover > ._fragid::before,
h2:hover > ._fragid::before,
h3:hover > ._fragid::before,
h4:hover > ._fragid::before,
h5:hover > ._fragid::before,
h6:hover > ._fragid::before,
._fragid:focus::before { content: '\00a7'; }
