body {
  color: #657b83;
  background-color: #fdf6e3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #586e75;
}
code {
  font-size: inherit;
  color: #859900;
}
.c-Title {
  color: #dc322f;
}
.c-Lede {
  font-weight: 700;
  color: #6c71c4;
}
[class^='!'] {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
.ss-flexbox {
  opacity: 0.25;
  color: red;
}
.ss-flexbox::before {
  display: block;
  content: 'Flexbox properties still in draft status.';
  font-weight: 900;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
}
