
// Solarized Bases
@solar_base03:  #002b36;
@solar_base02:  #073642;
@solar_base01:  #586e75;
@solar_base00:  #657b83;
@solar_base0:   #839496;
@solar_base1:   #93a1a1;
@solar_base2:   #eee8d5;
@solar_base3:   #fdf6e3;
// Solarized Accents
@solar_red:     #dc322f;
@solar_orange:  #cb4b16;
@solar_yellow:  #b58900;
@solar_green:   #859900;
@solar_cyan:    #2aa198;
@solar_blue:    #268bd2;
@solar_violet:  #6c71c4;
@solar_magenta: #d33682;

@color_bg:   @solar_base3;
@color_brdr: @solar_base2;
@color_txt:  @solar_base00;
@color_comm: @solar_base1;
@color_emph: @solar_base01;

body {
  color: @color_txt;
  background-color: @color_bg;
}

h1, h2, h3, h4, h5, h6 {
  color: @color_emph;
}

code {
  font-size: inherit;
  color: @solar_green;
}

.c-Title {
  color: @solar_red;
}

.c-Lede {
  font-weight: 700;
  color: @solar_violet;
}


// selects any element with any class beginning with `!`
[class^="!"],
[class*=" !"] {
  background-color: @solar_base2;
  outline: 1px solid fadeout(@color_comm, 50%);
}

// flexbox demos
.ss-flexbox {
  opacity: 0.25;
  color: red;
  &::before {
    display: block;
    content: 'Flexbox properties still in draft status.';
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1;
    text-align: center;
  }
}
