
/*################################*\
    _background-color.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__settings.less');

// Sets the color of background.
//
// !bc  =  background-color
//
// :0  =  initial
// :i  =  inherit
// :t  =  transparent
// :c  =  currentColor
//
// @s  =  screen
// @p  =  print
//
// ^initial
// : `transparent`
// ^inherited
// : false
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/background-color
// ^author
// : Chris Harvey
// ^updated
// : 2015-10-02

    // FIXME vars below are directly copy-pasted from xmeter.
    // remove once xmeter@v2.3.1+ is released and installed.
    // ---- Solarized Colors ----
    // Solarized Bases
    @solar_base03:  #002b36;
    @solar_base02:  #073642;
    @solar_base01:  #586e75;
    @solar_base00:  #657b83;
    @solar_base0:   #839496;
    @solar_base1:   #93a1a1;
    @solar_base2:   #eee8d5;
    @solar_base3:   #fdf6e3;
    // Solarized Accents
    @solar_red:     #dc322f;
    @solar_orange:  #cb4b16;
    @solar_yellow:  #b58900;
    @solar_green:   #859900;
    @solar_cyan:    #2aa198;
    @solar_blue:    #268bd2;
    @solar_violet:  #6c71c4;
    @solar_magenta: #d33682;
    // ---- Lunarized Colors ----
    // Lunarized Bases -- Inverses of Solarized Bases
    @lunar_base03: spin(@solar_base03, 180); // #360b00
    @lunar_base02: spin(@solar_base02, 180); // #421307
    @lunar_base01: spin(@solar_base01, 180); // #755f58
    @lunar_base00: spin(@solar_base00, 180); // #836d65
    @lunar_base0:  spin(@solar_base0,  180); // #968583
    @lunar_base1:  spin(@solar_base1,  180); // #a19393
    @lunar_base2:  spin(@solar_base2,  180); // #d5dbee
    @lunar_base3:  spin(@solar_base3,  180); // #e3eafd
    // Lunarized Accents -- Complements of Solarized Accents
    @lunar_cyan:   rgb(255-red(@solar_red    ), 255-green(@solar_red    ), 255-blue(@solar_red    )); // #23cdd0
    @lunar_blue:   rgb(255-red(@solar_orange ), 255-green(@solar_orange ), 255-blue(@solar_orange )); // #34b4e9
    @lunar_indigo: rgb(255-red(@solar_yellow ), 255-green(@solar_yellow ), 255-blue(@solar_yellow )); // #4a76ff
    @lunar_violet: rgb(255-red(@solar_green  ), 255-green(@solar_green  ), 255-blue(@solar_green  )); // #7a66ff
    @lunar_red:    rgb(255-red(@solar_cyan   ), 255-green(@solar_cyan   ), 255-blue(@solar_cyan   )); // #d55e67
    @lunar_orange: rgb(255-red(@solar_blue   ), 255-green(@solar_blue   ), 255-blue(@solar_blue   )); // #d9742d
    @lunar_yellow: rgb(255-red(@solar_violet ), 255-green(@solar_violet ), 255-blue(@solar_violet )); // #938e3b
    @lunar_green:  rgb(255-red(@solar_magenta), 255-green(@solar_magenta), 255-blue(@solar_magenta)); // #2cc97d

.\!bc\:0 { background-color: initial      !important; }
.\!bc\:i { background-color: inherit      !important; }
.\!bc\:t { background-color: transparent  !important; }
.\!bc\:c { background-color: currentColor !important; }

.\!bc\:s03 { #XMETER .CONSTS(); background-color: @solar_base03  !important; }
.\!bc\:s02 { #XMETER .CONSTS(); background-color: @solar_base02  !important; }
.\!bc\:s01 { #XMETER .CONSTS(); background-color: @solar_base01  !important; }
.\!bc\:s00 { #XMETER .CONSTS(); background-color: @solar_base00  !important; }
.\!bc\:s0  { #XMETER .CONSTS(); background-color: @solar_base0   !important; }
.\!bc\:s1  { #XMETER .CONSTS(); background-color: @solar_base1   !important; }
.\!bc\:s2  { #XMETER .CONSTS(); background-color: @solar_base2   !important; }
.\!bc\:s3  { #XMETER .CONSTS(); background-color: @solar_base3   !important; }
.\!bc\:sr  { #XMETER .CONSTS(); background-color: @solar_red     !important; }
.\!bc\:so  { #XMETER .CONSTS(); background-color: @solar_orange  !important; }
.\!bc\:sy  { #XMETER .CONSTS(); background-color: @solar_yellow  !important; }
.\!bc\:sg  { #XMETER .CONSTS(); background-color: @solar_green   !important; }
.\!bc\:sc  { #XMETER .CONSTS(); background-color: @solar_cyan    !important; }
.\!bc\:sb  { #XMETER .CONSTS(); background-color: @solar_blue    !important; }
.\!bc\:sv  { #XMETER .CONSTS(); background-color: @solar_violet  !important; }
.\!bc\:sm  { #XMETER .CONSTS(); background-color: @solar_magenta !important; }

.\!bc\:l03 { #XMETER .CONSTS(); background-color: @lunar_base03 !important; }
.\!bc\:l02 { #XMETER .CONSTS(); background-color: @lunar_base02 !important; }
.\!bc\:l01 { #XMETER .CONSTS(); background-color: @lunar_base01 !important; }
.\!bc\:l00 { #XMETER .CONSTS(); background-color: @lunar_base00 !important; }
.\!bc\:l0  { #XMETER .CONSTS(); background-color: @lunar_base0  !important; }
.\!bc\:l1  { #XMETER .CONSTS(); background-color: @lunar_base1  !important; }
.\!bc\:l2  { #XMETER .CONSTS(); background-color: @lunar_base2  !important; }
.\!bc\:l3  { #XMETER .CONSTS(); background-color: @lunar_base3  !important; }
.\!bc\:lc  { #XMETER .CONSTS(); background-color: @lunar_cyan   !important; }
.\!bc\:lb  { #XMETER .CONSTS(); background-color: @lunar_blue   !important; }
.\!bc\:li  { #XMETER .CONSTS(); background-color: @lunar_indigo !important; }
.\!bc\:lv  { #XMETER .CONSTS(); background-color: @lunar_violet !important; }
.\!bc\:lr  { #XMETER .CONSTS(); background-color: @lunar_red    !important; }
.\!bc\:lo  { #XMETER .CONSTS(); background-color: @lunar_orange !important; }
.\!bc\:ly  { #XMETER .CONSTS(); background-color: @lunar_yellow !important; }
.\!bc\:lg  { #XMETER .CONSTS(); background-color: @lunar_green  !important; }

@media screen {
  .\!bc\:0\@s { .\!bc\:0; }
  .\!bc\:i\@s { .\!bc\:i; }
  .\!bc\:t\@s { .\!bc\:t; }
  .\!bc\:c\@s { .\!bc\:c; }

  .\!bc\:s03\@s { .\!bc\:s03; }
  .\!bc\:s02\@s { .\!bc\:s02; }
  .\!bc\:s01\@s { .\!bc\:s01; }
  .\!bc\:s00\@s { .\!bc\:s00; }
  .\!bc\:s0\@s  { .\!bc\:s0 ; }
  .\!bc\:s1\@s  { .\!bc\:s1 ; }
  .\!bc\:s2\@s  { .\!bc\:s2 ; }
  .\!bc\:s3\@s  { .\!bc\:s3 ; }
  .\!bc\:sr\@s  { .\!bc\:sr ; }
  .\!bc\:so\@s  { .\!bc\:so ; }
  .\!bc\:sy\@s  { .\!bc\:sy ; }
  .\!bc\:sg\@s  { .\!bc\:sg ; }
  .\!bc\:sc\@s  { .\!bc\:sc ; }
  .\!bc\:sb\@s  { .\!bc\:sb ; }
  .\!bc\:sv\@s  { .\!bc\:sv ; }
  .\!bc\:sm\@s  { .\!bc\:sm ; }

  .\!bc\:l03\@s { .\!bc\:l03; }
  .\!bc\:l02\@s { .\!bc\:l02; }
  .\!bc\:l01\@s { .\!bc\:l01; }
  .\!bc\:l00\@s { .\!bc\:l00; }
  .\!bc\:l0\@s  { .\!bc\:l0 ; }
  .\!bc\:l1\@s  { .\!bc\:l1 ; }
  .\!bc\:l2\@s  { .\!bc\:l2 ; }
  .\!bc\:l3\@s  { .\!bc\:l3 ; }
  .\!bc\:lc\@s  { .\!bc\:lc ; }
  .\!bc\:lb\@s  { .\!bc\:lb ; }
  .\!bc\:li\@s  { .\!bc\:li ; }
  .\!bc\:lv\@s  { .\!bc\:lv ; }
  .\!bc\:lr\@s  { .\!bc\:lr ; }
  .\!bc\:lo\@s  { .\!bc\:lo ; }
  .\!bc\:ly\@s  { .\!bc\:ly ; }
  .\!bc\:lg\@s  { .\!bc\:lg ; }
}

@media print {
  .\!bc\:0\@p { .\!bc\:0; }
  .\!bc\:i\@p { .\!bc\:i; }
  .\!bc\:t\@p { .\!bc\:t; }
  .\!bc\:c\@p { .\!bc\:c; }

  .\!bc\:s03\@p { .\!bc\:s03; }
  .\!bc\:s02\@p { .\!bc\:s02; }
  .\!bc\:s01\@p { .\!bc\:s01; }
  .\!bc\:s00\@p { .\!bc\:s00; }
  .\!bc\:s0\@p  { .\!bc\:s0 ; }
  .\!bc\:s1\@p  { .\!bc\:s1 ; }
  .\!bc\:s2\@p  { .\!bc\:s2 ; }
  .\!bc\:s3\@p  { .\!bc\:s3 ; }
  .\!bc\:sr\@p  { .\!bc\:sr ; }
  .\!bc\:so\@p  { .\!bc\:so ; }
  .\!bc\:sy\@p  { .\!bc\:sy ; }
  .\!bc\:sg\@p  { .\!bc\:sg ; }
  .\!bc\:sc\@p  { .\!bc\:sc ; }
  .\!bc\:sb\@p  { .\!bc\:sb ; }
  .\!bc\:sv\@p  { .\!bc\:sv ; }
  .\!bc\:sm\@p  { .\!bc\:sm ; }

  .\!bc\:l03\@p { .\!bc\:l03; }
  .\!bc\:l02\@p { .\!bc\:l02; }
  .\!bc\:l01\@p { .\!bc\:l01; }
  .\!bc\:l00\@p { .\!bc\:l00; }
  .\!bc\:l0\@p  { .\!bc\:l0 ; }
  .\!bc\:l1\@p  { .\!bc\:l1 ; }
  .\!bc\:l2\@p  { .\!bc\:l2 ; }
  .\!bc\:l3\@p  { .\!bc\:l3 ; }
  .\!bc\:lc\@p  { .\!bc\:lc ; }
  .\!bc\:lb\@p  { .\!bc\:lb ; }
  .\!bc\:li\@p  { .\!bc\:li ; }
  .\!bc\:lv\@p  { .\!bc\:lv ; }
  .\!bc\:lr\@p  { .\!bc\:lr ; }
  .\!bc\:lo\@p  { .\!bc\:lo ; }
  .\!bc\:ly\@p  { .\!bc\:ly ; }
  .\!bc\:lg\@p  { .\!bc\:lg ; }
}
