
/*################################*\
    bangs  |  _background-size.less
\*################################*/

// Sets the size of the background image.
//
// bz  =  background-size
//
// 0  =  initial
// i  =  inherit
// a  =  auto
// s  =  contain
// l  =  cover
//
// ^initial
// : `auto auto`
// ^inherited
// : false
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/background-size
// ^author
// : Chris Harvey
// ^updated
// : 2017-03-28

.-bz-0  { .-bz-a; background-size: initial !important; }
.-bz-i  {         background-size: inherit !important; }
.-bz-a  {         background-size: auto    !important; } // same as `auto auto` (initial)
.-bz-cn {         background-size: contain !important; }
.-bz-cr {         background-size: cover   !important; }

@media screen {
  .-bz-0-s  { .-bz-0 ; }
  .-bz-i-s  { .-bz-i ; }
  .-bz-a-s  { .-bz-a ; }
  .-bz-cn-s { .-bz-cn; }
  .-bz-cr-s { .-bz-cr; }
}

@media print {
  .-bz-0-p  { .-bz-0 ; }
  .-bz-i-p  { .-bz-i ; }
  .-bz-a-p  { .-bz-a ; }
  .-bz-cn-p { .-bz-cn; }
  .-bz-cr-p { .-bz-cr; }
}
