
/*################################*\
    bangs  |  _background-clip.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2017-03-29

.-bk-0 { .-bk-r; background-clip: initial     !important; }
.-bk-i {         background-clip: inherit     !important; }
.-bk-c {         background-clip: content-box !important; }
.-bk-p {         background-clip: padding-box !important; }
.-bk-r {         background-clip: border-box  !important; }

@media screen {
  .-bk-0-s { .-bk-0; }
  .-bk-i-s { .-bk-i; }
  .-bk-c-s { .-bk-c; }
  .-bk-p-s { .-bk-p; }
  .-bk-r-s { .-bk-r; }
}

@media print {
  .-bk-0-p { .-bk-0; }
  .-bk-i-p { .-bk-i; }
  .-bk-c-p { .-bk-c; }
  .-bk-p-p { .-bk-p; }
  .-bk-r-p { .-bk-r; }
}
