
/*################################*\
    bangs  |  _border-radius.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2017-04-27

.-rr-i  {         border-radius: inherit !important; }
.-rr-0  { .-rw-z; border-radius: initial !important; }
.-rr-u  { .-rw-0; border-radius: unset   !important; }

.-rr-z   { border-width: 0       !important; }
.-rr-q   { border-width: 0.25rem !important; }
.-rr-h   { border-width: 0.5rem  !important; }
.-rr-1   { border-width: 1rem    !important; }
.-rr-2   { border-width: 2rem    !important; }
.-rr-1o2 { border-width: 50%     !important; }
