
/*################################*\
    bangs  |  _border-color.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2017-04-27

.-rc-i {         border-color: inherit !important; }
.-rc-0 { .-rc-c; border-color: initial !important; }
.-rc-u { .-rc-0; border-color: unset   !important; }

.-rc-t { border-color: transparent  !important; }
.-rc-c { border-color: currentColor !important; }
.-rc-b { border-color: #000000      !important; }
.-rc-w { border-color: #ffffff      !important; }

@media screen {
  .-rc-0-s { .-rc-0; }
  .-rc-i-s { .-rc-i; }
  .-rc-u-s { .-rc-u; }

  .-rc-t-s { .-rc-t; }
  .-rc-c-s { .-rc-c; }
  .-rc-b-s { .-rc-b; }
  .-rc-w-s { .-rc-w; }
}

@media print {
  .-rc-0-p { .-rc-0; }
  .-rc-i-p { .-rc-i; }
  .-rc-u-p { .-rc-u; }

  .-rc-t-p { .-rc-t; }
  .-rc-c-p { .-rc-c; }
  .-rc-b-p { .-rc-b; }
  .-rc-w-p { .-rc-w; }
}
