
/*################################*\
    bangs  |  _border-style.less
\*################################*/

// r*s  =  border-*-style
//
// l  =  left
// r  =  right
// t  =  top
// b  =  bottom
// h  =  horizontal
// v  =  vertical
// a  =  all
//
// ^author
// : Chris Harvey
// ^updated
// : 2016-03-31

.-rls-0  { .-rls-n; border-left-style:   initial !important; }
.-rls-i  {          border-left-style:   inherit !important; }
.-rls-n  {          border-left-style:   none    !important; }
.-rls-h  {          border-left-style:   hidden  !important; }
.-rls-s  {          border-left-style:   solid   !important; }
.-rls-do {          border-left-style:   dotted  !important; }
.-rls-da {          border-left-style:   dashed  !important; }
.-rls-db {          border-left-style:   double  !important; }
.-rls-gv {          border-left-style:   groove  !important; }
.-rls-rg {          border-left-style:   ridge   !important; }
.-rls-is {          border-left-style:   inset   !important; }
.-rls-os {          border-left-style:   outset  !important; }

.-rrs-0  { .-rrs-n; border-right-style:  initial !important; }
.-rrs-i  {          border-right-style:  inherit !important; }
.-rrs-n  {          border-right-style:  none    !important; }
.-rrs-h  {          border-right-style:  hidden  !important; }
.-rrs-s  {          border-right-style:  solid   !important; }
.-rrs-do {          border-right-style:  dotted  !important; }
.-rrs-da {          border-right-style:  dashed  !important; }
.-rrs-db {          border-right-style:  double  !important; }
.-rrs-gv {          border-right-style:  groove  !important; }
.-rrs-rg {          border-right-style:  ridge   !important; }
.-rrs-is {          border-right-style:  inset   !important; }
.-rrs-os {          border-right-style:  outset  !important; }

.-rts-0  { .-rts-n; border-top-style:    initial !important; }
.-rts-i  {          border-top-style:    inherit !important; }
.-rts-n  {          border-top-style:    none    !important; }
.-rts-h  {          border-top-style:    hidden  !important; }
.-rts-s  {          border-top-style:    solid   !important; }
.-rts-do {          border-top-style:    dotted  !important; }
.-rts-da {          border-top-style:    dashed  !important; }
.-rts-db {          border-top-style:    double  !important; }
.-rts-gv {          border-top-style:    groove  !important; }
.-rts-rg {          border-top-style:    ridge   !important; }
.-rts-is {          border-top-style:    inset   !important; }
.-rts-os {          border-top-style:    outset  !important; }

.-rbs-0  { .-rbs-n; border-bottom-style: initial !important; }
.-rbs-i  {          border-bottom-style: inherit !important; }
.-rbs-n  {          border-bottom-style: none    !important; }
.-rbs-h  {          border-bottom-style: hidden  !important; }
.-rbs-s  {          border-bottom-style: solid   !important; }
.-rbs-do {          border-bottom-style: dotted  !important; }
.-rbs-da {          border-bottom-style: dashed  !important; }
.-rbs-db {          border-bottom-style: double  !important; }
.-rbs-gv {          border-bottom-style: groove  !important; }
.-rbs-rg {          border-bottom-style: ridge   !important; }
.-rbs-is {          border-bottom-style: inset   !important; }
.-rbs-os {          border-bottom-style: outset  !important; }

.-rhs-0  { .-rls-0 ; .-rrs-0 ; }
.-rhs-i  { .-rls-i ; .-rrs-i ; }
.-rhs-n  { .-rls-n ; .-rrs-n ; }
.-rhs-h  { .-rls-h ; .-rrs-h ; }
.-rhs-s  { .-rls-s ; .-rrs-s ; }
.-rhs-do { .-rls-do; .-rrs-do; }
.-rhs-da { .-rls-da; .-rrs-da; }
.-rhs-db { .-rls-db; .-rrs-db; }
.-rhs-gv { .-rls-gv; .-rrs-gv; }
.-rhs-rg { .-rls-rg; .-rrs-rg; }
.-rhs-is { .-rls-is; .-rrs-is; }
.-rhs-os { .-rls-os; .-rrs-os; }

.-rvs-0  { .-rts-0 ; .-rbs-0 ; }
.-rvs-i  { .-rts-i ; .-rbs-i ; }
.-rvs-n  { .-rts-n ; .-rbs-n ; }
.-rvs-h  { .-rts-h ; .-rbs-h ; }
.-rvs-s  { .-rts-s ; .-rbs-s ; }
.-rvs-do { .-rts-do; .-rbs-do; }
.-rvs-da { .-rts-da; .-rbs-da; }
.-rvs-db { .-rts-db; .-rbs-db; }
.-rvs-gv { .-rts-gv; .-rbs-gv; }
.-rvs-rg { .-rts-rg; .-rbs-rg; }
.-rvs-is { .-rts-is; .-rbs-is; }
.-rvs-os { .-rts-os; .-rbs-os; }

.-ras-0  { .-ras-n; border-style:        initial !important; }
.-ras-i  {          border-style:        inherit !important; }
.-ras-n  {          border-style:        none    !important; }
.-ras-h  {          border-style:        hidden  !important; }
.-ras-s  {          border-style:        solid   !important; }
.-ras-do {          border-style:        dotted  !important; }
.-ras-da {          border-style:        dashed  !important; }
.-ras-db {          border-style:        double  !important; }
.-ras-gv {          border-style:        groove  !important; }
.-ras-rg {          border-style:        ridge   !important; }
.-ras-is {          border-style:        inset   !important; }
.-ras-os {          border-style:        outset  !important; }

@media screen {
  .-rls-0-s  { .-rls-0 ; }
  .-rls-i-s  { .-rls-i ; }
  .-rls-n-s  { .-rls-n ; }
  .-rls-h-s  { .-rls-h ; }
  .-rls-s-s  { .-rls-s ; }
  .-rls-do-s { .-rls-do; }
  .-rls-da-s { .-rls-da; }
  .-rls-db-s { .-rls-db; }
  .-rls-gv-s { .-rls-gv; }
  .-rls-rg-s { .-rls-rg; }
  .-rls-is-s { .-rls-is; }
  .-rls-os-s { .-rls-os; }

  .-rrs-0-s  { .-rrs-0 ; }
  .-rrs-i-s  { .-rrs-i ; }
  .-rrs-n-s  { .-rrs-n ; }
  .-rrs-h-s  { .-rrs-h ; }
  .-rrs-s-s  { .-rrs-s ; }
  .-rrs-do-s { .-rrs-do; }
  .-rrs-da-s { .-rrs-da; }
  .-rrs-db-s { .-rrs-db; }
  .-rrs-gv-s { .-rrs-gv; }
  .-rrs-rg-s { .-rrs-rg; }
  .-rrs-is-s { .-rrs-is; }
  .-rrs-os-s { .-rrs-os; }

  .-rts-0-s  { .-rts-0 ; }
  .-rts-i-s  { .-rts-i ; }
  .-rts-n-s  { .-rts-n ; }
  .-rts-h-s  { .-rts-h ; }
  .-rts-s-s  { .-rts-s ; }
  .-rts-do-s { .-rts-do; }
  .-rts-da-s { .-rts-da; }
  .-rts-db-s { .-rts-db; }
  .-rts-gv-s { .-rts-gv; }
  .-rts-rg-s { .-rts-rg; }
  .-rts-is-s { .-rts-is; }
  .-rts-os-s { .-rts-os; }

  .-rbs-0-s  { .-rbs-0 ; }
  .-rbs-i-s  { .-rbs-i ; }
  .-rbs-n-s  { .-rbs-n ; }
  .-rbs-h-s  { .-rbs-h ; }
  .-rbs-s-s  { .-rbs-s ; }
  .-rbs-do-s { .-rbs-do; }
  .-rbs-da-s { .-rbs-da; }
  .-rbs-db-s { .-rbs-db; }
  .-rbs-gv-s { .-rbs-gv; }
  .-rbs-rg-s { .-rbs-rg; }
  .-rbs-is-s { .-rbs-is; }
  .-rbs-os-s { .-rbs-os; }

  .-rhs-0-s  { .-rhs-0 ; }
  .-rhs-i-s  { .-rhs-i ; }
  .-rhs-n-s  { .-rhs-n ; }
  .-rhs-h-s  { .-rhs-h ; }
  .-rhs-s-s  { .-rhs-s ; }
  .-rhs-do-s { .-rhs-do; }
  .-rhs-da-s { .-rhs-da; }
  .-rhs-db-s { .-rhs-db; }
  .-rhs-gv-s { .-rhs-gv; }
  .-rhs-rg-s { .-rhs-rg; }
  .-rhs-is-s { .-rhs-is; }
  .-rhs-os-s { .-rhs-os; }

  .-rvs-0-s  { .-rvs-0 ; }
  .-rvs-i-s  { .-rvs-i ; }
  .-rvs-n-s  { .-rvs-n ; }
  .-rvs-h-s  { .-rvs-h ; }
  .-rvs-s-s  { .-rvs-s ; }
  .-rvs-do-s { .-rvs-do; }
  .-rvs-da-s { .-rvs-da; }
  .-rvs-db-s { .-rvs-db; }
  .-rvs-gv-s { .-rvs-gv; }
  .-rvs-rg-s { .-rvs-rg; }
  .-rvs-is-s { .-rvs-is; }
  .-rvs-os-s { .-rvs-os; }

  .-ras-0-s  { .-ras-0 ; }
  .-ras-i-s  { .-ras-i ; }
  .-ras-n-s  { .-ras-n ; }
  .-ras-h-s  { .-ras-h ; }
  .-ras-s-s  { .-ras-s ; }
  .-ras-do-s { .-ras-do; }
  .-ras-da-s { .-ras-da; }
  .-ras-db-s { .-ras-db; }
  .-ras-gv-s { .-ras-gv; }
  .-ras-rg-s { .-ras-rg; }
  .-ras-is-s { .-ras-is; }
  .-ras-os-s { .-ras-os; }
}

@media print {
  .-rls-0-p  { .-rls-0 ; }
  .-rls-i-p  { .-rls-i ; }
  .-rls-n-p  { .-rls-n ; }
  .-rls-h-p  { .-rls-h ; }
  .-rls-s-p  { .-rls-s ; }
  .-rls-do-p { .-rls-do; }
  .-rls-da-p { .-rls-da; }
  .-rls-db-p { .-rls-db; }
  .-rls-gv-p { .-rls-gv; }
  .-rls-rg-p { .-rls-rg; }
  .-rls-is-p { .-rls-is; }
  .-rls-os-p { .-rls-os; }

  .-rrs-0-p  { .-rrs-0 ; }
  .-rrs-i-p  { .-rrs-i ; }
  .-rrs-n-p  { .-rrs-n ; }
  .-rrs-h-p  { .-rrs-h ; }
  .-rrs-s-p  { .-rrs-s ; }
  .-rrs-do-p { .-rrs-do; }
  .-rrs-da-p { .-rrs-da; }
  .-rrs-db-p { .-rrs-db; }
  .-rrs-gv-p { .-rrs-gv; }
  .-rrs-rg-p { .-rrs-rg; }
  .-rrs-is-p { .-rrs-is; }
  .-rrs-os-p { .-rrs-os; }

  .-rts-0-p  { .-rts-0 ; }
  .-rts-i-p  { .-rts-i ; }
  .-rts-n-p  { .-rts-n ; }
  .-rts-h-p  { .-rts-h ; }
  .-rts-s-p  { .-rts-s ; }
  .-rts-do-p { .-rts-do; }
  .-rts-da-p { .-rts-da; }
  .-rts-db-p { .-rts-db; }
  .-rts-gv-p { .-rts-gv; }
  .-rts-rg-p { .-rts-rg; }
  .-rts-is-p { .-rts-is; }
  .-rts-os-p { .-rts-os; }

  .-rbs-0-p  { .-rbs-0 ; }
  .-rbs-i-p  { .-rbs-i ; }
  .-rbs-n-p  { .-rbs-n ; }
  .-rbs-h-p  { .-rbs-h ; }
  .-rbs-s-p  { .-rbs-s ; }
  .-rbs-do-p { .-rbs-do; }
  .-rbs-da-p { .-rbs-da; }
  .-rbs-db-p { .-rbs-db; }
  .-rbs-gv-p { .-rbs-gv; }
  .-rbs-rg-p { .-rbs-rg; }
  .-rbs-is-p { .-rbs-is; }
  .-rbs-os-p { .-rbs-os; }

  .-rhs-0-p  { .-rhs-0 ; }
  .-rhs-i-p  { .-rhs-i ; }
  .-rhs-n-p  { .-rhs-n ; }
  .-rhs-h-p  { .-rhs-h ; }
  .-rhs-s-p  { .-rhs-s ; }
  .-rhs-do-p { .-rhs-do; }
  .-rhs-da-p { .-rhs-da; }
  .-rhs-db-p { .-rhs-db; }
  .-rhs-gv-p { .-rhs-gv; }
  .-rhs-rg-p { .-rhs-rg; }
  .-rhs-is-p { .-rhs-is; }
  .-rhs-os-p { .-rhs-os; }

  .-rvs-0-p  { .-rvs-0 ; }
  .-rvs-i-p  { .-rvs-i ; }
  .-rvs-n-p  { .-rvs-n ; }
  .-rvs-h-p  { .-rvs-h ; }
  .-rvs-s-p  { .-rvs-s ; }
  .-rvs-do-p { .-rvs-do; }
  .-rvs-da-p { .-rvs-da; }
  .-rvs-db-p { .-rvs-db; }
  .-rvs-gv-p { .-rvs-gv; }
  .-rvs-rg-p { .-rvs-rg; }
  .-rvs-is-p { .-rvs-is; }
  .-rvs-os-p { .-rvs-os; }

  .-ras-0-p  { .-ras-0 ; }
  .-ras-i-p  { .-ras-i ; }
  .-ras-n-p  { .-ras-n ; }
  .-ras-h-p  { .-ras-h ; }
  .-ras-s-p  { .-ras-s ; }
  .-ras-do-p { .-ras-do; }
  .-ras-da-p { .-ras-da; }
  .-ras-db-p { .-ras-db; }
  .-ras-gv-p { .-ras-gv; }
  .-ras-rg-p { .-ras-rg; }
  .-ras-is-p { .-ras-is; }
  .-ras-os-p { .-ras-os; }
}
