
/*################################*\
    bangs  |  _border-width.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2017-04-27

.-rw-i  {         border-width: inherit !important; }
.-rw-0  { .-rw-z; border-width: initial !important; }
.-rw-u  { .-rw-0; border-width: unset   !important; }

.-rw-z { border-width: 0    !important; }
.-rw-1 { border-width: 1px  !important; }
.-rw-2 { border-width: 2px  !important; }
.-rw-4 { border-width: 4px  !important; }
.-rw-8 { border-width: 8px  !important; }
.-rw-g { border-width: 16px !important; }
