
/*################################*\
    bangs  |  _border-style.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2017-04-27

.-rs-i {         border-style: inherit !important; }
.-rs-0 { .-rs-n; border-style: initial !important; }
.-rs-u { .-rs-0; border-style: unset   !important; }

.-rs-n  { border-style: none   !important; }
.-rs-h  { border-style: hidden !important; }
.-rs-s  { border-style: solid  !important; }
.-rs-do { border-style: dotted !important; }
.-rs-da { border-style: dashed !important; }
.-rs-db { border-style: double !important; }
.-rs-gv { border-style: groove !important; }
.-rs-rg { border-style: ridge  !important; }
.-rs-is { border-style: inset  !important; }
.-rs-os { border-style: outset !important; }


@media screen {
  .-rs-i-s { .-rs-i ; }
  .-rs-0-s { .-rs-0 ; }
  .-rs-u-s { .-rs-u ; }

  .-rs-n-s  { .-rs-n ; }
  .-rs-h-s  { .-rs-h ; }
  .-rs-s-s  { .-rs-s ; }
  .-rs-do-s { .-rs-do; }
  .-rs-da-s { .-rs-da; }
  .-rs-db-s { .-rs-db; }
  .-rs-gv-s { .-rs-gv; }
  .-rs-rg-s { .-rs-rg; }
  .-rs-is-s { .-rs-is; }
  .-rs-os-s { .-rs-os; }
}

@media print {
  .-rs-i-p { .-rs-i ; }
  .-rs-0-p { .-rs-0 ; }
  .-rs-u-p { .-rs-u ; }

  .-rs-n-p  { .-rs-n ; }
  .-rs-h-p  { .-rs-h ; }
  .-rs-s-p  { .-rs-s ; }
  .-rs-do-p { .-rs-do; }
  .-rs-da-p { .-rs-da; }
  .-rs-db-p { .-rs-db; }
  .-rs-gv-p { .-rs-gv; }
  .-rs-rg-p { .-rs-rg; }
  .-rs-is-p { .-rs-is; }
  .-rs-os-p { .-rs-os; }
}
