
/*################################*\
    bangs  |  _box-shadow.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2016-07-08

.-ks-0 { .-ks-n; box-shadow: initial !important; }
.-ks-i {         box-shadow: inherit !important; }
.-ks-n {         box-shadow: none    !important; }

@media screen {
  .-ks-0-s { .-ks-0; }
  .-ks-i-s { .-ks-i; }
  .-ks-n-s { .-ks-n; }
}

@media print {
  .-ks-0-p { .-ks-0; }
  .-ks-i-p { .-ks-i; }
  .-ks-n-p { .-ks-n; }
}
