
/*################################*\
    bangs  |  _clear.less
\*################################*/

// Specifies positioning next to floating elements.
//
// !cl  =  clear
//
// :0  =  initial
// :i  =  inherit
// :n  =  none
// :l  =  left
// :r  =  right
// :b  =  both
//
// ^initial
// : `none`
// ^inherited
// : false
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/clear
// ^author
// : Chris Harvey
// ^updated
// : 2015-10-06

.\!cl\:0 { .\!cl\:n; clear: initial !important; }
.\!cl\:i {           clear: inherit !important; }
.\!cl\:n {           clear: none    !important; }
.\!cl\:l {           clear: left    !important; }
.\!cl\:r {           clear: right   !important; }
.\!cl\:b {           clear: both    !important; }

@media screen {
  .\!cl\:0\@s { .\!cl\:0; }
  .\!cl\:i\@s { .\!cl\:i; }
  .\!cl\:n\@s { .\!cl\:n; }
  .\!cl\:l\@s { .\!cl\:l; }
  .\!cl\:r\@s { .\!cl\:r; }
  .\!cl\:b\@s { .\!cl\:b; }
}

@media print {
  .\!cl\:0\@p { .\!cl\:0; }
  .\!cl\:i\@p { .\!cl\:i; }
  .\!cl\:n\@p { .\!cl\:n; }
  .\!cl\:l\@p { .\!cl\:l; }
  .\!cl\:r\@p { .\!cl\:r; }
  .\!cl\:b\@p { .\!cl\:b; }
}
