
/*################################*\
    _color.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__settings.less');

// Sets the text color.
//
// !c  =  color
//
// :0  =  initial
// :i  =  inherit
// :t  =  transparent
// :c  =  currentColor
//
// :b  =  #000000
// :w  =  #ffffff
//
// :s03  =  solarized base 03
// :s02  =  solarized base 02
// :s01  =  solarized base 01
// :s00  =  solarized base 00
// :s0   =  solarized base 0
// :s1   =  solarized base 1
// :s2   =  solarized base 2
// :s3   =  solarized base 3
// :sr   =  solarized red
// :so   =  solarized orange
// :sy   =  solarized yellow
// :sg   =  solarized green
// :sc   =  solarized cyan
// :sb   =  solarized blue
// :sv   =  solarized violet
// :sm   =  solarized magenta
//
// :l03  =  lunarized base 03
// :l02  =  lunarized base 02
// :l01  =  lunarized base 01
// :l00  =  lunarized base 00
// :l0   =  lunarized base 0
// :l1   =  lunarized base 1
// :l2   =  lunarized base 2
// :l3   =  lunarized base 3
// :lc   =  lunarized cyan
// :lb   =  lunarized blue
// :li   =  lunarized indigo
// :lv   =  lunarized violet
// :lr   =  lunarized red
// :lo   =  lunarized orange
// :ly   =  lunarized yellow
// :lg   =  lunarized green
//
// @s  =  screen
// @p  =  print
//
// ^initial
// : user agent setting
// ^inherited
// : true
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/color
// ^author
// : Chris Harvey
// ^updated
// : 2015-10-16

.\!c\:0 { .\!c\:c; color: initial      !important; }
.\!c\:i {          color: inherit      !important; }
.\!c\:t {          color: transparent  !important; }
.\!c\:c {          color: currentColor !important; } // basically same as `inherit`

.\!c\:b { color: #000000 !important; }
.\!c\:w { color: #ffffff !important; }

.\!c\:s03 { #XMETER .CONSTS(); color: @solar_base03  !important; }
.\!c\:s02 { #XMETER .CONSTS(); color: @solar_base02  !important; }
.\!c\:s01 { #XMETER .CONSTS(); color: @solar_base01  !important; }
.\!c\:s00 { #XMETER .CONSTS(); color: @solar_base00  !important; }
.\!c\:s0  { #XMETER .CONSTS(); color: @solar_base0   !important; }
.\!c\:s1  { #XMETER .CONSTS(); color: @solar_base1   !important; }
.\!c\:s2  { #XMETER .CONSTS(); color: @solar_base2   !important; }
.\!c\:s3  { #XMETER .CONSTS(); color: @solar_base3   !important; }
.\!c\:sr  { #XMETER .CONSTS(); color: @solar_red     !important; }
.\!c\:so  { #XMETER .CONSTS(); color: @solar_orange  !important; }
.\!c\:sy  { #XMETER .CONSTS(); color: @solar_yellow  !important; }
.\!c\:sg  { #XMETER .CONSTS(); color: @solar_green   !important; }
.\!c\:sc  { #XMETER .CONSTS(); color: @solar_cyan    !important; }
.\!c\:sb  { #XMETER .CONSTS(); color: @solar_blue    !important; }
.\!c\:sv  { #XMETER .CONSTS(); color: @solar_violet  !important; }
.\!c\:sm  { #XMETER .CONSTS(); color: @solar_magenta !important; }

.\!c\:l03 { #XMETER .CONSTS(); color: @lunar_base03 !important; }
.\!c\:l02 { #XMETER .CONSTS(); color: @lunar_base02 !important; }
.\!c\:l01 { #XMETER .CONSTS(); color: @lunar_base01 !important; }
.\!c\:l00 { #XMETER .CONSTS(); color: @lunar_base00 !important; }
.\!c\:l0  { #XMETER .CONSTS(); color: @lunar_base0  !important; }
.\!c\:l1  { #XMETER .CONSTS(); color: @lunar_base1  !important; }
.\!c\:l2  { #XMETER .CONSTS(); color: @lunar_base2  !important; }
.\!c\:l3  { #XMETER .CONSTS(); color: @lunar_base3  !important; }
.\!c\:lc  { #XMETER .CONSTS(); color: @lunar_cyan   !important; }
.\!c\:lb  { #XMETER .CONSTS(); color: @lunar_blue   !important; }
.\!c\:li  { #XMETER .CONSTS(); color: @lunar_indigo !important; }
.\!c\:lv  { #XMETER .CONSTS(); color: @lunar_violet !important; }
.\!c\:lr  { #XMETER .CONSTS(); color: @lunar_red    !important; }
.\!c\:lo  { #XMETER .CONSTS(); color: @lunar_orange !important; }
.\!c\:ly  { #XMETER .CONSTS(); color: @lunar_yellow !important; }
.\!c\:lg  { #XMETER .CONSTS(); color: @lunar_green  !important; }

@media screen {
  .\!c\:0\@s { .\!c\:0; }
  .\!c\:i\@s { .\!c\:i; }
  .\!c\:t\@s { .\!c\:t; }
  .\!c\:c\@s { .\!c\:c; }

  .\!c\:b\@s { .\!c\:b; }
  .\!c\:w\@s { .\!c\:w; }

  .\!c\:s03\@s { .\!c\:s03; }
  .\!c\:s02\@s { .\!c\:s02; }
  .\!c\:s01\@s { .\!c\:s01; }
  .\!c\:s00\@s { .\!c\:s00; }
  .\!c\:s0\@s  { .\!c\:s0 ; }
  .\!c\:s1\@s  { .\!c\:s1 ; }
  .\!c\:s2\@s  { .\!c\:s2 ; }
  .\!c\:s3\@s  { .\!c\:s3 ; }
  .\!c\:sr\@s  { .\!c\:sr ; }
  .\!c\:so\@s  { .\!c\:so ; }
  .\!c\:sy\@s  { .\!c\:sy ; }
  .\!c\:sg\@s  { .\!c\:sg ; }
  .\!c\:sc\@s  { .\!c\:sc ; }
  .\!c\:sb\@s  { .\!c\:sb ; }
  .\!c\:sv\@s  { .\!c\:sv ; }
  .\!c\:sm\@s  { .\!c\:sm ; }

  .\!c\:l03\@s { .\!c\:l03; }
  .\!c\:l02\@s { .\!c\:l02; }
  .\!c\:l01\@s { .\!c\:l01; }
  .\!c\:l00\@s { .\!c\:l00; }
  .\!c\:l0\@s  { .\!c\:l0 ; }
  .\!c\:l1\@s  { .\!c\:l1 ; }
  .\!c\:l2\@s  { .\!c\:l2 ; }
  .\!c\:l3\@s  { .\!c\:l3 ; }
  .\!c\:lc\@s  { .\!c\:lc ; }
  .\!c\:lb\@s  { .\!c\:lb ; }
  .\!c\:li\@s  { .\!c\:li ; }
  .\!c\:lv\@s  { .\!c\:lv ; }
  .\!c\:lr\@s  { .\!c\:lr ; }
  .\!c\:lo\@s  { .\!c\:lo ; }
  .\!c\:ly\@s  { .\!c\:ly ; }
  .\!c\:lg\@s  { .\!c\:lg ; }
}

@media print {
  .\!c\:0\@p { .\!c\:0; }
  .\!c\:i\@p { .\!c\:i; }
  .\!c\:t\@p { .\!c\:t; }
  .\!c\:c\@p { .\!c\:c; }

  .\!c\:b\@p { .\!c\:b; }
  .\!c\:w\@p { .\!c\:w; }

  .\!c\:s03\@p { .\!c\:s03; }
  .\!c\:s02\@p { .\!c\:s02; }
  .\!c\:s01\@p { .\!c\:s01; }
  .\!c\:s00\@p { .\!c\:s00; }
  .\!c\:s0\@p  { .\!c\:s0 ; }
  .\!c\:s1\@p  { .\!c\:s1 ; }
  .\!c\:s2\@p  { .\!c\:s2 ; }
  .\!c\:s3\@p  { .\!c\:s3 ; }
  .\!c\:sr\@p  { .\!c\:sr ; }
  .\!c\:so\@p  { .\!c\:so ; }
  .\!c\:sy\@p  { .\!c\:sy ; }
  .\!c\:sg\@p  { .\!c\:sg ; }
  .\!c\:sc\@p  { .\!c\:sc ; }
  .\!c\:sb\@p  { .\!c\:sb ; }
  .\!c\:sv\@p  { .\!c\:sv ; }
  .\!c\:sm\@p  { .\!c\:sm ; }

  .\!c\:l03\@p { .\!c\:l03; }
  .\!c\:l02\@p { .\!c\:l02; }
  .\!c\:l01\@p { .\!c\:l01; }
  .\!c\:l00\@p { .\!c\:l00; }
  .\!c\:l0\@p  { .\!c\:l0 ; }
  .\!c\:l1\@p  { .\!c\:l1 ; }
  .\!c\:l2\@p  { .\!c\:l2 ; }
  .\!c\:l3\@p  { .\!c\:l3 ; }
  .\!c\:lc\@p  { .\!c\:lc ; }
  .\!c\:lb\@p  { .\!c\:lb ; }
  .\!c\:li\@p  { .\!c\:li ; }
  .\!c\:lv\@p  { .\!c\:lv ; }
  .\!c\:lr\@p  { .\!c\:lr ; }
  .\!c\:lo\@p  { .\!c\:lo ; }
  .\!c\:ly\@p  { .\!c\:ly ; }
  .\!c\:lg\@p  { .\!c\:lg ; }
}

.\!c\:0\^ { &:hover, &:focus { .\!c\:0; } }
.\!c\:i\^ { &:hover, &:focus { .\!c\:i; } }
.\!c\:t\^ { &:hover, &:focus { .\!c\:t; } }
.\!c\:c\^ { &:hover, &:focus { .\!c\:c; } }

.\!c\:b\^ { &:hover, &:focus { .\!c\:b; } }
.\!c\:w\^ { &:hover, &:focus { .\!c\:w; } }
