
/*################################*\
    _display.less
\*################################*/

.\!d\:0  { display: initial      !important; }
.\!d\:i  { display: inherit      !important; }
.\!d\:n  { display: none         !important; }
.\!d\:bk { display: block        !important; }
.\!d\:il { display: inline       !important; }
.\!d\:ib { display: inline-block !important; }
.\!d\:tb { display: table        !important; }
.\!d\:tc { display: table-cell   !important; }
.\!d\:fx { display: flex         !important; } // CHANGED: Use #XMETER .flexbox() insead
@media screen {
  .\!d\:0\@s  { .\!d\:0 ; }
  .\!d\:i\@s  { .\!d\:i ; }
  .\!d\:n\@s  { .\!d\:n ; }
  .\!d\:bk\@s { .\!d\:bk; }
  .\!d\:il\@s { .\!d\:il; }
  .\!d\:ib\@s { .\!d\:ib; }
  .\!d\:tb\@s { .\!d\:tb; }
  .\!d\:tc\@s { .\!d\:tc; }
  .\!d\:fx\@s { .\!d\:fx; }
}
@media print {
  .\!d\:0\@p  { .\!d\:0 ; }
  .\!d\:i\@p  { .\!d\:i ; }
  .\!d\:n\@p  { .\!d\:n ; }
  .\!d\:bk\@p { .\!d\:bk; }
  .\!d\:il\@p { .\!d\:il; }
  .\!d\:ib\@p { .\!d\:ib; }
  .\!d\:tb\@p { .\!d\:tb; }
  .\!d\:tc\@p { .\!d\:tc; }
  .\!d\:fx\@p { .\!d\:fx; }
}
