
/*################################*\
    bangs  |  _display.less
\*################################*/
@import (reference) url('../node_modules/xmeter/styles/__fallback.flexbox.less');

// ^author
// : Chris Harvey
// ^updated
// : 2017-02-09

.-d-0  { .-d-il; display: initial      !important; }
.-d-i  {         display: inherit      !important; }
.-d-n  {         display: none         !important; }
.-d-bk {         display: block        !important; }
.-d-il {         display: inline       !important; }
.-d-ib {         display: inline-block !important; }
.-d-fx {         .flexbox()            !important; }
.-d-li {         display: list-item    !important; }

@media screen {
  .-d-0-s  { .-d-0 ; }
  .-d-i-s  { .-d-i ; }
  .-d-n-s  { .-d-n ; }
  .-d-bk-s { .-d-bk; }
  .-d-il-s { .-d-il; }
  .-d-ib-s { .-d-ib; }
  .-d-fx-s { .-d-fx; }
  .-d-li-s { .-d-li; }
}

@media print {
  .-d-0-p  { .-d-0 ; }
  .-d-i-p  { .-d-i ; }
  .-d-n-p  { .-d-n ; }
  .-d-bk-p { .-d-bk; }
  .-d-il-p { .-d-il; }
  .-d-ib-p { .-d-ib; }
  .-d-fx-p { .-d-fx; }
  .-d-li-p { .-d-li; }
}

@media screen and (min-width: 30em) {
  .-d-0-sK  { .-d-0 ; }
  .-d-i-sK  { .-d-i ; }
  .-d-n-sK  { .-d-n ; }
  .-d-bk-sK { .-d-bk; }
  .-d-il-sK { .-d-il; }
  .-d-ib-sK { .-d-ib; }
  .-d-fx-sK { .-d-fx; }
  .-d-li-sK { .-d-li; }
}

@media screen and (min-width: 45em) {
  .-d-0-sM  { .-d-0 ; }
  .-d-i-sM  { .-d-i ; }
  .-d-n-sM  { .-d-n ; }
  .-d-bk-sM { .-d-bk; }
  .-d-il-sM { .-d-il; }
  .-d-ib-sM { .-d-ib; }
  .-d-fx-sM { .-d-fx; }
  .-d-li-sM { .-d-li; }
}

@media screen and (min-width: 60em) {
  .-d-0-sG  { .-d-0 ; }
  .-d-i-sG  { .-d-i ; }
  .-d-n-sG  { .-d-n ; }
  .-d-bk-sG { .-d-bk; }
  .-d-il-sG { .-d-il; }
  .-d-ib-sG { .-d-ib; }
  .-d-fx-sG { .-d-fx; }
  .-d-li-sG { .-d-li; }
}

@media screen and (min-width: 75em) {
  .-d-0-sT  { .-d-0 ; }
  .-d-i-sT  { .-d-i ; }
  .-d-n-sT  { .-d-n ; }
  .-d-bk-sT { .-d-bk; }
  .-d-il-sT { .-d-il; }
  .-d-ib-sT { .-d-ib; }
  .-d-fx-sT { .-d-fx; }
  .-d-li-sT { .-d-li; }
}

@media not all and (min-width: 30em) {
  .-d-0-nK  { .-d-0 ; }
  .-d-i-nK  { .-d-i ; }
  .-d-n-nK  { .-d-n ; }
  .-d-bk-nK { .-d-bk; }
  .-d-il-nK { .-d-il; }
  .-d-ib-nK { .-d-ib; }
  .-d-fx-nK { .-d-fx; }
  .-d-li-nK { .-d-li; }
}

@media not all and (min-width: 45em) {
  .-d-0-nM  { .-d-0 ; }
  .-d-i-nM  { .-d-i ; }
  .-d-n-nM  { .-d-n ; }
  .-d-bk-nM { .-d-bk; }
  .-d-il-nM { .-d-il; }
  .-d-ib-nM { .-d-ib; }
  .-d-fx-nM { .-d-fx; }
  .-d-li-nM { .-d-li; }
}

@media not all and (min-width: 60em) {
  .-d-0-nG  { .-d-0 ; }
  .-d-i-nG  { .-d-i ; }
  .-d-n-nG  { .-d-n ; }
  .-d-bk-nG { .-d-bk; }
  .-d-il-nG { .-d-il; }
  .-d-ib-nG { .-d-ib; }
  .-d-fx-nG { .-d-fx; }
  .-d-li-nG { .-d-li; }
}

@media not all and (min-width: 75em) {
  .-d-0-nT  { .-d-0 ; }
  .-d-i-nT  { .-d-i ; }
  .-d-n-nT  { .-d-n ; }
  .-d-bk-nT { .-d-bk; }
  .-d-il-nT { .-d-il; }
  .-d-ib-nT { .-d-ib; }
  .-d-fx-nT { .-d-fx; }
  .-d-li-nT { .-d-li; }
}
