
/*################################*\
    bangs  |  _font-weight.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2015-10-08

.-fw-0   { .-fw-n; font-weight: initial !important; }
.-fw-i   {         font-weight: inherit !important; }
.-fw-n   {         font-weight: normal  !important; }
.-fw-b   {         font-weight: bold    !important; }
.-fw-100 {         font-weight: 100     !important; }
.-fw-200 {         font-weight: 200     !important; }
.-fw-300 {         font-weight: 300     !important; }
.-fw-400 {         font-weight: 400     !important; }
.-fw-500 {         font-weight: 500     !important; }
.-fw-600 {         font-weight: 600     !important; }
.-fw-700 {         font-weight: 700     !important; }
.-fw-800 {         font-weight: 800     !important; }
.-fw-900 {         font-weight: 900     !important; }

@media screen {
  .-fw-0-s   { .-fw-0  ; }
  .-fw-i-s   { .-fw-i  ; }
  .-fw-n-s   { .-fw-n  ; }
  .-fw-b-s   { .-fw-b  ; }
  .-fw-100-s { .-fw-100; }
  .-fw-200-s { .-fw-200; }
  .-fw-300-s { .-fw-300; }
  .-fw-400-s { .-fw-400; }
  .-fw-500-s { .-fw-500; }
  .-fw-600-s { .-fw-600; }
  .-fw-700-s { .-fw-700; }
  .-fw-800-s { .-fw-800; }
  .-fw-900-s { .-fw-900; }
}

@media print {
  .-fw-0-p   { .-fw-0  ; }
  .-fw-i-p   { .-fw-i  ; }
  .-fw-n-p   { .-fw-n  ; }
  .-fw-b-p   { .-fw-b  ; }
  .-fw-100-p { .-fw-100; }
  .-fw-200-p { .-fw-200; }
  .-fw-300-p { .-fw-300; }
  .-fw-400-p { .-fw-400; }
  .-fw-500-p { .-fw-500; }
  .-fw-600-p { .-fw-600; }
  .-fw-700-p { .-fw-700; }
  .-fw-800-p { .-fw-800; }
  .-fw-900-p { .-fw-900; }
}

.-fw-0-h   { &:hover, &:focus { .-fw-0  ; } }
.-fw-i-h   { &:hover, &:focus { .-fw-i  ; } }
.-fw-n-h   { &:hover, &:focus { .-fw-n  ; } }
.-fw-b-h   { &:hover, &:focus { .-fw-b  ; } }
.-fw-100-h { &:hover, &:focus { .-fw-100; } }
.-fw-200-h { &:hover, &:focus { .-fw-200; } }
.-fw-300-h { &:hover, &:focus { .-fw-300; } }
.-fw-400-h { &:hover, &:focus { .-fw-400; } }
.-fw-500-h { &:hover, &:focus { .-fw-500; } }
.-fw-600-h { &:hover, &:focus { .-fw-600; } }
.-fw-700-h { &:hover, &:focus { .-fw-700; } }
.-fw-800-h { &:hover, &:focus { .-fw-800; } }
.-fw-900-h { &:hover, &:focus { .-fw-900; } }
