
/*################################*\
    _font-weight.less
\*################################*/

.\!fw\:0 { font-weight: initial !important; } // NOTE, not `font-weight: 0;`
.\!fw\:i { font-weight: inherit !important; }
.\!fw\:n { font-weight: normal  !important; }
.\!fw\:b { font-weight: bold    !important; }
.\!fw\:1 { font-weight: 100     !important; }
.\!fw\:2 { font-weight: 200     !important; }
.\!fw\:3 { font-weight: 300     !important; }
.\!fw\:4 { font-weight: 400     !important; }
.\!fw\:5 { font-weight: 500     !important; }
.\!fw\:6 { font-weight: 600     !important; }
.\!fw\:7 { font-weight: 700     !important; }
.\!fw\:8 { font-weight: 800     !important; }
.\!fw\:9 { font-weight: 900     !important; }

@media screen {
  .\!fw\:0\@s { .\!fw\:0; }
  .\!fw\:i\@s { .\!fw\:i; }
  .\!fw\:n\@s { .\!fw\:n; }
  .\!fw\:b\@s { .\!fw\:b; }
  .\!fw\:1\@s { .\!fw\:1; }
  .\!fw\:2\@s { .\!fw\:2; }
  .\!fw\:3\@s { .\!fw\:3; }
  .\!fw\:4\@s { .\!fw\:4; }
  .\!fw\:5\@s { .\!fw\:5; }
  .\!fw\:6\@s { .\!fw\:6; }
  .\!fw\:7\@s { .\!fw\:7; }
  .\!fw\:8\@s { .\!fw\:8; }
  .\!fw\:9\@s { .\!fw\:9; }
}

@media print {
  .\!fw\:0\@p { .\!fw\:0; }
  .\!fw\:i\@p { .\!fw\:i; }
  .\!fw\:n\@p { .\!fw\:n; }
  .\!fw\:b\@p { .\!fw\:b; }
  .\!fw\:1\@p { .\!fw\:1; }
  .\!fw\:2\@p { .\!fw\:2; }
  .\!fw\:3\@p { .\!fw\:3; }
  .\!fw\:4\@p { .\!fw\:4; }
  .\!fw\:5\@p { .\!fw\:5; }
  .\!fw\:6\@p { .\!fw\:6; }
  .\!fw\:7\@p { .\!fw\:7; }
  .\!fw\:8\@p { .\!fw\:8; }
  .\!fw\:9\@p { .\!fw\:9; }
}
