
/*################################*\
    bangs  |  _font-family.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2015-10-02

.-ff-0  { .-ff-ss; font-family: initial    !important; }
.-ff-i  {          font-family: inherit    !important; }
.-ff-ss {          font-family: sans-serif !important; }
.-ff-sf {          font-family: serif      !important; }
.-ff-ms {          font-family: monospace  !important; }
.-ff-fy {          font-family: fantasy    !important; }
.-ff-cs {          font-family: cursive    !important; }

@media screen {
  .-ff-0-s  { .-ff-0 ; }
  .-ff-i-s  { .-ff-i ; }
  .-ff-ss-s { .-ff-ss; }
  .-ff-sf-s { .-ff-sf; }
  .-ff-ms-s { .-ff-ms; }
  .-ff-fy-s { .-ff-fy; }
  .-ff-cs-s { .-ff-cs; }
}

@media print {
  .-ff-0-p  { .-ff-0 ; }
  .-ff-i-p  { .-ff-i ; }
  .-ff-ss-p { .-ff-ss; }
  .-ff-sf-p { .-ff-sf; }
  .-ff-ms-p { .-ff-ms; }
  .-ff-fy-p { .-ff-fy; }
  .-ff-cs-p { .-ff-cs; }
}
