
/*################################*\
    bangs  |  _font-size.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2016-08-17

.-fz-0 { font-size: 1em; font-size: initial !important; }
.-fz-i {                 font-size: inherit !important; }
.-fz-z {                 font-size: 0       !important; }

@media screen {
  .-fz-0-s { .-fz-0; }
  .-fz-i-s { .-fz-i; }
  .-fz-z-s { .-fz-z; }
}

@media print {
  .-fz-0-p { .-fz-0; }
  .-fz-i-p { .-fz-i; }
  .-fz-z-p { .-fz-z; }
}
