
/*################################*\
    bangs  |  _font-size.less
\*################################*/

// Sets the font size.
// The bangs used for font size correspond to heading sizes.
// Note that these bangs do not also set line-height.
// There is, however, a pixel fallback for browsers that do not support rems. (16px = 1rem)
// NOTE: THESE BANGS ARE OPINIONATED. Override them if you wish.
//
// !fz  =  font-size
//
// :0  =  initial
// :i  =  inherit
// :h  =  0.5rem ( 8px)
// :1  =  1.0rem (16px)
// :2  =  2.0rem (32px)
// :4  =  4.0rem (64px)
//
// @s  =  screen
// @p  =  print
//
// ^initial
// : `medium` (user agent setting)
// ^inherited
// : true
// ^author
// : Chris Harvey
// ^updated
// : 2016-01-14

@default_px: 16px;

.\!fz\:0 { font-size: @default_px !important; font-size: initial !important; }
.\!fz\:i {                                    font-size: inherit !important; }
.\!fz\:h { font-size:  8px        !important; font-size: 0.5rem  !important; }
.\!fz\:1 { font-size: 16px        !important; font-size: 1.0rem  !important; }
.\!fz\:2 { font-size: 32px        !important; font-size: 2.0rem  !important; }
.\!fz\:4 { font-size: 64px        !important; font-size: 4.0rem  !important; }

@media screen {
  .\!fz\:0\@s { .\!fz\:0; }
  .\!fz\:i\@s { .\!fz\:i; }
  .\!fz\:h\@s { .\!fz\:h; }
  .\!fz\:1\@s { .\!fz\:1; }
  .\!fz\:2\@s { .\!fz\:2; }
  .\!fz\:4\@s { .\!fz\:4; }
}

@media print {
  .\!fz\:0\@p { .\!fz\:0; }
  .\!fz\:i\@p { .\!fz\:i; }
  .\!fz\:h\@p { .\!fz\:h; }
  .\!fz\:1\@p { .\!fz\:1; }
  .\!fz\:2\@p { .\!fz\:2; }
  .\!fz\:4\@p { .\!fz\:4; }
}
