
/*################################*\
    bangs  |  _left.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2016-04-05

.-l-0 { .-l-a; left: initial !important; }
.-l-i {        left: inherit !important; }
.-l-a {        left: auto    !important; }
.-l-z {        left: 0       !important; }

@media screen {
  .-l-0-s { .-l-0; }
  .-l-i-s { .-l-i; }
  .-l-a-s { .-l-a; }
  .-l-z-s { .-l-z; }
}

@media print {
  .-l-0-p { .-l-0; }
  .-l-i-p { .-l-i; }
  .-l-a-p { .-l-a; }
  .-l-z-p { .-l-z; }
}
