
/*################################*\
    bangs  |  _overflow.less
\*################################*/

// Defines how content outside the box is rendered.
//
// of  =  overflow
//
// 0  =  initial
// i  =  inherit
// a  =  auto
// v  =  visible
// h  =  hidden
// s  =  scroll
//
// ^initial
// : `visible`
// ^inherited
// : false
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/overflow
// ^author
// : Chris Harvey
// ^updated
// : 2017-03-28

.-ko-0 { .-ko-v; overflow: initial !important; }
.-ko-i {         overflow: inherit !important; }
.-ko-a {         overflow: auto    !important; }
.-ko-v {         overflow: visible !important; }
.-ko-h {         overflow: hidden  !important; }
.-ko-s {         overflow: scroll  !important; }

@media screen {
  .-ko-0-s { .-ko-0; }
  .-ko-i-s { .-ko-i; }
  .-ko-a-s { .-ko-a; }
  .-ko-v-s { .-ko-v; }
  .-ko-h-s { .-ko-h; }
  .-ko-s-s { .-ko-s; }
}

@media print {
  .-ko-0-p { .-ko-0; }
  .-ko-i-p { .-ko-i; }
  .-ko-a-p { .-ko-a; }
  .-ko-v-p { .-ko-v; }
  .-ko-h-p { .-ko-h; }
  .-ko-s-p { .-ko-s; }
}
