
/*################################*\
    bangs  |  _padding.less
\*################################*/

// Padding. Numbers are multiples of rems.
// These values are *not* meant to reflect project values (e.g. vru).
//
// !p  =  padding
//
// l  =  left
// r  =  right
// t  =  top
// b  =  bottom
// x  =  horizontal
// v  =  vertical
// a  =  all
//
// :0  =  initial (also 0)
// :i  =  inherit
// :z  =  0
// :q  =  0.25rem
// :h  =  0.5rem
// :1  =  1rem
// :2  =  2rem
// :4  =  4rem
// :8  =  8rem
// :g  =  16rem
//
// @s  =  screen
// @p  =  print
//
// ^initial
// : `0`
// ^inherited
// : false
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/padding
// ^author
// : Chris Harvey
// ^updated
// : 2015-11-06

.\!pl\:0 { padding-left:   0       !important; padding-left:   initial !important; }
.\!pl\:i { padding-left:   inherit !important; }
.\!pl\:z { padding-left:   0       !important; }
.\!pl\:q { padding-left:   0.25rem !important; }
.\!pl\:h { padding-left:   0.5rem  !important; }
.\!pl\:1 { padding-left:   1rem    !important; }
.\!pl\:2 { padding-left:   2rem    !important; }
.\!pl\:4 { padding-left:   4rem    !important; }
.\!pl\:8 { padding-left:   8rem    !important; }
.\!pl\:g { padding-left:   16rem   !important; }

.\!pr\:0 { padding-right:  0       !important; padding-right:  initial !important; }
.\!pr\:i { padding-right:  inherit !important; }
.\!pr\:z { padding-right:  0       !important; }
.\!pr\:q { padding-right:  0.25rem !important; }
.\!pr\:h { padding-right:  0.5rem  !important; }
.\!pr\:1 { padding-right:  1rem    !important; }
.\!pr\:2 { padding-right:  2rem    !important; }
.\!pr\:4 { padding-right:  4rem    !important; }
.\!pr\:8 { padding-right:  8rem    !important; }
.\!pr\:g { padding-right:  16rem   !important; }

.\!pt\:0 { padding-top:    0       !important; padding-top:    initial !important; }
.\!pt\:i { padding-top:    inherit !important; }
.\!pt\:z { padding-top:    0       !important; }
.\!pt\:q { padding-top:    0.25rem !important; }
.\!pt\:h { padding-top:    0.5rem  !important; }
.\!pt\:1 { padding-top:    1rem    !important; }
.\!pt\:2 { padding-top:    2rem    !important; }
.\!pt\:4 { padding-top:    4rem    !important; }
.\!pt\:8 { padding-top:    8rem    !important; }
.\!pt\:g { padding-top:    16rem   !important; }

.\!pb\:0 { padding-bottom: 0       !important; padding-bottom: initial !important; }
.\!pb\:i { padding-bottom: inherit !important; }
.\!pb\:z { padding-bottom: 0       !important; }
.\!pb\:q { padding-bottom: 0.25rem !important; }
.\!pb\:h { padding-bottom: 0.5rem  !important; }
.\!pb\:1 { padding-bottom: 1rem    !important; }
.\!pb\:2 { padding-bottom: 2rem    !important; }
.\!pb\:4 { padding-bottom: 4rem    !important; }
.\!pb\:8 { padding-bottom: 8rem    !important; }
.\!pb\:g { padding-bottom: 16rem   !important; }

.\!px\:0 { .\!pl\:0; .\!pr\:0; }
.\!px\:i { .\!pl\:i; .\!pr\:i; }
.\!px\:z { .\!pl\:z; .\!pr\:z; }
.\!px\:q { .\!pl\:q; .\!pr\:q; }
.\!px\:h { .\!pl\:h; .\!pr\:h; }
.\!px\:1 { .\!pl\:1; .\!pr\:1; }
.\!px\:2 { .\!pl\:2; .\!pr\:2; }
.\!px\:4 { .\!pl\:4; .\!pr\:4; }
.\!px\:8 { .\!pl\:8; .\!pr\:8; }
.\!px\:g { .\!pl\:g; .\!pr\:g; }

.\!py\:0 { .\!pt\:0; .\!pb\:0; }
.\!py\:i { .\!pt\:i; .\!pb\:i; }
.\!py\:z { .\!pt\:z; .\!pb\:z; }
.\!py\:q { .\!pt\:q; .\!pb\:q; }
.\!py\:h { .\!pt\:h; .\!pb\:h; }
.\!py\:1 { .\!pt\:1; .\!pb\:1; }
.\!py\:2 { .\!pt\:2; .\!pb\:2; }
.\!py\:4 { .\!pt\:4; .\!pb\:4; }
.\!py\:8 { .\!pt\:8; .\!pb\:8; }
.\!py\:g { .\!pt\:g; .\!pb\:g; }

.\!pa\:0 { padding:        0       !important; padding:        initial !important; }
.\!pa\:i { padding:        inherit !important; }
.\!pa\:z { padding:        0       !important; }
.\!pa\:q { padding:        0.25rem !important; }
.\!pa\:h { padding:        0.5rem  !important; }
.\!pa\:1 { padding:        1rem    !important; }
.\!pa\:2 { padding:        2rem    !important; }
.\!pa\:4 { padding:        4rem    !important; }
.\!pa\:8 { padding:        8rem    !important; }
.\!pa\:g { padding:        16rem   !important; }

@media screen {
  .\!pl\:0\@s { .\!pl\:0; }
  .\!pl\:i\@s { .\!pl\:i; }
  .\!pl\:z\@s { .\!pl\:z; }
  .\!pl\:q\@s { .\!pl\:q; }
  .\!pl\:h\@s { .\!pl\:h; }
  .\!pl\:1\@s { .\!pl\:1; }
  .\!pl\:2\@s { .\!pl\:2; }
  .\!pl\:4\@s { .\!pl\:4; }
  .\!pl\:8\@s { .\!pl\:8; }
  .\!pl\:g\@s { .\!pl\:g; }

  .\!pr\:0\@s { .\!pr\:0; }
  .\!pr\:i\@s { .\!pr\:i; }
  .\!pr\:z\@s { .\!pr\:z; }
  .\!pr\:q\@s { .\!pr\:q; }
  .\!pr\:h\@s { .\!pr\:h; }
  .\!pr\:1\@s { .\!pr\:1; }
  .\!pr\:2\@s { .\!pr\:2; }
  .\!pr\:4\@s { .\!pr\:4; }
  .\!pr\:8\@s { .\!pr\:8; }
  .\!pr\:g\@s { .\!pr\:g; }

  .\!pt\:0\@s { .\!pt\:0; }
  .\!pt\:i\@s { .\!pt\:i; }
  .\!pt\:z\@s { .\!pt\:z; }
  .\!pt\:q\@s { .\!pt\:q; }
  .\!pt\:h\@s { .\!pt\:h; }
  .\!pt\:1\@s { .\!pt\:1; }
  .\!pt\:2\@s { .\!pt\:2; }
  .\!pt\:4\@s { .\!pt\:4; }
  .\!pt\:8\@s { .\!pt\:8; }
  .\!pt\:g\@s { .\!pt\:g; }

  .\!pb\:0\@s { .\!pb\:0; }
  .\!pb\:i\@s { .\!pb\:i; }
  .\!pb\:z\@s { .\!pb\:z; }
  .\!pb\:q\@s { .\!pb\:q; }
  .\!pb\:h\@s { .\!pb\:h; }
  .\!pb\:1\@s { .\!pb\:1; }
  .\!pb\:2\@s { .\!pb\:2; }
  .\!pb\:4\@s { .\!pb\:4; }
  .\!pb\:8\@s { .\!pb\:8; }
  .\!pb\:g\@s { .\!pb\:g; }

  .\!px\:0\@s { .\!px\:0; }
  .\!px\:i\@s { .\!px\:i; }
  .\!px\:z\@s { .\!px\:z; }
  .\!px\:q\@s { .\!px\:q; }
  .\!px\:h\@s { .\!px\:h; }
  .\!px\:1\@s { .\!px\:1; }
  .\!px\:2\@s { .\!px\:2; }
  .\!px\:4\@s { .\!px\:4; }
  .\!px\:8\@s { .\!px\:8; }
  .\!px\:g\@s { .\!px\:g; }

  .\!py\:0\@s { .\!py\:0; }
  .\!py\:i\@s { .\!py\:i; }
  .\!py\:z\@s { .\!py\:z; }
  .\!py\:q\@s { .\!py\:q; }
  .\!py\:h\@s { .\!py\:h; }
  .\!py\:1\@s { .\!py\:1; }
  .\!py\:2\@s { .\!py\:2; }
  .\!py\:4\@s { .\!py\:4; }
  .\!py\:8\@s { .\!py\:8; }
  .\!py\:g\@s { .\!py\:g; }

  .\!pa\:0\@s { .\!pa\:0; }
  .\!pa\:i\@s { .\!pa\:i; }
  .\!pa\:z\@s { .\!pa\:z; }
  .\!pa\:q\@s { .\!pa\:q; }
  .\!pa\:h\@s { .\!pa\:h; }
  .\!pa\:1\@s { .\!pa\:1; }
  .\!pa\:2\@s { .\!pa\:2; }
  .\!pa\:4\@s { .\!pa\:4; }
  .\!pa\:8\@s { .\!pa\:8; }
  .\!pa\:g\@s { .\!pa\:g; }
}

@media print {
  .\!pl\:0\@p { .\!pl\:0; }
  .\!pl\:i\@p { .\!pl\:i; }
  .\!pl\:z\@p { .\!pl\:z; }
  .\!pl\:q\@p { .\!pl\:q; }
  .\!pl\:h\@p { .\!pl\:h; }
  .\!pl\:1\@p { .\!pl\:1; }
  .\!pl\:2\@p { .\!pl\:2; }
  .\!pl\:4\@p { .\!pl\:4; }
  .\!pl\:8\@p { .\!pl\:8; }
  .\!pl\:g\@p { .\!pl\:g; }

  .\!pr\:0\@p { .\!pr\:0; }
  .\!pr\:i\@p { .\!pr\:i; }
  .\!pr\:z\@p { .\!pr\:z; }
  .\!pr\:q\@p { .\!pr\:q; }
  .\!pr\:h\@p { .\!pr\:h; }
  .\!pr\:1\@p { .\!pr\:1; }
  .\!pr\:2\@p { .\!pr\:2; }
  .\!pr\:4\@p { .\!pr\:4; }
  .\!pr\:8\@p { .\!pr\:8; }
  .\!pr\:g\@p { .\!pr\:g; }

  .\!pt\:0\@p { .\!pt\:0; }
  .\!pt\:i\@p { .\!pt\:i; }
  .\!pt\:z\@p { .\!pt\:z; }
  .\!pt\:q\@p { .\!pt\:q; }
  .\!pt\:h\@p { .\!pt\:h; }
  .\!pt\:1\@p { .\!pt\:1; }
  .\!pt\:2\@p { .\!pt\:2; }
  .\!pt\:4\@p { .\!pt\:4; }
  .\!pt\:8\@p { .\!pt\:8; }
  .\!pt\:g\@p { .\!pt\:g; }

  .\!pb\:0\@p { .\!pb\:0; }
  .\!pb\:i\@p { .\!pb\:i; }
  .\!pb\:z\@p { .\!pb\:z; }
  .\!pb\:q\@p { .\!pb\:q; }
  .\!pb\:h\@p { .\!pb\:h; }
  .\!pb\:1\@p { .\!pb\:1; }
  .\!pb\:2\@p { .\!pb\:2; }
  .\!pb\:4\@p { .\!pb\:4; }
  .\!pb\:8\@p { .\!pb\:8; }
  .\!pb\:g\@p { .\!pb\:g; }

  .\!px\:0\@p { .\!px\:0; }
  .\!px\:i\@p { .\!px\:i; }
  .\!px\:z\@p { .\!px\:z; }
  .\!px\:q\@p { .\!px\:q; }
  .\!px\:h\@p { .\!px\:h; }
  .\!px\:1\@p { .\!px\:1; }
  .\!px\:2\@p { .\!px\:2; }
  .\!px\:4\@p { .\!px\:4; }
  .\!px\:8\@p { .\!px\:8; }
  .\!px\:g\@p { .\!px\:g; }

  .\!py\:0\@p { .\!py\:0; }
  .\!py\:i\@p { .\!py\:i; }
  .\!py\:z\@p { .\!py\:z; }
  .\!py\:q\@p { .\!py\:q; }
  .\!py\:h\@p { .\!py\:h; }
  .\!py\:1\@p { .\!py\:1; }
  .\!py\:2\@p { .\!py\:2; }
  .\!py\:4\@p { .\!py\:4; }
  .\!py\:8\@p { .\!py\:8; }
  .\!py\:g\@p { .\!py\:g; }

  .\!pa\:0\@p { .\!pa\:0; }
  .\!pa\:i\@p { .\!pa\:i; }
  .\!pa\:z\@p { .\!pa\:z; }
  .\!pa\:q\@p { .\!pa\:q; }
  .\!pa\:h\@p { .\!pa\:h; }
  .\!pa\:1\@p { .\!pa\:1; }
  .\!pa\:2\@p { .\!pa\:2; }
  .\!pa\:4\@p { .\!pa\:4; }
  .\!pa\:8\@p { .\!pa\:8; }
  .\!pa\:g\@p { .\!pa\:g; }
}
