
/*################################*\
    _padding.less
\*################################*/

// Padding. Numbers are multiples of rems.
// These values are *not* meant to reflect project values (e.g. vru).
//
// ^initial
// : `0`
// ^inherited
// : false
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/padding
// ^author
// : Chris Harvey
// ^updated
// : 2015-08-08

.\!pl\:0 { padding-left: 0      !important; }
.\!pl\:h { padding-left: 0.5rem !important; }
.\!pl\:1 { padding-left: 1rem   !important; }
.\!pl\:2 { padding-left: 2rem   !important; }
.\!pl\:4 { padding-left: 4rem   !important; }

.\!pr\:0 { padding-right: 0      !important; }
.\!pr\:h { padding-right: 0.5rem !important; }
.\!pr\:1 { padding-right: 1rem   !important; }
.\!pr\:2 { padding-right: 2rem   !important; }
.\!pr\:4 { padding-right: 4rem   !important; }

.\!pt\:0 { padding-top: 0      !important; }
.\!pt\:h { padding-top: 0.5rem !important; }
.\!pt\:1 { padding-top: 1rem   !important; }
.\!pt\:2 { padding-top: 2rem   !important; }
.\!pt\:4 { padding-top: 4rem   !important; }

.\!pb\:0 { padding-bottom: 0      !important; }
.\!pb\:h { padding-bottom: 0.5rem !important; }
.\!pb\:1 { padding-bottom: 1rem   !important; }
.\!pb\:2 { padding-bottom: 2rem   !important; }
.\!pb\:4 { padding-bottom: 4rem   !important; }

.\!px\:0 { .\!pl\:0; .\!pr\:0; }
.\!px\:h { .\!pl\:h; .\!pr\:h; }
.\!px\:1 { .\!pl\:1; .\!pr\:1; }
.\!px\:2 { .\!pl\:2; .\!pr\:2; }
.\!px\:4 { .\!pl\:4; .\!pr\:4; }

.\!py\:0 { .\!pt\:0; .\!pb\:0; }
.\!py\:h { .\!pt\:h; .\!pb\:h; }
.\!py\:1 { .\!pt\:1; .\!pb\:1; }
.\!py\:2 { .\!pt\:2; .\!pb\:2; }
.\!py\:4 { .\!pt\:4; .\!pb\:4; }

.\!pa\:0 { .\!pl\:0; .\!pr\:0; .\!pt\:0; .\!pb\:0; }
.\!pa\:h { .\!pl\:h; .\!pr\:h; .\!pt\:h; .\!pb\:h; }
.\!pa\:1 { .\!pl\:1; .\!pr\:1; .\!pt\:1; .\!pb\:1; }
.\!pa\:2 { .\!pl\:2; .\!pr\:2; .\!pt\:2; .\!pb\:2; }
.\!pa\:4 { .\!pl\:4; .\!pr\:4; .\!pt\:4; .\!pb\:4; }

@media screen {
  .\!pl\:0\@s { .\!pl\:0; }
  .\!pl\:h\@s { .\!pl\:h; }
  .\!pl\:1\@s { .\!pl\:1; }
  .\!pl\:2\@s { .\!pl\:2; }
  .\!pl\:4\@s { .\!pl\:4; }

  .\!pr\:0\@s { .\!pr\:0; }
  .\!pr\:h\@s { .\!pr\:h; }
  .\!pr\:1\@s { .\!pr\:1; }
  .\!pr\:2\@s { .\!pr\:2; }
  .\!pr\:4\@s { .\!pr\:4; }

  .\!pt\:0\@s { .\!pt\:0; }
  .\!pt\:h\@s { .\!pt\:h; }
  .\!pt\:1\@s { .\!pt\:1; }
  .\!pt\:2\@s { .\!pt\:2; }
  .\!pt\:4\@s { .\!pt\:4; }

  .\!pb\:0\@s { .\!pb\:0; }
  .\!pb\:h\@s { .\!pb\:h; }
  .\!pb\:1\@s { .\!pb\:1; }
  .\!pb\:2\@s { .\!pb\:2; }
  .\!pb\:4\@s { .\!pb\:4; }

  .\!px\:0\@s { .\!px\:0; }
  .\!px\:h\@s { .\!px\:h; }
  .\!px\:1\@s { .\!px\:1; }
  .\!px\:2\@s { .\!px\:2; }
  .\!px\:4\@s { .\!px\:4; }

  .\!py\:0\@s { .\!py\:0; }
  .\!py\:h\@s { .\!py\:h; }
  .\!py\:1\@s { .\!py\:1; }
  .\!py\:2\@s { .\!py\:2; }
  .\!py\:4\@s { .\!py\:4; }

  .\!pa\:0\@s { .\!pa\:0; }
  .\!pa\:h\@s { .\!pa\:h; }
  .\!pa\:1\@s { .\!pa\:1; }
  .\!pa\:2\@s { .\!pa\:2; }
  .\!pa\:4\@s { .\!pa\:4; }
}

@media print {
  .\!pl\:0\@p { .\!pl\:0; }
  .\!pl\:h\@p { .\!pl\:h; }
  .\!pl\:1\@p { .\!pl\:1; }
  .\!pl\:2\@p { .\!pl\:2; }
  .\!pl\:4\@p { .\!pl\:4; }

  .\!pr\:0\@p { .\!pr\:0; }
  .\!pr\:h\@p { .\!pr\:h; }
  .\!pr\:1\@p { .\!pr\:1; }
  .\!pr\:2\@p { .\!pr\:2; }
  .\!pr\:4\@p { .\!pr\:4; }

  .\!pt\:0\@p { .\!pt\:0; }
  .\!pt\:h\@p { .\!pt\:h; }
  .\!pt\:1\@p { .\!pt\:1; }
  .\!pt\:2\@p { .\!pt\:2; }
  .\!pt\:4\@p { .\!pt\:4; }

  .\!pb\:0\@p { .\!pb\:0; }
  .\!pb\:h\@p { .\!pb\:h; }
  .\!pb\:1\@p { .\!pb\:1; }
  .\!pb\:2\@p { .\!pb\:2; }
  .\!pb\:4\@p { .\!pb\:4; }

  .\!px\:0\@p { .\!px\:0; }
  .\!px\:h\@p { .\!px\:h; }
  .\!px\:1\@p { .\!px\:1; }
  .\!px\:2\@p { .\!px\:2; }
  .\!px\:4\@p { .\!px\:4; }

  .\!py\:0\@p { .\!py\:0; }
  .\!py\:h\@p { .\!py\:h; }
  .\!py\:1\@p { .\!py\:1; }
  .\!py\:2\@p { .\!py\:2; }
  .\!py\:4\@p { .\!py\:4; }

  .\!pa\:0\@p { .\!pa\:0; }
  .\!pa\:h\@p { .\!pa\:h; }
  .\!pa\:1\@p { .\!pa\:1; }
  .\!pa\:2\@p { .\!pa\:2; }
  .\!pa\:4\@p { .\!pa\:4; }
}
