
/*################################*\
    bangs  |  _page-break.less
\*################################*/

// pbb  =  page-break-before
// pba  =  page-break-after
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-05-10

.-pbb-i {          page-break-before: inherit !important; }
.-pbb-0 { .-pbb-a; page-break-before: initial !important; }
.-pbb-u {          page-break-before: unset   !important; }
.-pbb-a {          page-break-before: auto    !important; }
.-pbb-t {          page-break-before: always  !important; }
.-pbb-f {          page-break-before: avoid   !important; }

.-pba-i {          page-break-after:  inherit !important; }
.-pba-0 { .-pba-a; page-break-after:  initial !important; }
.-pba-u {          page-break-after:  unset   !important; }
.-pba-a {          page-break-after:  auto    !important; }
.-pba-t {          page-break-after:  always  !important; }
.-pba-f {          page-break-after:  avoid   !important; }
