
/*################################*\
    bangs  |  _position.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2016-02-12

.-ps-0 { .-ps-s; position: initial  !important; }
.-ps-i {         position: inherit  !important; }
.-ps-s {         position: static   !important; }
.-ps-r {         position: relative !important; }
.-ps-a {         position: absolute !important; }
.-ps-f {         position: fixed    !important; }
.-ps-k {         position: sticky   !important; }

@media screen {
  .-ps-0-s { .-ps-0; }
  .-ps-i-s { .-ps-i; }
  .-ps-s-s { .-ps-s; }
  .-ps-r-s { .-ps-r; }
  .-ps-a-s { .-ps-a; }
  .-ps-f-s { .-ps-f; }
  .-ps-k-s { .-ps-k; }
}

@media print {
  .-ps-0-p { .-ps-0; }
  .-ps-i-p { .-ps-i; }
  .-ps-s-p { .-ps-s; }
  .-ps-r-p { .-ps-r; }
  .-ps-a-p { .-ps-a; }
  .-ps-f-p { .-ps-f; }
  .-ps-k-p { .-ps-k; }
}
