
/*################################*\
    bangs  |  _text-decoration.less
\*################################*/

// Adds line decoration to text.
//
// NOTE that `text-decoration` as defined in the
// CSS Text Decoration Level 3 Module
// is a shorthand property for
// `text-decoration-line`, `text-decoration-style`, and `text-decoration-color`,
// however this is widely unsupported in major browsers.
//
// Thus we will be using the simple `text-decoration` property
// with the values of `underline`, `overline`, and `line-through`.
// The value `blink` is not supported.
//
// td  =  text-decoration
//
// 0   =  initial
// i   =  inherit
// n   =  none
// ul  =  underline
// ol  =  overline
// lt  =  line-through
//
// ^initial
// : `none`
// ^inherited
// : false
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration
// ^author
// : Chris Harvey
// ^updated
// : 2016-04-04

.-td-0  { .-td-n; text-decoration: initial      !important; }
.-td-i  {         text-decoration: inherit      !important; }
.-td-n  {         text-decoration: none         !important; }
.-td-ul {         text-decoration: underline    !important; }
.-td-ol {         text-decoration: overline     !important; }
.-td-lt {         text-decoration: line-through !important; }

@media screen {
  .-td-0-s  { .-td-0 ; }
  .-td-i-s  { .-td-i ; }
  .-td-n-s  { .-td-n ; }
  .-td-ul-s { .-td-ul; }
  .-td-ol-s { .-td-ol; }
  .-td-lt-s { .-td-lt; }
}

@media print {
  .-td-0-p  { .-td-0 ; }
  .-td-i-p  { .-td-i ; }
  .-td-n-p  { .-td-n ; }
  .-td-ul-p { .-td-ul; }
  .-td-ol-p { .-td-ol; }
  .-td-lt-p { .-td-lt; }
}

.-td-0-h  { &:hover, &:focus { .-td-0 ; } }
.-td-i-h  { &:hover, &:focus { .-td-i ; } }
.-td-n-h  { &:hover, &:focus { .-td-n ; } }
.-td-ul-h { &:hover, &:focus { .-td-ul; } }
.-td-ol-h { &:hover, &:focus { .-td-ol; } }
.-td-lt-h { &:hover, &:focus { .-td-lt; } }
