
/*################################*\
    bangs  |  _text-overflow.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2017-03-29

.-to-0 { .-to-k; text-overflow: initial  !important; }
.-to-i {         text-overflow: inherit  !important; }
.-to-k {         text-overflow: clip     !important; }
.-to-e {         text-overflow: ellipsis !important; }

@media screen {
  .-to-0-s { .-to-0; }
  .-to-i-s { .-to-i; }
  .-to-k-s { .-to-k; }
  .-to-e-s { .-to-e; }
}

@media print {
  .-to-0-p { .-to-0; }
  .-to-i-p { .-to-i; }
  .-to-k-p { .-to-k; }
  .-to-e-p { .-to-e; }
}
