
/*################################*\
    _text-align.less
\*################################*/

// Horizontally aligns text in a block.
//
// ^initial
// : `left`
// ^inherited
// : true
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/text-align
// ^author
// : Chris Harvey
// ^updated
// : 2015-08-08

.\!ta\:0  { text-align: initial !important; }
.\!ta\:i  { text-align: inherit !important; }
.\!ta\:lt { text-align: left    !important; }
.\!ta\:rt { text-align: right   !important; }
.\!ta\:cr { text-align: center  !important; }
.\!ta\:jf { text-align: justify !important; }

@media screen {
  .\!ta\:0\@s  { .\!ta\:0 ; }
  .\!ta\:i\@s  { .\!ta\:i ; }
  .\!ta\:lt\@s { .\!ta\:lt; }
  .\!ta\:rt\@s { .\!ta\:rt; }
  .\!ta\:cr\@s { .\!ta\:cr; }
  .\!ta\:jf\@s { .\!ta\:jf; }
}

@media print {
  .\!ta\:0\@p  { .\!ta\:0 ; }
  .\!ta\:i\@p  { .\!ta\:i ; }
  .\!ta\:lt\@p { .\!ta\:lt; }
  .\!ta\:rt\@p { .\!ta\:rt; }
  .\!ta\:cr\@p { .\!ta\:cr; }
  .\!ta\:jf\@p { .\!ta\:jf; }
}
