
/*################################*\
    bangs  |  _text-transform.less
\*################################*/

// Capitalizes text.
//
// tt  =  text-transform
//
// 0  =  initial
// i  =  inherit
// n  =  none
// c  =  capitalize
// h  =  uppercase
// l  =  lowercase
//
// ^initial
// : `none`
// ^inherited
// : true
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform
// ^author
// : Chris Harvey
// ^updated
// : 2017-03-28

.-tt-0  { .-tt-n; text-transform: initial    !important; }
.-tt-i  {         text-transform: inherit    !important; }
.-tt-n  {         text-transform: none       !important; }
.-tt-cp {         text-transform: capitalize !important; }
.-tt-uc {         text-transform: uppercase  !important; }
.-tt-lc {         text-transform: lowercase  !important; }

@media screen {
  .-tt-0-s  { .-tt-0 ; }
  .-tt-i-s  { .-tt-i ; }
  .-tt-n-s  { .-tt-n ; }
  .-tt-cp-s { .-tt-cp; }
  .-tt-uc-s { .-tt-uc; }
  .-tt-lc-s { .-tt-lc; }
}

@media print {
  .-tt-0-p  { .-tt-0 ; }
  .-tt-i-p  { .-tt-i ; }
  .-tt-n-p  { .-tt-n ; }
  .-tt-cp-p { .-tt-cp; }
  .-tt-uc-p { .-tt-uc; }
  .-tt-lc-p { .-tt-lc; }
}

.-tt-0-h  { &:hover, &:focus { .-tt-0 ; } }
.-tt-i-h  { &:hover, &:focus { .-tt-i ; } }
.-tt-n-h  { &:hover, &:focus { .-tt-n ; } }
.-tt-cp-h { &:hover, &:focus { .-tt-cp; } }
.-tt-uc-h { &:hover, &:focus { .-tt-uc; } }
.-tt-lc-h { &:hover, &:focus { .-tt-lc; } }
