
/*################################*\
    bangs  |  _text-align.less
\*################################*/

// TODO: The `justify-all` value is not supported.
// TODO: The initial value is `start`, not `left`.
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-04-01

.-ta-0 { .-ta-l; text-align: initial !important; }
.-ta-i {         text-align: inherit !important; }
.-ta-l {         text-align: left    !important; }
.-ta-r {         text-align: right   !important; }
.-ta-s {         text-align: start   !important; }
.-ta-e {         text-align: end     !important; }
.-ta-c {         text-align: center  !important; }
.-ta-j {         text-align: justify !important; }

@media screen {
  .-ta-0-s { .-ta-0; }
  .-ta-i-s { .-ta-i; }
  .-ta-l-s { .-ta-l; }
  .-ta-r-s { .-ta-r; }
  .-ta-s-s { .-ta-s; }
  .-ta-e-s { .-ta-e; }
  .-ta-c-s { .-ta-c; }
  .-ta-j-s { .-ta-j; }
}

@media print {
  .-ta-0-p { .-ta-0; }
  .-ta-i-p { .-ta-i; }
  .-ta-l-p { .-ta-l; }
  .-ta-r-p { .-ta-r; }
  .-ta-s-p { .-ta-s; }
  .-ta-e-p { .-ta-e; }
  .-ta-c-p { .-ta-c; }
  .-ta-j-p { .-ta-j; }
}
