
/*################################*\
    bangs  |  _text-shadow.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2016-02-12

.-ts-0 { .-ts-n; text-shadow: initial !important; }
.-ts-i {         text-shadow: inherit !important; }
.-ts-n {         text-shadow: none    !important; }

@media screen {
  .-ts-0-s { .-ts-0; }
  .-ts-i-s { .-ts-i; }
  .-ts-n-s { .-ts-n; }
}

@media print {
  .-ts-0-p { .-ts-0; }
  .-ts-i-p { .-ts-i; }
  .-ts-n-p { .-ts-n; }
}
