
/*################################*\
    _width.less
\*################################*/
@import (reference) url('../node_modules/xmeter/src/__settings.less');

// Sets the width of a block.
//
// !w  =  width
//
// :0    =  initial (not 0)
// :i    =  inherit
// :a    =  auto
// :0o1  =  0 (not a percentage)
// :1o1  =  100%
// :1o2  =  50%
// :1o3  =  33%
// :2o3  =  66%
// :1o4  =  25%
// :3o4  =  75%
// :1o5  =  20%
// :2o5  =  40%
// :3o5  =  60%
// :4o5  =  80%
// :1o6  =  16%
// :5o6  =  83%
//
// @s  =  screen
// @p  =  print
//
// ^initial
// : `auto`
// ^inherited
// : false
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/width
// ^author
// : Chris Harvey
// ^updated
// : 2015-08-08

.\!w\:0 { width: initial !important; }
.\!w\:i { width: inherit !important; }
.\!w\:a { width: auto    !important; }
.\!w\:0o1 {                    width: 0    !important; }
.\!w\:1o1 { #XMETER .CONSTS(); width: @1o1 !important; }
.\!w\:1o2 { #XMETER .CONSTS(); width: @1o2 !important; }
.\!w\:2o2 { #XMETER .CONSTS(); width: @2o2 !important; }
.\!w\:1o3 { #XMETER .CONSTS(); width: @1o3 !important; }
.\!w\:2o3 { #XMETER .CONSTS(); width: @2o3 !important; }
.\!w\:3o3 { #XMETER .CONSTS(); width: @3o3 !important; }
.\!w\:1o4 { #XMETER .CONSTS(); width: @1o4 !important; }
.\!w\:2o4 { #XMETER .CONSTS(); width: @2o4 !important; }
.\!w\:3o4 { #XMETER .CONSTS(); width: @3o4 !important; }
.\!w\:4o4 { #XMETER .CONSTS(); width: @4o4 !important; }
.\!w\:1o5 { #XMETER .CONSTS(); width: @1o5 !important; }
.\!w\:2o5 { #XMETER .CONSTS(); width: @2o5 !important; }
.\!w\:3o5 { #XMETER .CONSTS(); width: @3o5 !important; }
.\!w\:4o5 { #XMETER .CONSTS(); width: @4o5 !important; }
.\!w\:5o5 { #XMETER .CONSTS(); width: @5o5 !important; }
.\!w\:1o6 { #XMETER .CONSTS(); width: @1o6 !important; }
.\!w\:2o6 { #XMETER .CONSTS(); width: @2o6 !important; }
.\!w\:3o6 { #XMETER .CONSTS(); width: @3o6 !important; }
.\!w\:4o6 { #XMETER .CONSTS(); width: @4o6 !important; }
.\!w\:5o6 { #XMETER .CONSTS(); width: @5o6 !important; }
.\!w\:6o6 { #XMETER .CONSTS(); width: @6o6 !important; }

@media screen {
  .\!w\:0\@s { .\!w\:0; }
  .\!w\:i\@s { .\!w\:i; }
  .\!w\:a\@s { .\!w\:a; }
  .\!w\:0o1\@s { .\!w\:0o1; }
  .\!w\:1o1\@s { .\!w\:1o1; }
  .\!w\:1o2\@s { .\!w\:1o2; }
  .\!w\:2o2\@s { .\!w\:2o2; }
  .\!w\:1o3\@s { .\!w\:1o3; }
  .\!w\:2o3\@s { .\!w\:2o3; }
  .\!w\:3o3\@s { .\!w\:3o3; }
  .\!w\:1o4\@s { .\!w\:1o4; }
  .\!w\:2o4\@s { .\!w\:2o4; }
  .\!w\:3o4\@s { .\!w\:3o4; }
  .\!w\:4o4\@s { .\!w\:4o4; }
  .\!w\:1o5\@s { .\!w\:1o5; }
  .\!w\:2o5\@s { .\!w\:2o5; }
  .\!w\:3o5\@s { .\!w\:3o5; }
  .\!w\:4o5\@s { .\!w\:4o5; }
  .\!w\:5o5\@s { .\!w\:5o5; }
  .\!w\:1o6\@s { .\!w\:1o6; }
  .\!w\:2o6\@s { .\!w\:2o6; }
  .\!w\:3o6\@s { .\!w\:3o6; }
  .\!w\:4o6\@s { .\!w\:4o6; }
  .\!w\:5o6\@s { .\!w\:5o6; }
  .\!w\:6o6\@s { .\!w\:6o6; }
}

@media print {
  .\!w\:0\@p { .\!w\:0; }
  .\!w\:i\@p { .\!w\:i; }
  .\!w\:a\@p { .\!w\:a; }
  .\!w\:0o1\@p { .\!w\:0o1; }
  .\!w\:1o1\@p { .\!w\:1o1; }
  .\!w\:1o2\@p { .\!w\:1o2; }
  .\!w\:2o2\@p { .\!w\:2o2; }
  .\!w\:1o3\@p { .\!w\:1o3; }
  .\!w\:2o3\@p { .\!w\:2o3; }
  .\!w\:3o3\@p { .\!w\:3o3; }
  .\!w\:1o4\@p { .\!w\:1o4; }
  .\!w\:2o4\@p { .\!w\:2o4; }
  .\!w\:3o4\@p { .\!w\:3o4; }
  .\!w\:4o4\@p { .\!w\:4o4; }
  .\!w\:1o5\@p { .\!w\:1o5; }
  .\!w\:2o5\@p { .\!w\:2o5; }
  .\!w\:3o5\@p { .\!w\:3o5; }
  .\!w\:4o5\@p { .\!w\:4o5; }
  .\!w\:5o5\@p { .\!w\:5o5; }
  .\!w\:1o6\@p { .\!w\:1o6; }
  .\!w\:2o6\@p { .\!w\:2o6; }
  .\!w\:3o6\@p { .\!w\:3o6; }
  .\!w\:4o6\@p { .\!w\:4o6; }
  .\!w\:5o6\@p { .\!w\:5o6; }
  .\!w\:6o6\@p { .\!w\:6o6; }
}
