
/*################################*\
    bangs  |  _width.less
\*################################*/

// ^author
// : Chris Harvey
// ^updated
// : 2017-04-22

.-w-0 { .-w-a; width: initial !important; }
.-w-i {        width: inherit !important; }
.-w-a {        width: auto    !important; }
.-w-z {        width: 0       !important; }

@media screen {
  .-w-0-s { .-w-0; }
  .-w-i-s { .-w-i; }
  .-w-a-s { .-w-a; }
  .-w-z-s { .-w-z; }
}

@media print {
  .-w-0-p { .-w-0; }
  .-w-i-p { .-w-i; }
  .-w-a-p { .-w-a; }
  .-w-z-p { .-w-z; }
}

@media screen and (min-width: 30em) {
  .-w-0-sK { .-w-0; }
  .-w-i-sK { .-w-i; }
  .-w-a-sK { .-w-a; }
  .-w-z-sK { .-w-z; }
}

@media screen and (min-width: 45em) {
  .-w-0-sM { .-w-0; }
  .-w-i-sM { .-w-i; }
  .-w-a-sM { .-w-a; }
  .-w-z-sM { .-w-z; }
}

@media screen and (min-width: 60em) {
  .-w-0-sG { .-w-0; }
  .-w-i-sG { .-w-i; }
  .-w-a-sG { .-w-a; }
  .-w-z-sG { .-w-z; }
}

@media screen and (min-width: 75em) {
  .-w-0-sT { .-w-0; }
  .-w-i-sT { .-w-i; }
  .-w-a-sT { .-w-a; }
  .-w-z-sT { .-w-z; }
}

@media screen and (min-width: 90em) {
  .-w-0-sP { .-w-0; }
  .-w-i-sP { .-w-i; }
  .-w-a-sP { .-w-a; }
  .-w-z-sP { .-w-z; }
}

@media not all and (min-width: 30em) {
  .-w-0-nK { .-w-0; }
  .-w-i-nK { .-w-i; }
  .-w-a-nK { .-w-a; }
  .-w-z-nK { .-w-z; }
}

@media not all and (min-width: 45em) {
  .-w-0-nM { .-w-0; }
  .-w-i-nM { .-w-i; }
  .-w-a-nM { .-w-a; }
  .-w-z-nM { .-w-z; }
}

@media not all and (min-width: 60em) {
  .-w-0-nG { .-w-0; }
  .-w-i-nG { .-w-i; }
  .-w-a-nG { .-w-a; }
  .-w-z-nG { .-w-z; }
}

@media not all and (min-width: 75em) {
  .-w-0-nT { .-w-0; }
  .-w-i-nT { .-w-i; }
  .-w-a-nT { .-w-a; }
  .-w-z-nT { .-w-z; }
}

@media not all and (min-width: 90em) {
  .-w-0-nP { .-w-0; }
  .-w-i-nP { .-w-i; }
  .-w-a-nP { .-w-a; }
  .-w-z-nP { .-w-z; }
}
