
/*################################*\
    bangs  |  _bottom.less
\*################################*/

// Specifies how far to position an element from the bottom.
//
// b  =  bottom
//
// 0  =  initial
// i  =  inherit
// a  =  auto
// z  =  zero
//
// ^initial
// : `auto`
// ^inherited
// : false
// ^url
// : https://developer.mozilla.org/en-US/docs/Web/CSS/bottom
// ^author
// : Chris Harvey
// ^updated
// : 2016-04-05

.-b-0 { .-b-a; bottom: initial !important; }
.-b-i {        bottom: inherit !important; }
.-b-a {        bottom: auto    !important; }
.-b-z {        bottom: 0       !important; }

@media screen {
  .-b-0-s { .-b-0; }
  .-b-i-s { .-b-i; }
  .-b-a-s { .-b-a; }
  .-b-z-s { .-b-z; }
}

@media print {
  .-b-0-p { .-b-0; }
  .-b-i-p { .-b-i; }
  .-b-a-p { .-b-a; }
  .-b-z-p { .-b-z; }
}
